Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

Add installation method for Homebrew
  README.md
Labels: none

Update install script to use secure flags
  packages/bun-landing/pages/index.tsx
  src/cli/upgrade_command.zig
Labels: packages:bun, packages:bun-landing

add hasIndices flags
  src/js_lexer.zig
Labels: packages:bun

more tests for lookbehinds, unicode, and hex characters
  test/bun.js/oniguruma-regexp.test.ts
Labels: tests

micro-optimize
  src/bun.js/builtins/js/StreamInternals.js
Labels: packages:bun

Fix infinite loop
  src/js_ast.zig
Labels: packages:bun

Fix "/" in example
  examples/http-file.ts
Labels: templates

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

chore: remove outdated `var` usages (#1364)
  README.md
Labels: none

handled case when hex doesnt have enough digit, more tests
  src/bun.js/bindings/OnigurumaRegExp.cpp
  test/bun.js/oniguruma-regexp.test.ts
Labels: packages:bun, tests

fix adding characters out of bounds
  src/bun.js/bindings/OnigurumaRegExp.cpp
  test/bun.js/oniguruma-regexp.test.ts
Labels: packages:bun, tests

backslash in character class
  src/bun.js/bindings/OnigurumaRegExp.cpp
  test/bun.js/oniguruma-regexp.test.ts
Labels: packages:bun, tests

Implement `setMaxListeners` and `getMaxListeners`
  src/bun.js/bindings/webcore/JSEventEmitter.cpp
Labels: packages:bun

Fix test failure
  src/bun.js/webcore/response.zig
Labels: packages:bun

Reload node:fs in development
  src/bun.js/javascript.zig
Labels: packages:bun

Fix `import Foo, {bar}` when from hardcoded builtin modules in runtime
  src/js_printer.zig
  test/bun.js/event-emitter.test.ts
Labels: packages:bun, tests

compile() returns object
  src/bun.js/bindings/OnigurumaRegExp.cpp
  test/bun.js/oniguruma-regexp.test.ts
Labels: packages:bun, tests

Fix segfault when logging position object from failed nested import
  src/bun.js/javascript.zig
Labels: packages:bun

Add test for ResolveError.position being inspectable
  test/bun.js/file-importing-nonexistent-file.js
  test/bun.js/resolve-error.test.ts
Labels: tests

Emit errors
  src/bun.js/bindings/webcore/EventEmitter.cpp
  src/bun.js/bindings/webcore/EventEmitter.h
Labels: packages:bun

Fix bugs in mask boolean values
  src/bun.js/bindings/JSReadableState.cpp
  src/bun.js/bindings/JSReadableState.h
Labels: packages:bun

Fix error handling logic in read()
  src/bun.js/bindings/JSReadableHelper.cpp
Labels: packages:bun

Make Node Streams work better in Bun
  src/bun.js/streams.exports.js
Labels: packages:bun

Implement `fs.createReadStream`, begin `fs.createWriteStream`
  src/bun.js/fs.exports.js
Labels: packages:bun

Add test for `fs.createReadStream`
  test/bun.js/fs.test.js
Labels: tests

Treat invalid buffer value as utf8 string
  src/bun.js/webcore/encoding.zig
Labels: packages:bun

Codegen
  src/bun.js/api/server.zig
  src/bun.js/builtins/cpp/StreamInternalsBuiltins.cpp
Labels: packages:bun

Add sqlite to include list
  .vscode/c_cpp_properties.json
Labels: none

fix: spawn&spawnSync exit code
  src/bun.js/api/bun/subprocess.zig
Labels: packages:bun

test: add spawn exit code test
  test/bun.js/spawn.test.ts
Labels: tests

Fix spawn exitcode (#1371)
  src/bun.js/api/bun/subprocess.zig
  test/bun.js/spawn.test.ts
Labels: packages:bun, tests

feat(node/os): implement 'os.machine()'
  src/bun.js/node/node_os.zig
  src/bun.js/os.exports.js
  src/c.zig
  src/darwin_c.zig
  src/linux_c.zig
  test/bun.js/os.test.js
Labels: packages:bun, tests

chore: fix tab char
  src/darwin_c.zig
Labels: packages:bun

fix(fetch): resolve segfaults with 'Response'
  src/bun.js/webcore/response.zig
Labels: packages:bun

nit: use shorter check
  src/bun.js/webcore/response.zig
Labels: packages:bun

fix(fetch): stop `new Response(null)` from segfaulting (#1383)
  src/bun.js/webcore/response.zig
Labels: packages:bun

Duplicate symbols
  Dockerfile
  Makefile
  test/bun.js/web-crypto.test.ts
Labels: tests

Update c_cpp_properties.json
  .vscode/c_cpp_properties.json
Labels: none

Fix `ReadableStream.prototype.tee`
  src/bun.js/builtins/cpp/ReadableStreamInternalsBuiltins.cpp
  src/bun.js/builtins/js/ReadableStreamInternals.js
  test/bun.js/streams.test.js
Labels: packages:bun, tests

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*
