Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

Bump version
  Dockerfile
  Makefile
  build-id
  src/__global.zig
  src/bun.js/webcore/response.zig
Labels: packages:bun

Add section about upgrading in the readme
  README.md
Labels: none

Don't set CLOEXEC
  src/bun.js/api/bun/subprocess.zig
Labels: packages:bun

Poll in
  src/bun.js/api/bun/subprocess.zig
Labels: packages:bun

use tweaked CJS transform
  src/bun.js/assert.exports.js
Labels: packages:bun

Add test for calling assert
  test/bun.js/assert-test.test.ts
Labels: tests

added pcre2 submodule
  .gitmodules
Labels: none

Freeze template literal polyfilled arrays
  src/js_printer.zig
Labels: packages:bun

Make logger point one character further
  src/logger.zig
Labels: packages:bun

Process inherits from EventEmitter
  src/bun.js/bindings/Process.h
  src/bun.js/bindings/ZigGlobalObject.cpp
Labels: packages:bun

pcre2 regex boilerplate
  Makefile
  src/bun.js/bindings/PCRE2RegExp.cpp
  src/bun.js/bindings/PCRE2RegExp.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  src/bun.js/bindings/sqlite/JSSQLStatement.h
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
Labels: packages:bun

Fix issue with exit callback in Bun.spawn() never firing
  src/bun.js/base.zig
  test/bun.js/bun-streams-test-fifo.sh
  test/bun.js/mkfifo.ts
  test/bun.js/spawn.test.ts
  test/bun.js/streams.test.js
Labels: packages:bun, tests

Support cache with same name applied to multiple getters
  src/bun.js/scripts/class-definitions.ts
  src/bun.js/scripts/generate-classes.ts
Labels: packages:bun

Ensure we set globalThis in the FileBlob / FileSink
  src/bun.js/webcore/streams.zig
Labels: packages:bun

Handle EAGAIN in Bun.write() for short input
  src/bun.js/webcore/response.zig
Labels: packages:bun

Use write() and read() since not every file type supports positional
  src/io/io_darwin.zig
Labels: packages:bun

Keep the process alive
  src/bun.js/api/bun.classes.ts
  src/bun.js/api/bun.zig
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/event_loop.zig
  src/bun.js/javascript.zig
Labels: packages:bun

Change behavior of Bun.write
  test/bun.js/bun-write.test.js
Labels: tests

Automatically close stdout/stderr on subprocess exit if possible
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/webcore/streams.zig
Labels: packages:bun

Implement `fs.rm` cross-platformly
  src/bun.js/node/node_fs.zig
  test/bun.js/fs.test.js
Labels: packages:bun, tests

Update bun-write.test.js
  test/bun.js/bun-write.test.js
Labels: tests

Add test that reads & writes stdin/stderr
  test/bun.js/bash-echo.sh
  test/bun.js/spawn.test.ts
  test/bun.js/streams.test.js
Labels: tests

Use poll() to check if writable
  src/bun.js/webcore/streams.zig
Labels: packages:bun

Work around Zig C ABI bug on Linux
  src/deps/_libusockets.h
  src/deps/libuwsockets.cpp
  src/deps/uws.zig
Labels: packages:bun

Update server.zig
  src/bun.js/api/server.zig
Labels: packages:bun

Fix typo in datetime.zig
  src/deps/zig-datetime/src/datetime.zig
Labels: packages:bun

Maybe fix linux bug?
  src/bun.js/api/bun/subprocess.zig
Labels: packages:bun

Add test for Bun.file() for stdin and stdout
  src/bun.js/api/bun/subprocess.zig
  test/bun.js/spawn.test.ts
Labels: packages:bun, tests

Fixup example
  examples/spawn.ts
Labels: templates

Make `Bun.spawn` work on Linux
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/webcore/streams.zig
  src/global.zig
  test/bun.js/body-stream.test.ts
  test/bun.js/log-test.test.ts
  test/bun.js/spawn.test.ts
Labels: packages:bun, tests

tests for pcre2 regex
  test/bun.js/pcre2-regexp.test.ts
Labels: tests

flag validation, getters, construct and compile mostly working
  src/bun.js/bindings/PCRE2RegExp.cpp
Labels: packages:bun

Implement `Bun.spawnSync`
  src/bun.js/api/bun.zig
  src/bun.js/api/bun/subprocess.zig
  test/bun.js/log-test.test.ts
  test/bun.js/spawn.test.ts
Labels: packages:bun, tests

Fix crash when decoding latin1 rope strings and the GC is running
  src/bun.js/bindings/webcore/JSTextEncoder.cpp
Labels: packages:bun

remove config struct
  src/deps/_libusockets.h
  src/deps/libuwsockets.cpp
  src/deps/uws.zig
Labels: packages:bun

Remove dead code
  src/bun.js/api/bun/subprocess.zig
Labels: packages:bun

Fix test bug
  test/bun.js/body-stream.test.ts
Labels: tests

fix: import alias
  src/js_printer.zig
Labels: packages:bun

support array as first arg in `Bun.spawn`
  src/bun.js/api/bun/subprocess.zig
  test/bun.js/bash-echo.sh
  test/bun.js/spawn.test.ts
Labels: packages:bun, tests

Stop keeping the process alive for too long
  src/bun.js/api/bun/subprocess.zig
Labels: packages:bun

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*
