Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

Add `navigator.userAgent` , `navigator.hardwareConcurrency`
  src/__global.zig
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/headers-handwritten.h
  test/bun.js/web-globals.test.js
Labels: packages:bun, tests

meant to include this in the previous commit
  src/bun.js/bindings/ZigGlobalObject.h
  src/http_client_async.zig
Labels: packages:bun

Allow .env files to define the same key multiple times
  src/env_loader.zig
Labels: packages:bun

fix: add destination to ADD command in Dockerfile
  dockerhub/Dockerfile
Labels: none

fix: add destination to ADD command in Dockerfile (#1268)
  dockerhub/Dockerfile
Labels: none

Be more careful with process.argv
  src/bun.js/node/types.zig
Labels: packages:bun

fixup
  src/bun.js/node/types.zig
Labels: packages:bun

Update types.zig
  src/bun.js/node/types.zig
Labels: packages:bun

Increase macro stack size
  src/js_ast.zig
Labels: packages:bun

Fix crash when creating an empty array
  src/bun.js/bindings/bindings.cpp
Labels: packages:bun

Fix crash with `jsxFragment` and `jsxFactory` in tsconfig.json
  src/resolver/tsconfig_json.zig
Labels: packages:bun

Fix `preact` & other "classic" jsx transforms, most likely
  src/js_parser.zig
  src/options.zig
  test/bun.js/transpiler.test.js
Labels: packages:bun, tests

Fix `bun run foo --` by ignoring `--`
  src/deps/zig-clap/clap/comptime.zig
  test/apps/bun-run-check.sh
Labels: packages:bun, tests

[breaking] Bun.serve().hostname should return the hostname instead of the baseURI
  src/bun.js/api/server.zig
Labels: packages:bun

1 event loop per thread. Instead of 3.
  src/bun.js/api/server.zig
  src/bun.js/event_loop.zig
  src/bun.js/webcore/streams.zig
  src/bun_js.zig
  src/deps/uws.zig
  src/io/io_darwin.zig
  src/io/io_linux.zig
  test/apps/bun-install.sh
  test/bun.js/ffi.test.fixture.callback.c
  test/bun.js/ffi.test.fixture.receiver.c
  test/bun.js/serve.test.ts
Labels: packages:bun, tests

Remove a mutex when enqueuing concurrent tasks
  src/bun.js/event_loop.zig
Labels: packages:bun

Add epoll to list of syscalls that can fail
  src/bun.js/node/syscall.zig
  test/bun.js/serve.test.ts
Labels: packages:bun, tests

Fix linux build
  src/bun.js/event_loop.zig
  src/io/io_linux.zig
Labels: packages:bun

Faster `Blob` + begin to implement `FileSink`
  bench/snippets/blob.mjs
  build-id
  src/bun.js/api/bun.zig
  src/bun.js/api/server.zig
  src/bun.js/bindings/JSSink.cpp
  src/bun.js/bindings/JSSink.h
  src/bun.js/bindings/JSSinkLookupTable.h
  src/bun.js/bindings/ZigGeneratedClasses+DOMClientIsoSubspaces.h
  src/bun.js/bindings/ZigGeneratedClasses+DOMIsoSubspaces.h
  src/bun.js/bindings/ZigGeneratedClasses+lazyStructureHeader.h
  src/bun.js/bindings/ZigGeneratedClasses+lazyStructureImpl.h
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/bindings/generated_classes_list.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun.js/event_loop.zig
  src/bun.js/javascript.zig
  src/bun.js/scripts/class-definitions.ts
  src/bun.js/scripts/generate-classes.ts
  src/bun.js/scripts/generate-jssink.js
  src/bun.js/webcore/response.classes.ts
  src/bun.js/webcore/response.zig
  src/bun.js/webcore/streams.zig
  src/js_ast.zig
  test/bun.js/web-globals.test.js
Labels: packages:bun, tests, benchmarks

Update streams.zig
  src/bun.js/webcore/streams.zig
Labels: packages:bun

Use JSC heap for .arrayBuffer()
  src/bun.js/webcore/response.zig
Labels: packages:bun

Fix issue with react-is in bun-framework-next
  packages/bun-framework-next/package.json
Labels: packages:bun-framework-next

Implement `Bun.which`
  src/bun.js/api/bun.zig
  test/bun.js/which.test.ts
Labels: packages:bun, tests

Update bindings.zig
  src/bun.js/bindings/bindings.zig
Labels: packages:bun

Update package.json
  packages/bun-framework-next/package.json
Labels: packages:bun-framework-next

Fix template string issues
  src/js_ast.zig
  src/js_lexer.zig
  src/js_parser.zig
  src/js_printer.zig
  src/string_immutable.zig
Labels: packages:bun

Fix application of is_potential_call
  src/js_parser.zig
Labels: packages:bun

wip
  src/bun.js/api/bun.classes.ts
  src/bun.js/api/bun.zig
  src/bun.js/api/bun/spawn.zig
  src/bun.js/bindings/ZigGeneratedClasses+DOMClientIsoSubspaces.h
  src/bun.js/bindings/ZigGeneratedClasses+DOMIsoSubspaces.h
  src/bun.js/bindings/ZigGeneratedClasses+lazyStructureHeader.h
  src/bun.js/bindings/ZigGeneratedClasses+lazyStructureImpl.h
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/bindings/generated_classes_list.zig
  src/bun.js/builtins/cpp/ReadableStreamBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamInternalsBuiltins.cpp
  src/bun.js/builtins/js/ReadableStream.js
  src/bun.js/builtins/js/ReadableStreamInternals.js
  src/bun.js/event_loop.zig
  src/bun.js/javascript.zig
  src/bun.js/node/syscall.zig
  src/bun.js/webcore/streams.zig
  src/deps/uws.zig
  src/env_loader.zig
  src/jsc.zig
  test/bun.js/filesink.test.ts
Labels: packages:bun, tests

test: Promisify basic tests (#1018)
  test/bun.js/util/util-promisify.test.js
  test/bun.js/util/util.test.js
Labels: tests

Add tests for util.types
  test/bun.js/util/module.js
  test/bun.js/util/util.types.test.js
Labels: tests

Linux implementation
  src/bun.js/api/bun.zig
  src/bun.js/api/bun/spawn.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/event_loop.zig
  src/bun.js/node/syscall.zig
  src/linux_c.zig
Labels: packages:bun

Make Linux implementation work
  src/bun.js/api/bun.zig
  src/bun.js/api/bun/spawn.zig
  src/linux_c.zig
Labels: packages:bun

:sleepy:
  examples/spawn.ts
  src/bun.js/api/bun/spawn.zig
  src/bun.js/builtins/cpp/ReadableStreamInternalsBuiltins.cpp
  src/bun.js/builtins/js/ReadableStreamInternals.js
  src/bun.js/event_loop.zig
  src/bun.js/webcore/streams.zig
Labels: packages:bun, templates

Update package.json
  packages/bun-framework-next/package.json
Labels: packages:bun-framework-next

Make Linux implementation work
  src/bun.js/api/bun.zig
  src/bun.js/api/bun/spawn.zig
  src/linux_c.zig
Labels: packages:bun

:sleepy:
  examples/spawn.ts
  src/bun.js/api/bun/spawn.zig
  src/bun.js/builtins/cpp/ReadableStreamInternalsBuiltins.cpp
  src/bun.js/builtins/js/ReadableStreamInternals.js
  src/bun.js/event_loop.zig
  src/bun.js/webcore/streams.zig
Labels: packages:bun, templates

Linux implementation
  src/bun.js/api/bun.zig
  src/bun.js/api/bun/spawn.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/event_loop.zig
  src/bun.js/node/syscall.zig
  src/linux_c.zig
Labels: packages:bun

wip
  src/bun.js/api/bun.classes.ts
  src/bun.js/api/bun.zig
  src/bun.js/api/bun/spawn.zig
  src/bun.js/bindings/ZigGeneratedClasses+DOMClientIsoSubspaces.h
  src/bun.js/bindings/ZigGeneratedClasses+DOMIsoSubspaces.h
  src/bun.js/bindings/ZigGeneratedClasses+lazyStructureHeader.h
  src/bun.js/bindings/ZigGeneratedClasses+lazyStructureImpl.h
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/bindings/generated_classes_list.zig
  src/bun.js/builtins/cpp/ReadableStreamBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamInternalsBuiltins.cpp
  src/bun.js/builtins/js/ReadableStream.js
  src/bun.js/builtins/js/ReadableStreamInternals.js
  src/bun.js/event_loop.zig
  src/bun.js/javascript.zig
  src/bun.js/node/syscall.zig
  src/bun.js/webcore/streams.zig
  src/deps/uws.zig
  src/env_loader.zig
  src/jsc.zig
  test/bun.js/filesink.test.ts
Labels: packages:bun, tests

Implement `isatty` in `node:tty`
  src/bun.js/bindings/ModuleLoader.cpp
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/javascript.zig
  src/bun.js/modules/TTYModule.h
Labels: packages:bun

Fix `console.log` not printing an empty line
  src/bun.js/bindings/exports.zig
Labels: packages:bun

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*
