Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*

another test
  src/bun.js/bindings/node_os/cpuinfo.cpp
  src/bun.js/bindings/node_os/test.cpp
Labels: packages:bun

improved parsing
  src/bun.js/bindings/node_os/a.out
  src/bun.js/bindings/node_os/cpuinfo.cpp
  src/bun.js/bindings/node_os/test.cpp
Labels: packages:bun

added small check
  src/bun.js/bindings/node_os/a.out
  src/bun.js/bindings/node_os/cpuinfo.cpp
Labels: packages:bun

Bonk
  src/bun.js/bindings/node_os/a.out
  src/bun.js/bindings/node_os/cpuinfo.cpp
Labels: packages:bun

FINISH 🚀🚀🚀🚀🚀🚀
  .vscode/tasks.json
  bench/node_os/test.js
  src/bun.js/bindings/node_os/a.out
  src/bun.js/bindings/node_os/test.cpp
  src/bun.js/node/node_os.zig
Labels: packages:bun, benchmarks

Update tasks.json
  .vscode/tasks.json
Labels: none

NetworkInterface test
  src/bun.js/bindings/node_os/a.out
  src/bun.js/bindings/node_os/interface_addresses.cpp
  src/bun.js/bindings/node_os/interface_addresses.h
  src/bun.js/bindings/node_os/test.cpp
Labels: packages:bun

FINISH 🚀🚀🚀
  .vscode/launch.json
  src/bun.js/bindings/node_os/a.out
  src/bun.js/bindings/node_os/test.cpp
  src/bun.js/node/node_os.zig
Labels: packages:bun

docs: add information for bun issues in wsl
  README.md
Labels: none

add native BufferList
  .gitmodules
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/JSBuffer.h
  src/bun.js/bindings/JSBufferList.cpp
  src/bun.js/bindings/JSBufferList.h
  src/bun.js/streams.exports.js
Labels: packages:bun

use RopeBuilder
  src/bun.js/bindings/JSBufferList.cpp
Labels: packages:bun

Fix incorrect `indexOfNotChar` causing sourcemaps bugs
  src/string_immutable.zig
Labels: packages:bun

Faster way to lookup mimetype
  src/bun.js/webcore/response.zig
Labels: packages:bun

Fix `Request` and `Response` in macros
  src/js_ast.zig
Labels: packages:bun

feat: implement native os module (#1115)
  .vscode/launch.json
  .vscode/settings.json
  Makefile
  bench/modules/node_os/.env
  bench/modules/node_os/bun.js
  bench/modules/node_os/node.mjs
  bench/modules/node_os/package.json
  bench/package.json
  src/__global.zig
  src/bun.js/api/bun.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/node_os/cpuinfo.cpp
  src/bun.js/bindings/node_os/cpuinfo.h
  src/bun.js/bindings/node_os/interface_addresses.cpp
  src/bun.js/bindings/node_os/interface_addresses.h
  src/bun.js/bindings/node_os/system_memory.cpp
  src/bun.js/bindings/node_os/system_memory.h
  src/bun.js/javascript.zig
  src/bun.js/node/node_os.zig
  src/bun.js/node/os/constants.zig
  src/bun.js/os.exports.js
  src/c.zig
  src/darwin_c.zig
  src/jsc.zig
  src/linux_c.zig
  test/bun.js/os.test.js
Labels: packages:bun, tests, benchmarks

fix: Update broken README links
  README.md
Labels: none

use Deque
  src/bun.js/bindings/JSBufferList.cpp
  src/bun.js/bindings/JSBufferList.h
Labels: packages:bun

Add native BufferList (#1146)
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/JSBuffer.h
  src/bun.js/bindings/JSBufferList.cpp
  src/bun.js/bindings/JSBufferList.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/streams.exports.js
Labels: packages:bun

fix mkdtemp
  src/bun.js/node/node_fs.zig
Labels: packages:bun

Update src/bun.js/node/node_fs.zig
  src/bun.js/node/node_fs.zig
Labels: packages:bun

Update src/bun.js/node/node_fs.zig
  src/bun.js/node/node_fs.zig
Labels: packages:bun

fix mkdtemp (#1151)
  src/bun.js/node/node_fs.zig
Labels: packages:bun

Update node_fs.zig
  src/bun.js/node/node_fs.zig
Labels: packages:bun

fix: Update broken README links (#1148)
  README.md
Labels: none

Fix debug build cache
  Makefile
Labels: none

Implement `napi_add_finalizer`
  src/bun.js/bindings/napi.cpp
Labels: packages:bun

Remove pointer to stack buffer in `os` module and fix build issue
  src/c.zig
  src/darwin_c.zig
  src/linux_c.zig
Labels: packages:bun

Update napi.zig
  src/napi/napi.zig
Labels: packages:bun

added shell to STRIP variable definition
  Makefile
Labels: none

added shell to STRIP variable definition (#1156)
  Makefile
Labels: none

fix compile error
  src/bun.js/node/node_os.zig
  src/c.zig
  src/linux_c.zig
Labels: packages:bun

fix compile error (#1157)
  src/bun.js/node/node_os.zig
  src/c.zig
  src/linux_c.zig
Labels: packages:bun

Fix ffi uint64_t parameter
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/headers.h
  src/bun.js/ffi.exports.js
  test/bun.js/ffi.test.js
Labels: packages:bun, tests

Fix ffi uint64_t parameter (#1158)
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/headers.h
  src/bun.js/ffi.exports.js
  test/bun.js/ffi.test.js
Labels: packages:bun, tests

feat(cli): show sha in version
  src/cli.zig
Labels: packages:bun

fix: remove duplication Global.
  src/cli.zig
Labels: packages:bun

started working on it
  src/fs.zig
Labels: packages:bun

remove useless function
  src/cli/run_command.zig
  src/fs.zig
Labels: packages:bun

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none
