Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

invalidate column name caches when the schema of table may change (#1056)
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  src/bun.js/bindings/sqlite/JSSQLStatement.h
Labels: packages:bun

remove column name caches in js
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  src/bun.js/bindings/sqlite/sqlite.exports.js
Labels: packages:bun

refactor(src/tagged_pointer): `IntPrimtiive` -> `IntPrimitive` (#1046)
  src/tagged_pointer.zig
Labels: packages:bun

Delete package-lock.json
  examples/react-ts/package-lock.json
Labels: templates

remove column name caches in js (#1057)
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  src/bun.js/bindings/sqlite/sqlite.exports.js
Labels: packages:bun

Delete setupTests.ts
  examples/react-ts/src/setupTests.ts
Labels: templates

use native buffer in polyfill
  src/node-fallbacks/buffer.js
Labels: packages:bun

Update bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64-baseline.yml
Labels: none

Add Expo to examples
  examples/expo/.expo-shared/assets.json
  examples/expo/App.js
  examples/expo/app.json
  examples/expo/assets/adaptive-icon.png
  examples/expo/assets/favicon.png
  examples/expo/assets/icon.png
  examples/expo/assets/splash.png
  examples/expo/babel.config.js
  examples/expo/package.json
Labels: templates

Add missing sqlite3 symbol
  src/bun.js/bindings/sqlite/lazy_sqlite3.h
Labels: packages:bun

Update WebKit
  src/bun.js/bindings/BunJSCModule.cpp
  src/bun.js/bindings/ImportMetaObject.cpp
  src/bun.js/bindings/JSFFIFunction.cpp
  src/bun.js/bindings/Path.cpp
  src/bun.js/bindings/Process.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/napi.cpp
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  src/bun.js/bindings/webcore/JSAbortSignal.cpp
  src/bun.js/bindings/webcore/JSDOMIterator.h
  src/bun.js/bindings/webcore/JSTextEncoder.cpp
  test/bun.js/ffi.test.js
Labels: packages:bun, tests

Update WebKit URLs
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
  Dockerfile.devcontainer
Labels: none

Make versions consistent
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
Labels: none

[bun error] fix typo in markdown.ts (#995)
  packages/bun-error/markdown.ts
Labels: packages:bun-error

Make SyntheticModuleRecord::tryCreateWithExportNamesAndValues public
  Makefile
  src/bun.js/bindings/SyntheticModuleRecord.cpp
  src/bun.js/bindings/SyntheticModuleRecord.h
Labels: packages:bun

Improve event loop reliability on Linux
  Makefile
  misctools/fetch.zig
  misctools/http_bench.zig
  src/analytics/analytics_thread.zig
  src/bun.js/api/bun.zig
  src/bun.js/event_loop.zig
  src/bun.js/webcore/response.zig
  src/bun.js/webcore/streams.zig
  src/bun_js.zig
  src/cli/create_command.zig
  src/http_client_async.zig
  src/install/install.zig
  src/io/io_linux.zig
  src/network_thread.zig
  src/output.zig
  src/thread_pool.zig
  src/watcher.zig
Labels: packages:bun

refactor(lockfile.zig): rename `old_root_dependencies_list` const
  src/install/lockfile.zig
Labels: packages:bun

refactor(completions): `dependenices` -> `dependencies` readability fix
  completions/bun.fish
  completions/bun.zsh
  completions/spec.yaml
Labels: none

[Bun.serve] Fix crash on `req.headers` async
  src/bun.js/api/server.zig
Labels: packages:bun

wip SyntheticModule
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/sizes.zig
  src/bun.js/headergen/sizegen.cpp
  src/bun.js/javascript.zig
  src/http/method.zig
Labels: packages:bun

Fix macOS build
  src/io/io_darwin.zig
Labels: packages:bun

fixups
  src/bun_js.zig
  src/network_thread.zig
Labels: packages:bun

Update webKit
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
  Dockerfile.devcontainer
Labels: none

Add synthetic buffer module
  Makefile
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/javascript.zig
  src/bun.js/modules/Buffer.h
Labels: packages:bun

rename Buffer.h to BufferModule.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/modules/BufferModule.h
Labels: packages:bun

Add synthetic buffer module (#1076)
  Makefile
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/javascript.zig
  src/bun.js/modules/BufferModule.h
Labels: packages:bun

feat: add express-like api example (issues-1075)
  examples/express/.gitignore
  examples/express/README.md
  examples/express/index.ts
  examples/express/middleware.ts
  examples/express/package.json
  examples/express/router.ts
  examples/express/tsconfig.json
Labels: templates

feat: change examples name from express to bunrest
  examples/bunrest/.gitignore
  examples/bunrest/README.md
  examples/bunrest/index.ts
  examples/bunrest/middleware.ts
  examples/bunrest/package.json
  examples/bunrest/router.ts
  examples/bunrest/tsconfig.json
Labels: templates

feat: rm express dir
  examples/express/.gitignore
  examples/express/README.md
  examples/express/index.ts
  examples/express/middleware.ts
  examples/express/package.json
  examples/express/router.ts
  examples/express/tsconfig.json
Labels: templates

Fix active_task count for timeout tasks
  src/bun.js/event_loop.zig
Labels: packages:bun

Fix active_task count for timeout tasks (#1081)
  src/bun.js/event_loop.zig
Labels: packages:bun

fix http server segfault by making sure sink is not GC'ed
  src/bun.js/builtins/cpp/ByteLengthQueuingStrategyBuiltins.cpp
  src/bun.js/builtins/cpp/CountQueuingStrategyBuiltins.cpp
  src/bun.js/builtins/cpp/ImportMetaObjectBuiltins.cpp
  src/bun.js/builtins/cpp/JSBufferConstructorBuiltins.cpp
  src/bun.js/builtins/cpp/JSBufferPrototypeBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableByteStreamControllerBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableByteStreamInternalsBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamBYOBReaderBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamBYOBRequestBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamDefaultControllerBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamDefaultReaderBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamInternalsBuiltins.cpp
  src/bun.js/builtins/cpp/StreamInternalsBuiltins.cpp
  src/bun.js/builtins/cpp/TransformStreamBuiltins.cpp
  src/bun.js/builtins/cpp/TransformStreamDefaultControllerBuiltins.cpp
  src/bun.js/builtins/cpp/TransformStreamInternalsBuiltins.cpp
  src/bun.js/builtins/cpp/WritableStreamDefaultControllerBuiltins.cpp
  src/bun.js/builtins/cpp/WritableStreamDefaultWriterBuiltins.cpp
  src/bun.js/builtins/cpp/WritableStreamInternalsBuiltins.cpp
  src/bun.js/builtins/js/ReadableStreamInternals.js
Labels: packages:bun

Fix http server segfault by making controller not get GC'ed
  bench/react-hello-world/react-hello-world.jsx
  src/bun.js/bindings/JSSink.cpp
  src/bun.js/bindings/JSSink.h
  src/bun.js/bindings/JSSinkLookupTable.h
  src/bun.js/event_loop.zig
  src/bun.js/generate-jssink.js
Labels: packages:bun, benchmarks

fix format
  src/bun.js/bindings/JSSink.cpp
  src/bun.js/bindings/JSSink.h
  src/bun.js/generate-jssink.js
Labels: packages:bun

Fix server segfault by making controller not early GC'ed (#1090)
  bench/react-hello-world/react-hello-world.jsx
  src/bun.js/bindings/JSSink.cpp
  src/bun.js/bindings/JSSink.h
  src/bun.js/bindings/JSSinkLookupTable.h
  src/bun.js/generate-jssink.js
Labels: packages:bun, benchmarks

[bun:sqlite] Add DOMJIT to get()
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
Labels: packages:bun

Slightly improve header init perf
  src/bun.js/webcore/response.zig
Labels: packages:bun

[bun:ffi] Improve `ptr()` performance and implement code generation for DOMJIT
  src/bun.js/api/bun.zig
  src/bun.js/api/ffi.zig
  src/bun.js/base.zig
  src/bun.js/bindings/JSFFIFunction.cpp
  src/bun.js/bindings/ZigGeneratedCode.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigLazyStaticFunctions-inlines.h
  src/bun.js/bindings/ZigLazyStaticFunctions.h
  src/bun.js/bindings/bindings-generator.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/header-gen.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun.js/bindings/sizes.zig
  src/bun.js/bindings/webcore/DOMJITIDLType.h
  src/bun.js/ffi.exports.js
  src/bun.js/headergen/sizegen.cpp
  src/bun.js/javascript.zig
Labels: packages:bun

Update react-hello-world.jsx
  bench/react-hello-world/react-hello-world.jsx
Labels: benchmarks

Update http_client_async.zig
  src/http_client_async.zig
Labels: packages:bun

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*
