Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*

fix upon reviews
  src/bun.js/bindings/JSBuffer.cpp
Labels: packages:bun

Add buffer.indexOf, includes and lastIndexOf (#1112)
  src/bun.js/bindings/JSBuffer.cpp
  test/bun.js/buffer.test.js
Labels: packages:bun, tests

feat: implement os module
  packages/bun-error/package-lock.json
  src/bun.js/javascript.zig
Labels: packages:bun, packages:bun-error

revert(bun-error): package-lock.json
  packages/bun-error/package-lock.json
Labels: packages:bun-error

Add `code` to `ResolveError`
  src/bun.js/javascript.zig
Labels: packages:bun

Fix running zig tests
  src/env.zig
Labels: packages:bun

Fix crash on invalid JSX
  src/js_parser.zig
Labels: packages:bun

feat: implement EOL
  .vscode/c_cpp_properties.json
  packages/bun-error/package-lock.json
  src/bun.js/api/bun.zig
  src/bun.js/bindings/Os.cpp
  src/bun.js/bindings/Os.h
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun.js/javascript.zig
  src/bun.js/node/node_os.zig
  src/bun.js/os.exports.js
  src/jsc.zig
Labels: packages:bun, packages:bun-error

feat: implement EOL
  src/bun.js/bindings/Os.cpp
  src/bun.js/os.exports.js
Labels: packages:bun

feat: implement arch function
  src/__global.zig
  src/bun.js/bindings/Os.cpp
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/node/node_os.zig
  src/bun.js/os.exports.js
Labels: packages:bun

feat: implement homedir function
  src/bun.js/bindings/Os.cpp
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/node/node_os.zig
  src/bun.js/os.exports.js
Labels: packages:bun

add comptime to homedir if
  src/bun.js/node/node_os.zig
Labels: packages:bun

feat: add platform function
  src/bun.js/bindings/Os.cpp
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/node/node_os.zig
  src/bun.js/os.exports.js
Labels: packages:bun

feat: implement type function
  src/bun.js/bindings/Os.cpp
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/node/node_os.zig
  src/bun.js/os.exports.js
Labels: packages:bun

feat: add hostname (not sure iff works on all platforms)
  src/bun.js/bindings/Os.cpp
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/node/node_os.zig
  src/bun.js/os.exports.js
Labels: packages:bun

chore: make requested changes
  src/bun.js/api/bun.zig
  src/bun.js/bindings/Os.cpp
  src/bun.js/bindings/Os.h
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun.js/node/node_os.zig
Labels: packages:bun

fix: change toValueGC into toValue in arch function
  src/bun.js/node/node_os.zig
Labels: packages:bun

add EOL, devNull constant variables
  src/bun.js/node/node_os.zig
Labels: packages:bun

fix: store only string
  src/bun.js/node/node_os.zig
Labels: packages:bun

fix(ReferenceError): expected type in getCode
  src/bun.js/javascript.zig
Labels: packages:bun

feat: add tests
  test/bun.js/os.test.js
Labels: tests

feat: add endianness
  .vscode/settings.json
  src/bun.js/node/node_os.zig
  src/bun.js/os.exports.js
Labels: packages:bun

ususe toValue for devNull & EOL
  src/bun.js/node/node_os.zig
Labels: packages:bun

feat: implement endianness & fix release
  src/bun.js/javascript.zig
  src/bun.js/node/node_os.zig
  src/bun.js/os.exports.js
Labels: packages:bun

revert javascript.zig fix
  src/bun.js/javascript.zig
Labels: packages:bun

fix(ReferenceError): expected type in getCode (#1120)
  src/bun.js/javascript.zig
Labels: packages:bun

feat: implement tmpdir
  src/bun.js/node/node_os.zig
  src/bun.js/os.exports.js
Labels: packages:bun

Export `createSyntheticModule`
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
Labels: packages:bun

wip support #!
  src/cli/run_command.zig
Labels: packages:bun

Add native EventEmitter
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMConstructors.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/bindings/webcore/EventEmitter.cpp
  src/bun.js/bindings/webcore/EventEmitter.h
  src/bun.js/bindings/webcore/EventListenerMap.cpp
  src/bun.js/bindings/webcore/EventListenerMap.h
  src/bun.js/bindings/webcore/JSEventEmitter.cpp
  src/bun.js/bindings/webcore/JSEventEmitter.h
  src/bun.js/bindings/webcore/JSEventEmitterCustom.cpp
  src/bun.js/bindings/webcore/JSEventEmitterCustom.h
  src/bun.js/javascript.zig
  src/bun.js/modules/EventsModule.h
Labels: packages:bun

Slightly optimize escapeHTMLescapeHTML8 & escapeHTML16
  src/bun.js/api/bun.zig
  src/bun.js/bindings/ZigGlobalObject.cpp
Labels: packages:bun

Add a binding for creating atomic strings
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun.js/bindings/helpers.h
Labels: packages:bun

Remove usage of `fnctl64` so we can avoid the libc symbol
  src/bun.js/node/syscall.zig
  src/bun.js/webcore/streams.zig
Labels: packages:bun

Add a bench snippet for sha512
  bench/snippets/sha512.deno.mjs
  bench/snippets/sha512.js
  bench/snippets/sha512.node.mjs
Labels: benchmarks

Support loading JavaScript files without extensions
  src/bun.js/javascript.zig
Labels: packages:bun

[breaking] `bun run <missing script>` should return a nonzero exit code
  src/cli.zig
Labels: packages:bun

Support running scripts in bun's runtime from a shebang
  src/cli.zig
Labels: packages:bun

Rename reactdom-bun -> react-dom-server.bun
  bench/react-hello-world/react-hello-world.jsx
  test/bun.js/react-dom-server.bun.js
  test/bun.js/react-dom.test.tsx
Labels: tests, benchmarks

[bun-landing] inline via data uri
  packages/bun-landing/components/Layout.tsx
  packages/bun-landing/components/dataURI.ts
Labels: packages:bun-landing

Reduce allocations for `ObjectPool`
  src/pool.zig
Labels: packages:bun
