Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

Update example Next app to 12.2 (#1033)
  examples/next/package.json
  packages/bun-framework-next/server.development.tsx
Labels: packages:bun-framework-next, templates

Fix static require by setting the state machine manually
  src/bun.js/builtins/cpp/ImportMetaObjectBuiltins.cpp
  src/bun.js/builtins/js/ImportMetaObject.js
Labels: packages:bun

Fix static require by setting the state machine manually (#1034)
  src/bun.js/builtins/cpp/ImportMetaObjectBuiltins.cpp
  src/bun.js/builtins/js/ImportMetaObject.js
Labels: packages:bun

Delete server polyfill
  packages/bun-framework-next/server-polyfills.tsx
  packages/bun-framework-next/server.development.tsx
Labels: packages:bun-framework-next

[node compat] Update `"module"` module's `require.resolve` implementation
  src/bun.js/module.exports.js
Labels: packages:bun

[misc] Add a global private `@Bun`
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/builtins/BunBuiltinNames.h
  src/bun.js/builtins/cpp/ReadableStreamBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamInternalsBuiltins.cpp
  src/bun.js/builtins/js/ReadableStream.js
  src/bun.js/builtins/js/ReadableStreamInternals.js
Labels: packages:bun

[misc] Add a way to disable LOLHTML
  src/deps/lol-html.zig
  src/feature_flags.zig
Labels: packages:bun

[node compat] Implement `require.resolve`
  src/bun.js/bindings/ImportMetaObject.cpp
  src/bun.js/bindings/ImportMetaObject.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  test/bun.js/import-meta.test.js
Labels: packages:bun, tests

[fs] Improve fs.copyFile performance on Linux
  src/bun.js/node/node_fs.zig
Labels: packages:bun

react-ts template added
  bench/async/deno.js
  bench/ffi/deno.js
  bench/gzip/bun.js
  bench/gzip/deno.js
  bench/hot-module-reloading/css-stress-test/pages/index.tsx
  bench/log/deno.mjs
  bench/sqlite/deno.js
  examples/react-ts/.gitignore
  examples/react-ts/README.md
  examples/react-ts/package-lock.json
  examples/react-ts/package.json
  examples/react-ts/public/favicon.ico
  examples/react-ts/public/index.html
  examples/react-ts/public/logo192.png
  examples/react-ts/public/logo512.png
  examples/react-ts/public/manifest.json
  examples/react-ts/public/robots.txt
  examples/react-ts/src/App.css
  examples/react-ts/src/App.test.tsx
  examples/react-ts/src/App.tsx
  examples/react-ts/src/index.css
  examples/react-ts/src/index.tsx
  examples/react-ts/src/logo.svg
  examples/react-ts/src/react-app-env.d.ts
  examples/react-ts/src/reportWebVitals.ts
  examples/react-ts/src/setupTests.ts
  examples/react-ts/tsconfig.json
  packages/bun-wasm/test/node.mjs
  test/bun.js/bundled/entrypoint.ts
Labels: packages:bun-wasm, tests, benchmarks, templates

Add a fs.copyFileSync benchmark
  bench/copyfile/node.mitata.mjs
Labels: benchmarks

Fix build error
  src/bun.js/node/node_fs.zig
Labels: packages:bun

Update node.mitata.mjs
  bench/copyfile/node.mitata.mjs
Labels: benchmarks

Fix clean-bindings script
  Makefile
Labels: none

Simplify building the debug tools
  Makefile
Labels: none

Be more careful with permission
  src/bun.js/node/node_fs.zig
Labels: packages:bun

Improve fs.copyFile performance on Linux (#1035)
  bench/copyfile/node.mitata.mjs
  src/bun.js/node/node_fs.zig
Labels: packages:bun, benchmarks

Update Makefile
  Makefile
Labels: none

[node compat] Improve fs.copyFileSync performance on macOS
  bench/copyfile/node.mitata.mjs
  src/bun.js/node/node_fs.zig
  src/bun.js/node/syscall.zig
Labels: packages:bun, benchmarks

[node compat] Add tests for `fs.copyFileSync`
  test/bun.js/fs.test.js
Labels: tests

add some comments
  src/bun.js/node/node_fs.zig
Labels: packages:bun

upstream
  .github/actions/builds/macos/object-files/action.yml
Labels: none

upstream cpp
  .github/actions/builds/macos/cpp/action.yml
Labels: none

upstream link
  .github/actions/builds/macos/link/action.yml
Labels: none

Fix linux build
  Makefile
Labels: none

[bun:ffi] Feature: C deallocator callback function for `toBuffer` and `toArrayBuffer`
  README.md
  src/bun.js/api/bun.zig
Labels: packages:bun

[bun:ffi] Feature: Expose `ptr` on the FFI function
  src/bun.js/bindings/JSFFIFunction.cpp
Labels: packages:bun

[bun:ffi] Re-enable most of the tests
  test/bun.js/ffi.test.js
Labels: tests

[bun:ffi] ~30% perf improvement for wrapped functions
  bench/snippets/ffi-overhead.mjs
  src/bun.js/ffi.exports.js
  test/bun.js/ffi-test.c
Labels: packages:bun, tests, benchmarks

[js] Fix console.log(Infinity)
  src/bun.js/bindings/exports.zig
  test/bun.js/inspect.test.js
Labels: packages:bun, tests

Fix linux build?
  Makefile
Labels: none

refactor(src/tagged_pointer): `IntPrimtiive` -> `IntPrimitive`
  src/tagged_pointer.zig
Labels: packages:bun

Update README.md
  README.md
Labels: none

#941 fix
  src/node-fallbacks/assert.js
Labels: packages:bun

added nodemon as file watcher
  examples/hono/nodemon.json
  examples/hono/package.json
  examples/hono/readme.md
Labels: templates

revert
  bench/async/deno.js
Labels: benchmarks

Update deno.js
  bench/ffi/deno.js
Labels: benchmarks

reverted
  bench/ffi/deno.js
Labels: benchmarks

Update deno.js
  bench/ffi/deno.js
Labels: benchmarks

Update bun.js
  bench/gzip/bun.js
Labels: benchmarks

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*
