Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

Fix crash in `os` module on macOS
  src/bun.js/bindings/node_os/cpuinfo.cpp
  src/bun.js/bindings/node_os/interface_addresses.cpp
Labels: packages:bun

Fix `DataView` and non-8 bit sized typed arrays with TextDecoder
  src/bun.js/bindings/bindings.cpp
  src/bun.js/webcore/encoding.zig
  test/bun.js/text-decoder.test.js
Labels: packages:bun, tests

New WebKit
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
  Dockerfile.devcontainer
  bench/snippets/async-overhead.mjs
Labels: benchmarks

[bun:ffi] Fix int16 / uin16 max
  src/bun.js/ffi.exports.js
Labels: packages:bun

[bun:ffi] Fix crash with uint64_t
  src/bun.js/api/FFI.h
  src/bun.js/api/ffi.zig
  src/bun.js/bindings/FFI.zig
Labels: packages:bun

More reliable macOS event loop
  Makefile
  src/http_client_async.zig
  src/io/io_darwin.cpp
  src/io/io_darwin.zig
  src/io/io_linux.zig
  src/network_thread.zig
Labels: packages:bun

feat: implement bun dot
  src/cli.zig
  src/cli/dot_command.zig
  src/cli/run_command.zig
Labels: packages:bun

Reduce CPU usage of idling
  bench/snippets/set-timeout.mjs
  src/bun.js/event_loop.zig
  src/bun_js.zig
  src/io/io_darwin.zig
Labels: packages:bun, benchmarks

feat: implement new error
  src/cli/dot_command.zig
Labels: packages:bun

fix: make string_to_run nullable
  src/cli/dot_command.zig
Labels: packages:bun

support pass null as NULL ptr
  src/bun.js/api/FFI.h
  src/bun.js/ffi.exports.js
  test/bun.js/ffi-test.c
  test/bun.js/ffi.test.fixture.callback.c
  test/bun.js/ffi.test.fixture.receiver.c
  test/bun.js/ffi.test.js
Labels: packages:bun, tests

support pass null as NULL ptr (#1160)
  src/bun.js/api/FFI.h
  src/bun.js/ffi.exports.js
  test/bun.js/ffi-test.c
  test/bun.js/ffi.test.fixture.callback.c
  test/bun.js/ffi.test.fixture.receiver.c
  test/bun.js/ffi.test.js
Labels: packages:bun, tests

chore(install-script): automatically add bun to path - bash shell
  src/cli/install.sh
Labels: packages:bun

add tildify
  src/cli/install.sh
Labels: packages:bun

hack in support for extends
  src/resolver/resolver.zig
  src/resolver/tsconfig_json.zig
Labels: packages:bun

Add precompiled webkit and `make bindings` to the build instructions
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update src/resolver/resolver.zig
  src/resolver/resolver.zig
Labels: packages:bun

wip review fixes
  src/resolver/resolver.zig
  src/resolver/tsconfig_json.zig
Labels: packages:bun

fix style
  src/resolver/resolver.zig
Labels: packages:bun

Add another implementation
  src/bun_js.zig
  src/io/io_darwin.cpp
  src/io/io_darwin.zig
  src/io/io_linux.zig
  test/bun.js/ffi.test.fixture.callback.c
  test/bun.js/ffi.test.fixture.receiver.c
Labels: packages:bun, tests

Add benchmark
  Makefile
  build.zig
  misctools/machbench.zig
Labels: none

feat: hack in support for tsconfig `extends` (#1147)
  src/resolver/resolver.zig
  src/resolver/tsconfig_json.zig
Labels: packages:bun

More reliable macOS event loop (#1166)
  Makefile
  bench/snippets/set-timeout.mjs
  build.zig
  misctools/machbench.zig
  src/bun.js/event_loop.zig
  src/bun_js.zig
  src/http_client_async.zig
  src/io/io_darwin.cpp
  src/io/io_darwin.zig
  src/io/io_linux.zig
  src/network_thread.zig
  test/bun.js/ffi.test.fixture.callback.c
  test/bun.js/ffi.test.fixture.receiver.c
Labels: packages:bun, tests, benchmarks

Remove code that doesn't work
  .gitignore
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/node_os/cpuinfo.cpp
  src/bun.js/bindings/node_os/cpuinfo.h
  src/bun.js/bindings/node_os/interface_addresses.cpp
  src/bun.js/bindings/node_os/interface_addresses.h
  src/bun.js/bindings/node_os/system_memory.cpp
  src/bun.js/bindings/node_os/system_memory.h
  src/bun.js/node/node_os.zig
  src/darwin_c.zig
  src/linux_c.zig
  test/leaks/http-static-leak.ts
Labels: packages:bun, tests

Update package.json
  packages/bun-framework-next/package.json
Labels: packages:bun-framework-next

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Rename `http.zig` to `bun_dev_http_server.zig`
  src/bun.js/api/bun.zig
  src/bun.js/api/ffi.zig
  src/bun.js/api/html_rewriter.zig
  src/bun.js/api/router.zig
  src/bun.js/api/server.zig
  src/bun.js/api/transpiler.zig
  src/bun.js/config.zig
  src/bun.js/javascript.zig
  src/bun.js/test/jest.zig
  src/bun.js/webcore/encoding.zig
  src/bun.js/webcore/response.zig
  src/bun.js/webcore/streams.zig
  src/bun_dev_http_server.zig
  src/cli/dev_command.zig
  src/resolver/resolver.zig
Labels: packages:bun

chore: make requested changes
  src/cli/install.sh
Labels: packages:bun

wip
  src/bun_dev_http_server.zig
  src/hive_array.zig
  src/http_server.zig
  src/io/io_darwin.zig
Labels: packages:bun

Fixes https://github.com/oven-sh/bun/issues/1127
  src/http_client_async.zig
Labels: packages:bun

update example react-is to v18(#1155)
  examples/next/package.json
Labels: templates

chore: Clean buffer C API
  src/bun.js/bindings/Buffer.h
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/webcore/encoding.zig
Labels: packages:bun

chore: Clean buffer C API (#1174)
  src/bun.js/bindings/Buffer.h
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/webcore/encoding.zig
Labels: packages:bun

fix: add equals true
  src/cli/install.sh
Labels: packages:bun

fix: $XDG_CONFIG_HOME can be undefined
  src/cli/install.sh
Labels: packages:bun

Fixed JSBuffer write issues
  src/bun.js/bindings/JSBuffer.cpp
  src/string_immutable.zig
  test/bun.js/buffer.test.js
Labels: packages:bun, tests

Improve error when FFI fails to dlopen()
  src/bun.js/api/ffi.zig
Labels: packages:bun

Fixed JSBuffer write issues (#1175)
  src/bun.js/bindings/JSBuffer.cpp
  src/string_immutable.zig
  test/bun.js/buffer.test.js
Labels: packages:bun, tests

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*
