Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*

Automatically support hot reloading with `export default { fetch() }`
  src/bun.js/javascript.zig
  src/bundler/entry_points.zig
Labels: packages:bun

add constructor if doesn't exist, initializer
  src/js_parser.zig
Labels: packages:bun

Add `protocol` getter to Bun.serve()
  src/bun.js/api/server.zig
Labels: packages:bun

remove unused list
  src/js_parser.zig
Labels: packages:bun

Add --profile to bun upgrade
  src/cli/upgrade_command.zig
Labels: packages:bun

Fix unused arg
  src/bun.js/api/server.zig
Labels: packages:bun

Fix linux amd64 crash
  src/deps/libuwsockets.cpp
Labels: packages:bun

fix: let nested module bin executable
  src/install/bin.zig
Labels: packages:bun

test: nested modules bin
  test/apps/bun-install.sh
Labels: tests

Fix nested modules bin executable issue (#1299)
  src/install/bin.zig
  test/apps/bun-install.sh
Labels: packages:bun, tests

Fix https://github.com/oven-sh/bun/issues/1263
  build.zig
  src/deps/boringssl.translated.zig
  src/deps/uws.zig
  src/http/async_bio.zig
  src/http/async_socket.zig
  src/http/websocket_http_client.zig
  src/http_client_async.zig
  src/string_immutable.zig
  test/bun.js/fetch.test.js
Labels: packages:bun, tests

fix: install error when node_modules already in npm package
  src/install/install.zig
Labels: packages:bun

fix: install error when node_modules already in npm package (#1301)
  src/install/install.zig
Labels: packages:bun

fix: sync codegen
  src/bun.js/bindings/JSSink.cpp
  src/bun.js/bindings/JSSink.h
  src/bun.js/bindings/JSSinkLookupTable.h
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/generated_classes.zig
Labels: packages:bun

fix: generate class script
  src/bun.js/scripts/generate-classes.ts
Labels: packages:bun

fix: sync codegen
  src/bun.js/bindings/JSSink.cpp
  src/bun.js/bindings/JSSink.h
  src/bun.js/bindings/generated_classes.zig
Labels: packages:bun

fix: add response redirected property
  src/bun.js/bindings/JSSink.cpp
  src/bun.js/bindings/JSSink.h
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/webcore/response.classes.ts
  src/bun.js/webcore/response.zig
Labels: packages:bun

Fix fetch response redirected (#1303)
  src/bun.js/bindings/JSSink.cpp
  src/bun.js/bindings/JSSink.h
  src/bun.js/bindings/JSSinkLookupTable.h
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/scripts/generate-classes.ts
  src/bun.js/webcore/response.classes.ts
  src/bun.js/webcore/response.zig
Labels: packages:bun

Add a test for not logging .env
  test/bun.js/log-test.test.ts
Labels: tests

Expose `Bun.version` and `Bun.revision`
  src/bun.js/bindings/ZigGlobalObject.cpp
Labels: packages:bun

Add a test for `Bun.version`
  test/bun.js/bun-test.test.ts
Labels: tests

Update WebKit
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun.js/javascript.zig
Labels: packages:bun

Buffer input & output until the user gets the stream
  src/bun.js/api/bun/subprocess.zig
Labels: packages:bun

More careful code for FileBlobLoader and FIleSink
  src/bun.js/webcore.zig
  src/bun.js/webcore/streams.zig
Labels: packages:bun

Fix navigator.userAgent test
  test/bun.js/web-globals.test.js
Labels: tests

soem helpers
  src/global.zig
Labels: packages:bun

Update bench
  bench/sqlite/deno.js
Labels: benchmarks

Clean up how we reload entry point a little
  src/bun.js/event_loop.zig
  src/bun.js/javascript.zig
Labels: packages:bun

Fix SQLite test
  test/bun.js/sqlite.test.js
Labels: tests

Add a test for server.reload()
  test/bun.js/serve.test.ts
Labels: tests

Don't forget to load SQLite in Database.deserialize
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
Labels: packages:bun

Add some more bench snippets
  bench/snippets/array-map.mjs
  bench/snippets/index-of.mjs
  bench/snippets/object-entries.mjs
  bench/snippets/readdir.mjs
Labels: benchmarks

Snippet for return await
  bench/snippets/return-await.mjs
Labels: benchmarks

Start to add tests for spawn
  test/bun.js/spawn.test.ts
Labels: tests

Update WebKit
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  Dockerfile.devcontainer
  bench/snippets/return-await.mjs
Labels: benchmarks

Add a console.debug for the server:port when HMR is enabled
  src/bundler/entry_points.zig
Labels: packages:bun

Missing code
  .github/workflows/bun-mac-x64.yml
  src/bun.js/bindings/ZigGlobalObject.cpp
Labels: packages:bun

maybe workaround C ABI issue on linux amd64
  src/deps/_libusockets.h
  src/deps/libuwsockets.cpp
  src/deps/uws.zig
Labels: packages:bun

Rename `resposne.file.test.js` -> `bun-write.test.js` + add some large file tests
  test/bun.js/bun-write.test.js
Labels: tests

`Bun.write` - truncate empty files
  src/bun.js/webcore/response.zig
Labels: packages:bun
