Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*

fix(web): stop segfault on invalid fd error
  src/bun.js/api/server.zig
  src/bun.js/node/types.zig
Labels: packages:bun

Preserve trailing newline when updating package.json
  src/install/install.zig
  src/js_printer.zig
Labels: packages:bun

fix(web): stop segfault on invalid fd error (#1386)
  src/bun.js/api/server.zig
  src/bun.js/node/types.zig
Labels: packages:bun

Add `fd` to `SystemError` and fix 2 cases with invalid tagged union
  src/bun.js/api/server.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/javascript.zig
  src/bun.js/node/syscall.zig
Labels: packages:bun

`Bun.peek`
  README.md
  src/bun.js/bindings/ZigGlobalObject.cpp
  test/bun.js/peek.test.ts
Labels: packages:bun, tests

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

fix: lexer expected token error
  src/js_lexer.zig
Labels: packages:bun

Maybe fix a crash
  src/bun.js/api/server.zig
Labels: packages:bun

Hopefully fix failing build
  Makefile
Labels: none

escape special characters in oniguruma character class
  src/bun.js/bindings/OnigurumaRegExp.cpp
  test/bun.js/oniguruma-regexp.test.ts
Labels: packages:bun, tests

oniguruma regex lookbehind and multibyte hex fix (#1363)
  src/bun.js/bindings/OnigurumaRegExp.cpp
  src/js_lexer.zig
  test/bun.js/oniguruma-regexp.test.ts
Labels: packages:bun, tests

Update README.md
  README.md
Labels: none

Rename `close` to `stop`, replace `close` with `end`
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/sockets.classes.ts
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/generated_classes.zig
Labels: packages:bun

Wip
  src/bun.js/api/bun/socket.zig
Labels: packages:bun

Some docs
  README.md
  build-id
Labels: none

TCP Socket API
  .vscode/settings.json
  bench/snippets/tcp-echo.bun.ts
  bench/snippets/tcp-echo.node.mjs
  bun.lockb
  examples/tcp.ts
  package.json
  src/bun.js/api/bun.zig
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/sockets.classes.ts
  src/bun.js/bindings/ZigGeneratedClasses+DOMClientIsoSubspaces.h
  src/bun.js/bindings/ZigGeneratedClasses+DOMIsoSubspaces.h
  src/bun.js/bindings/ZigGeneratedClasses+lazyStructureHeader.h
  src/bun.js/bindings/ZigGeneratedClasses+lazyStructureImpl.h
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/bindings/generated_classes_list.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/deps/uws.zig
  src/http/websocket_http_client.zig
  src/http_client_async.zig
  src/jsc.zig
Labels: packages:bun, benchmarks, templates

Update README.md
  README.md
Labels: none

Add a tcp echo server test
  src/bun.js/api/bun/socket.zig
  test/bun.js/tcp-server.test.ts
Labels: packages:bun, tests

Fix build
  src/bun.js/bindings/ZigGlobalObject.cpp
Labels: packages:bun

Add snippet for StringDecoder
  bench/snippets/string-decoder.mjs
Labels: benchmarks

TCP & TLS Socket API (#1374)
  .vscode/settings.json
  README.md
  bench/snippets/string-decoder.mjs
  bench/snippets/tcp-echo.bun.ts
  bench/snippets/tcp-echo.node.mjs
  build-id
  bun.lockb
  examples/tcp.ts
  package.json
  src/bun.js/api/bun.zig
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/sockets.classes.ts
  src/bun.js/bindings/ZigGeneratedClasses+DOMClientIsoSubspaces.h
  src/bun.js/bindings/ZigGeneratedClasses+DOMIsoSubspaces.h
  src/bun.js/bindings/ZigGeneratedClasses+lazyStructureHeader.h
  src/bun.js/bindings/ZigGeneratedClasses+lazyStructureImpl.h
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/bindings/generated_classes_list.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/deps/uws.zig
  src/http/websocket_http_client.zig
  src/http_client_async.zig
  src/jsc.zig
  test/bun.js/tcp-server.test.ts
Labels: packages:bun, tests, benchmarks, templates

fix: handle parse error through logs
  src/bun.js/javascript.zig
  src/js_lexer.zig
Labels: packages:bun

Fix lexer expected token error (#1387)
  src/bun.js/javascript.zig
Labels: packages:bun

Update README.md
  README.md
Labels: none

Update Makefile
  Makefile
Labels: none

Fix crash in TCP server
  src/bun.js/api/bun/socket.zig
  test/bun.js/tcp-server.test.ts
Labels: packages:bun, tests

Update Makefile
  Makefile
Labels: none

Add action to deploy to Homebrew
  .github/workflows/bun-homebrew.yml
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Update Makefile
  Makefile
Labels: none

Fix failing macOS build
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
  Makefile
Labels: none

Update Dev Containers extension name
  README.md
Labels: none

Update Dev Containers extension name (#1393)
  README.md
Labels: none

Minor fixes to README.md
  README.md
Labels: none

Minor fixes to README.md (#1395)
  README.md
Labels: none

Fix issue with `CryptoKey` and `SubtleCrypto` constructors
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/webcore/DOMConstructors.h
Labels: packages:bun
