Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

Make these tests better
  test/bun.js/web-crypto.test.ts
Labels: tests

Move this to dependencies so the .a files upload
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
Labels: none

Fixup
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
Labels: none

temporary fix
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
Labels: none

Limit concurrency for MacOS Object actions
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
Labels: none

try againn
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
Labels: none

__decorateClass, __decorateParam, lit test, wiptest test
  src/js_parser.zig
  src/runtime.footer.bun.js
  src/runtime.footer.js
  src/runtime.footer.node.js
  src/runtime.footer.with-refresh.js
  src/runtime.js
  src/runtime.zig
  test/bun.js/decorators.test.ts
  test/scripts/snippets.json
  test/snippets/package.json
  test/snippets/simple-lit-example.ts
Labels: packages:bun, tests

againn
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
Labels: none

decorator factories test
  test/bun.js/decorators.test.ts
Labels: tests

parameter decorator test
  test/bun.js/decorators.test.ts
Labels: tests

Make `"tls"` an explicit object we pass instead of implicit top-level options
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/server.zig
Labels: packages:bun

Update server.zig
  src/bun.js/api/server.zig
Labels: packages:bun

Prefer `BUN_PORT` over `PORT`
  src/bun.js/api/server.zig
Labels: packages:bun

test for decorators with constructor parameter properties
  test/bun.js/decorators.test.ts
Labels: tests

Update default tsconfig
  src/cli/tsconfig-for-init.json
Labels: packages:bun

feat: more .PHONY and help comments
  Makefile
Labels: none

feat: replace for loop to printf
  src/cli/install.sh
Labels: packages:bun

Fix typo in homebrew action
  .github/workflows/bun-homebrew.yml
Labels: none

Run homebrew action when release is edited
  .github/workflows/bun-homebrew.yml
Labels: none

Check published_at instead of draft in GitHub action
  .github/workflows/bun-homebrew.yml
Labels: none

Implement `process.release`
  src/bun.js/bindings/Process.cpp
  src/cli/upgrade_command.zig
  test/bun.js/process.test.js
Labels: packages:bun, tests

Add missing dependencies to `make devcontainer`
  Makefile
Labels: none

use compile-time method
  src/bun.js/node/node_os.zig
  src/c.zig
  src/darwin_c.zig
  src/linux_c.zig
Labels: packages:bun

Allow overriding node polyfills via `BUN_OVERRIDE_MODULE_PATH`
  src/bun.js/child_process.exports.js
  src/bun.js/https.exports.js
  src/bun.js/javascript.zig
  src/bun.js/net.exports.js
  src/bun_js.zig
Labels: packages:bun

Add a stub for io_darwin on linux
  src/io/io_darwin.cpp
Labels: packages:bun

Add missing `break`
  src/bun.js/ffi.exports.js
Labels: packages:bun

Download more RAM
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
Labels: none

feat(core): optimize zig slice
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/transpiler.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/exports.zig
  src/bun.js/node/types.zig
  src/bun.js/test/jest.zig
  src/bun.js/webcore/encoding.zig
  src/bun.js/webcore/response.zig
  src/nullable_allocator.zig
Labels: packages:bun

address concerns
  src/bun.js/bindings/bindings.zig
  src/bun.js/webcore/response.zig
  src/nullable_allocator.zig
Labels: packages:bun

refactor: Replace arity wrapper switch with eval.
  src/bun.js/ffi.exports.js
Labels: packages:bun

feat(core): optimize zig slice (#1408)
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/transpiler.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/exports.zig
  src/bun.js/node/types.zig
  src/bun.js/test/jest.zig
  src/bun.js/webcore/encoding.zig
  src/bun.js/webcore/response.zig
  src/nullable_allocator.zig
Labels: packages:bun

ci: update actions/checkout to v3
  .github/workflows/bun-framework-next.yml
  .github/workflows/bun-landing.yml
Labels: none

ci: update actions/setup-node to v3
  .github/workflows/bun-framework-next.yml
  .github/workflows/bun-landing.yml
Labels: none

feat(ast): optimize string expression
  src/bundler/generate_node_modules_bundle.zig
  src/js_ast.zig
  src/js_parser.zig
  src/js_printer.zig
Labels: packages:bun

tests and formatting
  src/bun.js/bindings/OnigurumaRegExp.cpp
  test/bun.js/oniguruma-regexp.test.ts
Labels: packages:bun, tests

fix for ^ in character class
  src/bun.js/bindings/OnigurumaRegExp.cpp
Labels: packages:bun

Remove webcrypto from vendor-without-check
  Makefile
Labels: none

Update default tsconfig (#1418)
  src/cli/tsconfig-for-init.json
Labels: packages:bun

Enable `BUN_OVERRIDE_MODULE_PATH` in `bun wiptest`
  src/cli/test_command.zig
Labels: packages:bun

Upgrade WebKit
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
  Dockerfile.devcontainer
  bench/snippets/array-shift.mjs
  src/bun.js/bindings/BunJSCModule.cpp
  src/bun.js/bindings/OnigurumaRegExp.cpp
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/webcore/FetchHeaders.cpp
  src/bun.js/bindings/webcore/FetchHeaders.h
  src/bun.js/bindings/wtf-bindings.cpp
  src/bun.js/scripts/class-definitions.ts
  src/bun.js/scripts/generate-classes.ts
Labels: packages:bun, benchmarks

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*
