Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*

reduce usage of protect
  src/bun.js/api/server.zig
Labels: packages:bun

[node:http] speed up assigning headers
  src/bun.js/bindings/webcore/JSFetchHeaders.cpp
  src/bun.js/http.exports.js
  src/bun.js/webcore/streams.zig
Labels: packages:bun

woops
  src/bun.js/http.exports.js
Labels: packages:bun

Fix build error
  src/bun.js/bindings/webcore/EventEmitter.h
  src/bun.js/bindings/webcore/IdentifierEventListenerMap.h
  src/bun.js/bindings/webcore/JSEventEmitterCustom.cpp
Labels: packages:bun

Remove response pool
  src/bun.js/api/server.zig
  src/bun.js/javascript.zig
  src/bun.js/webcore/response.zig
Labels: packages:bun

feat: add cpus()
  Makefile
  a.out
  cpuinfo.cpp
  cpuinfo.h
  main.cpp
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/node_os/cpuinfo.cpp
  src/bun.js/bindings/node_os/cpuinfo.h
  src/bun.js/node/node_os.zig
  src/linux_c.zig
  test.c
  test.txt
  test.zig
Labels: packages:bun

remov some files
  cpuinfo.cpp
  cpuinfo.h
  test.txt
Labels: none

fix: handle empty array
  src/bun.js/bindings/node_os/cpuinfo.cpp
Labels: packages:bun

started working on interface addresses (in C)
  .vscode/settings.json
  a.out
  interface_addresses.c
  interface_addresses.h
  main.c
  test.zig
Labels: none

fix interface_addresses
  a.out
  interface_addresses.c
  main.c
Labels: none

updated minified url polyfill
  src/bun.js/url.exports.js
Labels: packages:bun

add SlowBuffer
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/JSBuffer.h
  src/bun.js/modules/BufferModule.h
Labels: packages:bun

add SlowBuffer (#1133)
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/JSBuffer.h
  src/bun.js/modules/BufferModule.h
Labels: packages:bun

Improved getCpuInfo code, decreased ram usage, increased speed
  src/bun.js/bindings/node_os/a.out
  src/bun.js/bindings/node_os/cpuinfo.cpp
  src/bun.js/bindings/node_os/cpuinfo.h
  src/bun.js/bindings/node_os/test.cpp
Labels: packages:bun

getCpuTime optimizations
  src/bun.js/bindings/node_os/a.out
  src/bun.js/bindings/node_os/cpuinfo.cpp
  src/bun.js/bindings/node_os/test.cpp
Labels: packages:bun

started working on networkInterfaces
  .vscode/settings.json
  a.out
  interface_addresses.c
  interface_addresses.cpp
  main.c
  main.cpp
  src/bun.js/bindings/node_os/interface_addresses.cpp
  src/bun.js/bindings/node_os/interface_addresses.h
  src/bun.js/node/node_os.zig
  src/bun.js/os.exports.js
  src/linux_c.zig
Labels: packages:bun

updated minified url polyfill (#1132)
  src/bun.js/url.exports.js
Labels: packages:bun

feat: networkInterfaces implementation
  a.out
  interface_addresses.cpp
  interface_addresses.h
  main.cpp
  src/bun.js/node/node_os.zig
  src/linux_c.zig
Labels: packages:bun

delete unnecessary files
  a.out
  interface_addresses.cpp
  interface_addresses.h
  main.cpp
  test.zig
  testaa.zig
Labels: none

add benchs & fix code
  bench/modules/node_os/.env
  bench/modules/node_os/bun.js
  bench/modules/node_os/node.mjs
  bench/modules/node_os/package.json
  bench/package.json
  src/bun.js/node/node_os.zig
Labels: packages:bun, benchmarks

add tests
  src/bun.js/node/node_os.zig
  test/bun.js/os.test.js
Labels: packages:bun, tests

add missing benchs
  bench/modules/node_os/bun.js
  bench/modules/node_os/node.mjs
Labels: benchmarks

Increased buffer of getCpuInfo to 2048, it should skip few iterations
  src/bun.js/bindings/node_os/cpuinfo.cpp
Labels: packages:bun

Add License header from node
  test/bun.js/util/util-promisify.test.js
Labels: tests

Add tests to complete existing promisify parity with node
  test/bun.js/util/util-promisify.test.js
Labels: tests

Update expected error message from nodejs test
  test/bun.js/util/util-promisify.test.js
Labels: tests

remove hardcoded constants
  src/bun.js/node/node_os.zig
Labels: packages:bun

feat: implement errno constants
  src/bun.js/node/node_os.zig
  src/bun.js/node/os/constants.zig
  test.zig
Labels: packages:bun

fix getWindowsErrorConstant
  src/bun.js/node/os/constants.zig
Labels: packages:bun

feat: add signal constants
  src/bun.js/node/os/constants.zig
  test.zig
Labels: packages:bun

feat: implement priority constants
  src/bun.js/node/os/constants.zig
  test.zig
Labels: packages:bun

remove duplications
  src/bun.js/node/os/constants.zig
Labels: packages:bun

fix: change value to ?i16
  src/bun.js/node/os/constants.zig
Labels: packages:bun

Fix clearTimeout and linux timeout
  src/bun.js/api/bun.zig
  src/io/io_linux.zig
Labels: packages:bun

fix(__defineConstant): make some parameters comptime, change value to ?i32
  src/bun.js/node/os/constants.zig
Labels: packages:bun

fix: add E to ERRNO constants, add SIG to SIG constants
  src/bun.js/node/os/constants.zig
  test.zig
Labels: packages:bun

feat: add dlopen constants
  src/bun.js/node/os/constants.zig
  test.zig
Labels: packages:bun

change functions to private
  src/bun.js/node/os/constants.zig
  test.zig
Labels: packages:bun

feat: add UV_UDP_REUSEADDR
  src/bun.js/node/os/constants.zig
Labels: packages:bun

fix typo
  src/bun.js/node/os/constants.zig
Labels: packages:bun
