Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

Updating libuwebsockets C API (#1423)
  src/bun.js/api/server.zig
  src/deps/_libusockets.h
  src/deps/libuwsockets.cpp
  src/deps/uws.zig
Labels: packages:bun

fix incorrect escaping, removed unnecessary oniguruma settings
  src/bun.js/bindings/OnigurumaRegExp.cpp
Labels: packages:bun

tests for "-" and "^" in character classes
  test/bun.js/oniguruma-regexp.test.ts
Labels: tests

Update fizz server
  bun.lockb
  package.json
  test/bun.js/react-dom-server.bun.js
Labels: tests

free regex object before returns
  src/bun.js/bindings/OnigurumaRegExp.cpp
Labels: packages:bun

force gc for some tests
  test/bun.js/oniguruma-regexp.test.ts
Labels: tests

Use production build
  bun.lockb
  test/bun.js/react-dom-server.bun.js
Labels: tests

fix for repeated regex match calls and fix for '^' in character classes (#1419)
  src/bun.js/bindings/OnigurumaRegExp.cpp
  src/bun.js/bindings/OnigurumaRegExp.h
  test/bun.js/oniguruma-regexp.test.ts
Labels: packages:bun, tests

Update React fizz server (#1432)
  bun.lockb
  package.json
  test/bun.js/react-dom-server.bun.js
Labels: tests

constructor creation, initializers, handle static and computed fields with decorators
  src/js_parser.zig
Labels: packages:bun

Update React fizz server (#1432)
  bun.lockb
  package.json
  test/bun.js/react-dom-server.bun.js
Labels: tests

fix for repeated regex match calls and fix for '^' in character classes (#1419)
  src/bun.js/bindings/OnigurumaRegExp.cpp
  src/bun.js/bindings/OnigurumaRegExp.h
  test/bun.js/oniguruma-regexp.test.ts
Labels: packages:bun, tests

Updating libuwebsockets C API (#1423)
  src/bun.js/api/server.zig
  src/deps/_libusockets.h
  src/deps/libuwsockets.cpp
  src/deps/uws.zig
Labels: packages:bun

fix createWriteStream
  src/bun.js/fs.exports.js
  test/bun.js/fs.test.js
Labels: packages:bun, tests

remove comment
  src/bun.js/fs.exports.js
Labels: packages:bun

fix createWriteStream (#1433)
  src/bun.js/fs.exports.js
  test/bun.js/fs.test.js
Labels: packages:bun, tests

Fix check for ninja on Debian/Ubuntu
  Makefile
Labels: none

Fix missing .PHONY for vendor-without-check
  Makefile
Labels: none

Use cat in dev container postCreateCommand
  .devcontainer/devcontainer.json
Labels: none

Fix $PATH for bun on devcontainer
  Dockerfile.devcontainer
Labels: none

Update build documentation for dev containers
  .devcontainer/README.md
  .devcontainer/scripts/getting-started.sh
  Makefile
  README.md
Labels: none

Add devcontainer-rebuild make target
  Makefile
Labels: none

Add make devcontainer-sh target
  Makefile
  README.md
Labels: none

Update build docs and commands for dev containers (#1438)
  .devcontainer/README.md
  .devcontainer/scripts/getting-started.sh
  Makefile
  README.md
Labels: none

Fix missing .PHONY for vendor-without-check (#1437)
  Makefile
Labels: none

Fix check for ninja on Debian/Ubuntu (#1436)
  Makefile
Labels: none

more decorator tests
  test/bun.js/decorators.test.ts
Labels: tests

optional setup function for loading elements, simulate clicks in lit test
  test/scripts/snippets.json
  test/snippets/public/index.html
  test/snippets/simple-lit-example.ts
Labels: tests

Fix #1410
  src/bun.js/fs_promises.exports.js
Labels: packages:bun

Update build docs and commands for dev containers (#1438)
  .devcontainer/README.md
  .devcontainer/scripts/getting-started.sh
  Makefile
  README.md
Labels: none

Fix check for ninja on Debian/Ubuntu (#1436)
  Makefile
Labels: none

fix createWriteStream (#1433)
  src/bun.js/fs.exports.js
  test/bun.js/fs.test.js
Labels: packages:bun, tests

Fix missing .PHONY for vendor-without-check (#1437)
  Makefile
Labels: none

Fix #1410
  src/bun.js/fs_promises.exports.js
Labels: packages:bun

await on DOMContentLoaded for elements instead of setup function
  test/snippets/public/index.html
  test/snippets/simple-lit-example.ts
Labels: tests

Delete label-sync.yml
  .github/workflows/label-sync.yml
Labels: none

Delete labeler.yml
  .github/workflows/labeler.yml
Labels: none

avoid lowering class if no decorators
  src/js_ast.zig
  src/js_parser.zig
  test/bun.js/decorators.test.ts
Labels: packages:bun, tests

typescript decorators round 2 (#1445)
  src/js_ast.zig
  src/js_parser.zig
  src/runtime.footer.bun.js
  src/runtime.footer.js
  src/runtime.footer.node.js
  src/runtime.footer.with-refresh.js
  src/runtime.js
  src/runtime.zig
  test/bun.js/decorators.test.ts
  test/scripts/snippets.json
  test/snippets/package.json
  test/snippets/simple-lit-example.ts
Labels: packages:bun, tests

Improve async function handling code in setTimeout and setInterval
  src/bun.js/api/bun.zig
  test/bun.js/setInterval.test.js
Labels: packages:bun, tests

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*
