Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

Add a doc on Bun.spawn
  README.md
Labels: none

Add snippet
  bench/snippets/spawn.mjs
  bench/snippets/spawn.node.mjs
Labels: benchmarks

Add hugemem snippet
  README.md
  bench/snippets/spawn-hugemem.mjs
  bench/snippets/spawn-hugemem.node.mjs
Labels: benchmarks

Add a bench
  README.md
Labels: none

Update README.md
  README.md
Labels: none

[`bun wiptest`] Ignore `.` folders
  src/cli/test_command.zig
Labels: packages:bun

Update test_scope_debug.ts
  test/bun.js/test_scope_debug.ts
Labels: tests

Fix `require("bun")` and `import("bun")` when statically known
  README.md
  src/js_printer.zig
  test/bun.js/import-meta.test.js
Labels: packages:bun, tests

Add a comment
  src/js_printer.zig
Labels: packages:bun

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Add --hot to completions
  completions/bun.fish
  completions/bun.zsh
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Implement `ReadableStream.prototype[Symbol.asyncIterator]`
  src/bun.js/builtins/js/ReadableStream.js
  src/bun.js/builtins/js/ReadableStreamInternals.js
  test/bun.js/streams.test.js
Labels: packages:bun, tests

Fix a bug with ReadableStreamDefaultReader and `"direct"` controller
  src/bun.js/builtins/js/ReadableStreamDefaultReader.js
Labels: packages:bun

Fix `cancel` not working in some cases in ReadableStream
  src/bun.js/builtins/js/ReadableStreamInternals.js
Labels: packages:bun

Regenerate builtins
  src/bun.js/bindings/webcore/JSReadableStream.cpp
  src/bun.js/builtins/cpp/ProcessObjectBuiltins.cpp
  src/bun.js/builtins/cpp/ProcessObjectBuiltins.h
  src/bun.js/builtins/cpp/ReadableStreamBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamBuiltins.h
  src/bun.js/builtins/cpp/ReadableStreamDefaultReaderBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamInternalsBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamInternalsBuiltins.h
  src/bun.js/builtins/cpp/WebCoreJSBuiltins.h
  src/bun.js/builtins/js/ProcessObject.js
Labels: packages:bun

Fix crash in TextEncoder with rope strings that happens sometimes
  src/bun.js/bindings/webcore/JSTextEncoder.cpp
Labels: packages:bun

Add `for await`
  test/bun.js/react-dom.test.tsx
Labels: tests

Update README.md
  README.md
Labels: none

Update react-hello-world.jsx
  bench/react-hello-world/react-hello-world.jsx
Labels: benchmarks

Update react-hello-world.jsx
  bench/react-hello-world/react-hello-world.jsx
Labels: benchmarks

Create http-request-body.ts
  examples/http-request-body.ts
Labels: templates

fix: transpiler.transfromSync handle special charactor
  src/bun.js/api/transpiler.zig
  test/bun.js/transpiler.test.js
Labels: packages:bun, tests

Fix import alias (#1313)
  src/bun.js/api/transpiler.zig
  src/js_printer.zig
  test/bun.js/transpiler.test.js
Labels: packages:bun, tests

string escaping for source and toString(), exec, more tests
  .vscode/c_cpp_properties.json
  src/bun.js/bindings/PCRE2RegExp.cpp
  src/deps/pcre2.h
  test/bun.js/pcre2-regexp.test.ts
Labels: packages:bun, tests

Fix bench
  bench/ffi/deno.js
Labels: benchmarks

Fix bench
  bench/react-hello-world/react-hello-world.deno.jsx
Labels: benchmarks

Update
  packages/bun-landing/pages/index.tsx
  packages/bun-landing/styles/global.css
Labels: packages:bun-landing

remove lib link
  Makefile
Labels: none

add destructor to PCRE2RegExp
  src/bun.js/bindings/PCRE2RegExp.cpp
Labels: packages:bun

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*
