Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

improve character parsing
  src/js_lexer.zig
  src/js_printer.zig
  src/string_immutable.zig
Labels: packages:bun

Stability improvements
  src/js_lexer.zig
  src/js_printer.zig
  src/logger.zig
Labels: packages:bun

Make foo`` properly handle raw template literal
  src/js_parser.zig
  src/js_printer.zig
Labels: packages:bun

Make parsePrefix support raw template calls
  src/js_parser.zig
Labels: packages:bun

slightly cleaner
  src/js_lexer.zig
Labels: packages:bun

Fix crash when insufficient arguments
  src/bun.js/bindings/bindings.zig
Labels: packages:bun

Fixes + cleanup
  src/js_lexer.zig
  src/js_parser.zig
  src/js_printer.zig
  src/string_immutable.zig
Labels: packages:bun

Add one more raw literal context
  src/js_parser.zig
Labels: packages:bun

Switch to definition of assert in js_parser
  src/js_lexer.zig
  src/js_parser.zig
Labels: packages:bun

Bump WebKit
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
  Dockerfile.devcontainer
Labels: none

Add missing ignoreUsage call
  src/js_parser.zig
Labels: packages:bun

Make getting the body for `fetch` a little more reusable
  src/bun.js/webcore/response.zig
Labels: packages:bun

[Web Streams] Add `body` to `Response` and `Request` (#1255)
  src/bun.js/api/server.zig
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/napi.cpp
  src/bun.js/webcore/response.classes.ts
  src/bun.js/webcore/response.zig
  src/bun.js/webcore/streams.zig
  src/napi/napi.zig
  test/bun.js/streams.test.js
Labels: packages:bun, tests

Make `Bun.spawn`, FileSink and FileBlobLoader a little more reliable
  examples/spawn.ts
  src/bun.js/api/bun.classes.ts
  src/bun.js/api/bun.zig
  src/bun.js/base.zig
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/bindings/napi.cpp
  src/bun.js/builtins/cpp/ReadableStreamInternalsBuiltins.cpp
  src/bun.js/builtins/js/ReadableStreamInternals.js
  src/bun.js/event_loop.zig
  src/bun.js/webcore/response.zig
  src/bun.js/webcore/streams.zig
  src/darwin_c.zig
  src/napi/napi.zig
Labels: packages:bun, templates

Update streams.zig
  src/bun.js/webcore/streams.zig
Labels: packages:bun

Fix potential crash when TS code has an unexpected ")"
  src/js_parser.zig
Labels: packages:bun

Fix several bugs with Request body streaming + store small response bodies without an extra memory allocation
  build.zig
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun.js/scripts/class-definitions.ts
  src/bun.js/webcore/response.classes.ts
  src/bun.js/webcore/streams.zig
  src/deps/uws.zig
  src/env.zig
Labels: packages:bun

Inline blobs in the HTTP server
  src/bun.js/api/server.zig
Labels: packages:bun

Add missing commit
  src/bun.js/webcore/response.zig
Labels: packages:bun

Add missing commit
  src/bun.js/webcore/response.zig
Labels: packages:bun

fixup
  src/bun.js/webcore/response.zig
Labels: packages:bun

Fight potential issues with null chars, unicode_replacement chars, and buffer overruns
  src/js_lexer.zig
  src/js_printer.zig
  src/sourcemap/sourcemap.zig
  src/string_immutable.zig
  src/toml/toml_lexer.zig
Labels: packages:bun

Fix subtle parsing bugs
  .gitignore
  .vscode/launch.json
  packages/bun-error/package-lock.json
  src/js_lexer.zig
Labels: packages:bun, packages:bun-error

size estimatoor
  src/bun.js/scripts/generate-classes.ts
Labels: packages:bun

Implement `reportExtraMemoryVisited` and `reportExtraMemoryAllocated` in bindings
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/scripts/generate-classes.ts
Labels: packages:bun

Support a `default` object in CommonJS wrapper
  src/bun.js/builtins/cpp/ImportMetaObjectBuiltins.cpp
  src/bun.js/builtins/js/ImportMetaObject.js
  src/bun.js/modules/EventsModule.h
  src/runtime.js
  test/bun.js/node-builtins.test.js
Labels: packages:bun, tests

Bench snippet for Array.map
  bench/snippets/array-map.mjs
Labels: benchmarks

make bun:test ~300x faster when using http server, websockets, etc
  src/bun.js/event_loop.zig
  src/bun.js/test/jest.zig
Labels: packages:bun

Clean up some of the event loop code
  src/bun.js/base.zig
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/napi.cpp
  src/bun.js/bindings/napi.h
  src/bun.js/event_loop.zig
  src/bun.js/javascript.zig
Labels: packages:bun

Fix a crash in HTMLRewriter caused by blob changes
  src/bun.js/api/html_rewriter.zig
Labels: packages:bun

Outer event loop tweaks
  src/bun_js.zig
Labels: packages:bun

Clean up WebSocket never starting
  src/http/websocket_http_client.zig
Labels: packages:bun

Queue tests rather than run immediately
  src/cli/test_command.zig
Labels: packages:bun

Fix a crash with `fetch(url, {body: arrayBuffer})` introduced with the Blob changes
  src/bun.js/webcore/response.zig
Labels: packages:bun

Fix `unreachable`
  src/bun.js/webcore/streams.zig
Labels: packages:bun

/s/c_int/i32
  src/deps/uws.zig
Labels: packages:bun

Add some tests for request body streaming
  test/bun.js/body-stream.test.ts
  test/bun.js/bun-jsc.test.js
  test/bun.js/fetch.test.js
Labels: tests

Use uSockets for `setTimeout` and `setInterval`
  src/bun.js/api/bun.zig
Labels: packages:bun

Update streams.zig
  src/bun.js/webcore/streams.zig
Labels: packages:bun

Fix console.log(ModuleNamespace)
  src/bun.js/bindings/exports.zig
Labels: packages:bun

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*
