Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

Fix Bun.serve not keeping process alive
  src/bun.js/api/server.zig
Labels: packages:bun

Update base.zig
  src/bun.js/base.zig
Labels: packages:bun

Lazy URL, more explicit close()
  src/bun.js/api/server.zig
  src/bun.js/webcore/response.zig
  src/deps/_libusockets.h
  src/deps/libuwsockets.cpp
  src/deps/uws.zig
Labels: packages:bun

don't need to mark
  src/bun.js/api/server.zig
Labels: packages:bun

Fixup
  src/bun.js/api/server.zig
Labels: packages:bun

fix potentially truncated encodeInto
  src/bun.js/bindings/webcore/JSTextEncoder.cpp
Labels: packages:bun

Create test_scope_debug.ts
  test/bun.js/test_scope_debug.ts
Labels: tests

[internal] Use `PollRef` for `fetch()`
  src/bun.js/webcore/response.zig
Labels: packages:bun

Add hidden `verbose` flag to `fetch` (the third argument)
  src/bun.js/webcore/response.zig
Labels: packages:bun

Remove extraneous calls to `.ref()`
  src/bun.js/api/bun.zig
  src/bun.js/api/ffi.zig
  src/bun.js/api/html_rewriter.zig
  src/bun.js/api/router.zig
  src/bun.js/api/server.zig
  src/bun.js/api/transpiler.zig
  src/bun.js/bindings/exports.zig
  src/bun.js/javascript.zig
  src/bun.js/node/types.zig
  src/bun.js/test/jest.zig
  src/bun.js/webcore/response.zig
  src/bun.js/webcore/streams.zig
  src/cli/test_command.zig
  src/js_ast.zig
  src/napi/napi.zig
  src/options.zig
  src/string_types.zig
Labels: packages:bun

more gc in fs test
  test/bun.js/fs.test.js
  test/bun.js/gc.js
Labels: tests

Use PollRef in napi
  src/napi/napi.zig
Labels: packages:bun

Fixup Body mixin implementation
  src/bun.js/webcore/response.zig
Labels: packages:bun

Use pollref in FileBlobLoader
  src/bun.js/webcore/streams.zig
Labels: packages:bun

Verbose flag
  src/http_client_async.zig
Labels: packages:bun

Support all `ArrayBufferView` in all hashing functions and node fs functions
  src/bun.js/node/types.zig
Labels: packages:bun

Use poll_ref in the io tasks
  src/bun.js/event_loop.zig
Labels: packages:bun

Add a better wrapper function for promises
  src/bun.js/bindings/bindings.zig
Labels: packages:bun

Fix OOB when multiple headers have the same name length
  src/bun.js/bindings/bindings.cpp
Labels: packages:bun

Improve test coverage for Request body streaming!
  test/bun.js/body-stream.test.ts
Labels: tests

Request->url == string, not ZigString now
  src/bun.js/api/bun.zig
  src/bun.js/api/server.zig
Labels: packages:bun

Fix unnecessary "Buffer is detached" error
  src/bun.js/base.zig
Labels: packages:bun

Attempt to address .write() bug
  src/bun.js/webcore/streams.zig
Labels: packages:bun

Fix incorrect first number in byte stream
  src/bun.js/webcore/streams.zig
Labels: packages:bun

Add a couple assertions
  src/bun.js/webcore/streams.zig
Labels: packages:bun

Delete some code
  src/bun.js/webcore/response.zig
Labels: packages:bun

Simplify some of this
  src/bun.js/bindings/bindings.cpp
Labels: packages:bun

Fix outdated type
  src/bun.js/bindings/headers-handwritten.h
Labels: packages:bun

Eagerly receive incoming request bodies
  src/bun.js/api/server.zig
Labels: packages:bun

Fix failing tests from backpressure
  src/bun.js/webcore/streams.zig
Labels: packages:bun

Fix body mixin
  src/bun.js/webcore/encoding.zig
  src/bun.js/webcore/response.zig
Labels: packages:bun

Make setTimeout/setInterval more reliable
  src/bun.js/api/bun.zig
  src/deps/uws.zig
  test/bun.js/setTimeout.test.js
Labels: packages:bun, tests

Increase test coverage for request body streaming
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun.js/javascript.zig
  src/bun.js/webcore/response.zig
  test/bun.js/body-stream.test.ts
Labels: packages:bun, tests

Fix release mode value semantics bug
  src/bun.js/webcore/response.zig
Labels: packages:bun

[bun:test] When there are lots of tests, print the failures at the bottom so you can see them easier
  src/cli/test_command.zig
Labels: packages:bun

Fix template literal systems
  src/js_lexer.zig
  src/js_parser.zig
  src/js_printer.zig
  src/string_immutable.zig
Labels: packages:bun

Update launch.json
  .vscode/launch.json
Labels: none

reverse changes to package-lock
  packages/bun-error/package-lock.json
Labels: packages:bun-error

Update .gitignore
  .gitignore
Labels: none

Add missing type check to `napi_wrap`
  src/bun.js/bindings/napi.cpp
Labels: packages:bun

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*
