Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

Slightly mroe careful TextEncoder
  src/bun.js/bindings/webcore/JSTextEncoder.cpp
Labels: packages:bun

Updates to UWS
  src/deps/uws.zig
Labels: packages:bun

move oniguruma lib to deps out dir
  Makefile
Labels: none

Add oniguruma to Dockerfile
  Dockerfile
Labels: none

Fix empty process.argv
  src/bun.js/node/types.zig
Labels: packages:bun

Fix build
  Dockerfile
  Makefile
Labels: none

y u no work
  Dockerfile
Labels: none

build faiilures
  src/deps/libuwsockets.cpp
Labels: packages:bun

Implement `performance.timeOrigin`
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/javascript.zig
  test/bun.js/performance.test.js
Labels: packages:bun, tests

Update javascript.zig
  src/bun.js/javascript.zig
Labels: packages:bun

fix args.len < capacity check
  src/bun.js/node/types.zig
  src/cli/test_command.zig
Labels: packages:bun

tests for args
  test/bun.js/print-process-args.js
  test/bun.js/process-args.test.js
Labels: tests

woops
  Dockerfile
Labels: none

file name change
  test/bun.js/process-args.test.js
Labels: tests

Fix typo in datetime.zig (#1310)
  src/deps/zig-datetime/src/datetime.zig
Labels: packages:bun

switch to stdout.writer, use JSON for parsing
  test/bun.js/print-process-args.js
  test/bun.js/process-args.test.js
Labels: tests

bun-debug or bun
  test/bun.js/process-args.test.js
Labels: tests

missing arg
  test/bun.js/process-args.test.js
Labels: tests

readme: improved readability and first impression
  README.md
Labels: none

get args fix (#1346)
  src/bun.js/node/types.zig
  src/cli/test_command.zig
  test/bun.js/print-process-args.js
  test/bun.js/process-args.test.js
Labels: packages:bun, tests

Use buffer type for Deno FFI binding to align with Bun usage (#1321)
  bench/ffi/deno.js
Labels: benchmarks

websocker-server
  README.md
  bench/websocket-server/.gitignore
  bench/websocket-server/README.md
  bench/websocket-server/chat-client.mjs
  bench/websocket-server/chat-server.bun.js
  bench/websocket-server/chat-server.deno.mjs
  bench/websocket-server/chat-server.node.mjs
  bench/websocket-server/package.json
  bench/websocket-server/tsconfig.json
Labels: benchmarks

Fix test
  test/bun.js/websocket-server.test.ts
Labels: tests

Add todo
  README.md
  bench/websocket-server/README.md
Labels: benchmarks

latest
  packages/bun-landing/pages/index.tsx
  packages/bun-landing/styles/global.css
Labels: packages:bun-landing

Allow returning a Response object when upgrading
  src/bun.js/api/server.zig
  test/bun.js/websocket-server.test.ts
Labels: packages:bun, tests

Prettier
  test/bun.js/oniguruma-regexp.test.ts
Labels: tests

Update README.md
  README.md
Labels: none

Add websocket hot example
  examples/bun-hot-websockets.js
Labels: templates

Cache dir loader: Prefer `$BUN_INSTALL` and `$XDG_CACHE_HOME` to `$HOME`.
  src/install/install.zig
Labels: packages:bun

Improve issue templates
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/1-install-problem.yml
  .github/ISSUE_TEMPLATE/2-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/3-api-ref-docs-problem.yml
  .github/ISSUE_TEMPLATE/3-feature-request.yml
  .github/ISSUE_TEMPLATE/4-docs-problem.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

Improve issue templates (#1353)
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/1-install-problem.yml
  .github/ISSUE_TEMPLATE/2-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/3-api-ref-docs-problem.yml
  .github/ISSUE_TEMPLATE/3-feature-request.yml
  .github/ISSUE_TEMPLATE/4-docs-problem.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

Cache dir loader: Prefer `$BUN_INSTALL` and `$XDG_CACHE_HOME` to `$HOME`. (#1351)
  src/install/install.zig
Labels: packages:bun

Fix calling `ws.publish` inside `close` when other clients are connected
  src/bun.js/api/server.zig
  src/deps/uws.zig
  test/bun.js/websocket-server.test.ts
Labels: packages:bun, tests

fix: Bun.serve handle error
  src/bun.js/api/server.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
Labels: packages:bun

test: add Bun.serve error handler error param test
  test/bun.js/serve.test.ts
Labels: tests

Fix Bun.serve error handler error param (#1359)
  src/bun.js/api/server.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  test/bun.js/serve.test.ts
Labels: packages:bun, tests

handle multibyte hex characters
  src/bun.js/bindings/OnigurumaRegExp.cpp
Labels: packages:bun

Fix crash in `highWaterMark`
  src/bun.js/bindings/JSReadableState.cpp
Labels: packages:bun

non extended strings used for toString() and source
  src/bun.js/bindings/OnigurumaRegExp.cpp
  src/js_ast.zig
Labels: packages:bun

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*
