Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

space
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/ZigGlobalObject.cpp
Labels: packages:bun

Support getting cached values and pending activity in the bindings generator
  src/bun.js/bindings/generated_classes.zig
Labels: packages:bun

Remove :scissors: function
  src/bun.js/javascript_core_c_api.zig
Labels: packages:bun

formatting
  src/bun.js/bindings/OnigurumaRegExp.h
Labels: packages:bun

test for repeated match and exec calls
  test/bun.js/oniguruma-regexp.test.ts
Labels: tests

create oniguruma regex for each exec/test
  src/bun.js/bindings/OnigurumaRegExp.cpp
  src/bun.js/bindings/OnigurumaRegExp.h
Labels: packages:bun

check errorCode from creating oniguruma regexp and always return {} on failure
  src/bun.js/bindings/OnigurumaRegExp.cpp
Labels: packages:bun

oops
  src/bun.js/bindings/OnigurumaRegExp.cpp
Labels: packages:bun

call onig_initialize once
  src/bun.js/bindings/OnigurumaRegExp.cpp
Labels: packages:bun

Fix typo in homebrew action
  .github/workflows/bun-homebrew.yml
Labels: none

Limit concurrency for MacOS Object actions
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
Labels: none

Fix issue with `CryptoKey` and `SubtleCrypto` constructors
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/webcore/DOMConstructors.h
Labels: packages:bun

Run homebrew action when release is edited
  .github/workflows/bun-homebrew.yml
Labels: none

Add missing dependencies to `make devcontainer`
  Makefile
Labels: none

Add a stub for io_darwin on linux
  src/io/io_darwin.cpp
Labels: packages:bun

Download more RAM
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
Labels: none

Prefer `BUN_PORT` over `PORT`
  src/bun.js/api/server.zig
Labels: packages:bun

Add missing `break`
  src/bun.js/ffi.exports.js
Labels: packages:bun

feat(core): optimize zig slice (#1408)
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/transpiler.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/exports.zig
  src/bun.js/node/types.zig
  src/bun.js/test/jest.zig
  src/bun.js/webcore/encoding.zig
  src/bun.js/webcore/response.zig
  src/nullable_allocator.zig
Labels: packages:bun

Make these tests better
  test/bun.js/web-crypto.test.ts
Labels: tests

Fixup
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
Labels: none

space
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/ZigGlobalObject.cpp
Labels: packages:bun

Make `"tls"` an explicit object we pass instead of implicit top-level options
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/server.zig
Labels: packages:bun

temporary fix
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
Labels: none

Enable `BUN_OVERRIDE_MODULE_PATH` in `bun wiptest`
  src/cli/test_command.zig
Labels: packages:bun

Support getting cached values and pending activity in the bindings generator
  src/bun.js/bindings/generated_classes.zig
Labels: packages:bun

Upgrade WebKit
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
  Dockerfile.devcontainer
  bench/snippets/array-shift.mjs
  src/bun.js/bindings/BunJSCModule.cpp
  src/bun.js/bindings/OnigurumaRegExp.cpp
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/webcore/FetchHeaders.cpp
  src/bun.js/bindings/webcore/FetchHeaders.h
  src/bun.js/bindings/wtf-bindings.cpp
  src/bun.js/scripts/class-definitions.ts
  src/bun.js/scripts/generate-classes.ts
Labels: packages:bun, benchmarks

try againn
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
Labels: none

Remove webcrypto from vendor-without-check
  Makefile
Labels: none

Update server.zig
  src/bun.js/api/server.zig
Labels: packages:bun

Remove :scissors: function
  src/bun.js/javascript_core_c_api.zig
Labels: packages:bun

Allow overriding node polyfills via `BUN_OVERRIDE_MODULE_PATH`
  src/bun.js/child_process.exports.js
  src/bun.js/https.exports.js
  src/bun.js/javascript.zig
  src/bun.js/net.exports.js
  src/bun_js.zig
Labels: packages:bun

Check published_at instead of draft in GitHub action
  .github/workflows/bun-homebrew.yml
Labels: none

Move this to dependencies so the .a files upload
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
Labels: none

Implement `process.release`
  src/bun.js/bindings/Process.cpp
  src/cli/upgrade_command.zig
  test/bun.js/process.test.js
Labels: packages:bun, tests

againn
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
Labels: none

Update default tsconfig (#1418)
  src/cli/tsconfig-for-init.json
Labels: packages:bun

Fix crucial step to make permament on machines bun
  README.md
Labels: none

Add crucial step make permanent bun on machines
  README.md
Labels: none

reverted unintended changes in bun.js/bindings/headers.zig
  src/bun.js/bindings/headers.zig
Labels: packages:bun

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*
