Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*

use functionSpace for JSStringDecoderConstructor and fix console.log on prototype
  src/bun.js/bindings/JSStringDecoder.cpp
  src/bun.js/bindings/JSStringDecoder.h
  src/bun.js/bindings/exports.zig
Labels: packages:bun

Fix GitHub CLI installation (#1204)
  .devcontainer/scripts/github.sh
Labels: none

chore(install-script): automatically add bun to path - bash shell (#1168)
  src/cli/install.sh
Labels: packages:bun

Fixes https://github.com/oven-sh/bun/issues/677
  src/bun.js/webcore/response.zig
Labels: packages:bun

update example react-is to v18(#1155) (#1172)
  examples/next/package.json
Labels: templates

Add a code of conduct
  CODE_OF_CONDUCT.md
Labels: none

Fix build error
  src/bun.js/modules/ObjectModule.h
Labels: packages:bun

Fix C++ intellisense
  .vscode/c_cpp_properties.json
Labels: none

Fix `createRequire()` in `node:module`
  Makefile
  src/bun.js/bindings/ImportMetaObject.cpp
  src/bun.js/bindings/ImportMetaObject.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/javascript.zig
  src/bun.js/module.exports.js
  src/bun.js/modules/NodeModuleModule.cpp
  src/bun.js/modules/NodeModuleModule.h
  test/bun.js/import-meta.test.js
Labels: packages:bun, tests

[Node API] Fix `napi_module_register`
  src/bun.js/bindings/Process.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/napi.cpp
  src/bun.js/javascript.zig
Labels: packages:bun

@globalPrivate -> @linkTimeConstant
  src/bun.js/builtins/cpp/ImportMetaObjectBuiltins.cpp
  src/bun.js/builtins/cpp/ImportMetaObjectBuiltins.h
  src/bun.js/builtins/cpp/ReadableStreamBuiltins.cpp
  src/bun.js/builtins/cpp/StreamInternalsBuiltins.cpp
  src/bun.js/builtins/js/ReadableStream.js
  src/bun.js/builtins/js/ReadableStreamInternals.js
Labels: packages:bun

`[node:module]` Implement `_resolveFileName`, stub `_nodeModulePaths` & `_cache`
  src/bun.js/bindings/ImportMetaObject.cpp
  src/bun.js/bindings/ImportMetaObject.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/builtins/BunBuiltinNames.h
  src/bun.js/builtins/js/ImportMetaObject.js
  src/bun.js/builtins/js/StreamInternals.js
  src/bun.js/modules/NodeModuleModule.cpp
Labels: packages:bun

Some tests
  test/bun.js/import-meta.test.js
Labels: tests

chore: make requested changes
  src/cli/dot_command.zig
Labels: packages:bun

Rename `is_macro_mode` -> `use_alternate_source_cache`
  src/bun.js/javascript.zig
  src/cache.zig
Labels: packages:bun

Missing #pragma once
  src/bun.js/modules/ObjectModule.h
Labels: packages:bun

`inline`
  src/bun.js/modules/ObjectModule.h
Labels: packages:bun

Move `generateObjectModuleSourceCode` to separate file to fix build error
  src/bun.js/modules/ObjectModule.cpp
  src/bun.js/modules/ObjectModule.h
Labels: packages:bun

Add native ReadableState
  src/bun.js/bindings/JSBufferList.cpp
  src/bun.js/bindings/JSBufferList.h
  src/bun.js/bindings/JSReadableState.cpp
  src/bun.js/bindings/JSReadableState.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/streams.exports.js
Labels: packages:bun

Support async `onLoad` callbacks in `Bun.plugin`
  src/bun.js/bindings/BunPlugin.cpp
  src/bun.js/bindings/ModuleLoader.cpp
  src/bun.js/bindings/ModuleLoader.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/javascript.zig
  src/bun.js/modules/BufferModule.h
  src/bun.js/modules/EventsModule.h
  src/bundler.zig
  src/env.zig
  src/fs.zig
  src/js_ast.zig
  src/js_parser.zig
  src/runtime.zig
  src/string_immutable.zig
  test/bun.js/bun-loader-svelte/bun-loader-svelte.ts
  test/bun.js/bun-loader-svelte/package.json
  test/bun.js/plugins.test.ts
Labels: packages:bun, tests

move kPaused to class property
  src/bun.js/bindings/JSReadableState.cpp
  src/bun.js/bindings/JSReadableState.h
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/streams.exports.js
Labels: packages:bun

[Bun.plugin] Clean up exception handling
  src/bun.js/bindings/BunPlugin.cpp
  src/bun.js/bindings/ModuleLoader.cpp
  src/bundler.zig
Labels: packages:bun

Add native ReadableState (#1210)
  src/bun.js/bindings/JSBufferList.cpp
  src/bun.js/bindings/JSBufferList.h
  src/bun.js/bindings/JSReadableState.cpp
  src/bun.js/bindings/JSReadableState.h
  src/bun.js/bindings/JSStringDecoder.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/streams.exports.js
Labels: packages:bun

Fix crash in Buffer module
  src/bun.js/bindings/ModuleLoader.cpp
Labels: packages:bun

Make fs extensible
  src/bun.js/fs.exports.js
Labels: packages:bun

Loosen-up the streams polyfill
  src/bun.js/streams.exports.js
Labels: packages:bun

Add `@` to acceptable namespace characters
  src/bun.js/bindings/BunPlugin.cpp
Labels: packages:bun

preserve statements when generating a separate module for bun plugin
  src/js_parser.zig
Labels: packages:bun

Add missing `Blob`
  src/bun.js/modules/BufferModule.h
Labels: packages:bun

Make the plugins a little more resilient
  src/bun.js/bindings/bindings.cpp
  src/bun.js/builtins/cpp/ImportMetaObjectBuiltins.cpp
  src/bun.js/builtins/js/ImportMetaObject.js
  src/bun.js/fs.exports.js
  src/bun.js/javascript.zig
Labels: packages:bun

Start to document loader api
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Add `node:assert` to list of hardcoded modules to fix ESM compat issue
  src/bun.js/assert.exports.js
  src/bun.js/javascript.zig
Labels: packages:bun

Set a default Loader based on filename
  src/bun.js/bindings/ModuleLoader.cpp
Labels: packages:bun

Fix issue with `process` esm node export
  src/bun.js/modules/ProcessModule.h
Labels: packages:bun

Return a `Buffer` object for fs.readFile
  src/bun.js/base.zig
  src/bun.js/node/node_fs.zig
  src/bun.js/node/types.zig
  src/bundler/generate_node_modules_bundle.zig
Labels: packages:bun

Rename LinkerMap to Aliases to be less confusing
  src/linker.zig
Labels: packages:bun

Update README.md
  README.md
Labels: none

[Bun.plugin] Allow slashes in namespaces
  src/bun.js/bindings/BunPlugin.cpp
Labels: packages:bun

Fix bug with macros
  src/bun.js/javascript.zig
Labels: packages:bun
