Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*

Make `fetch` throw a `SystemError` on reject
  src/bun.js/webcore/response.zig
  src/http_client_async.zig
Labels: packages:bun

Update build-id
  build-id
Labels: none

Fix crash when specifying same package name twice in `bun add`
  src/install/install.zig
Labels: packages:bun

Fix missing `reason` and `code` in `CloseEvent`
  src/bun.js/bindings/webcore/EventFactory.cpp
  src/bun.js/bindings/webcore/EventHeaders.h
  src/bun.js/bindings/webcore/WebSocket.cpp
  src/bun.js/bindings/webcore/WebSocket.h
  src/http/websocket_http_client.zig
Labels: packages:bun

[bun install] Add a package index via symlinks to ~/.bun/install/cache
  src/install/extract_tarball.zig
Labels: packages:bun

chore: add napi label
  .github/labels.yml
Labels: none

chore: add napi label (#1245)
  .github/labels.yml
Labels: none

Partially implement `server.fetch()` on Bun.serve
  src/bun.js/api/server.zig
  src/bun.js/webcore/response.zig
Labels: packages:bun

Fix default hostname
  src/bun.js/api/server.zig
Labels: packages:bun

Prevent returning resolved promises
  src/bun.js/api/server.zig
Labels: packages:bun

fix: minor fix and add more test
  src/env_loader.zig
Labels: packages:bun

Update macOS contributing instructions
  .gitmodules
  Makefile
  README.md
Labels: none

Smaller stack
  src/network_thread.zig
Labels: packages:bun

Avoid undefined memory
  src/string_mutable.zig
Labels: packages:bun

Update macOS contributing instructions (#1247)
  .gitmodules
  Makefile
  README.md
Labels: none

Update WebKit
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
  Dockerfile.devcontainer
Labels: none

Explicitly enable ShadowRealm
  src/bun.js/bindings/ZigGlobalObject.cpp
Labels: packages:bun

Update & configure SSL a little
  docs/runtime/streams.md
  src/deps/boringssl.translated.zig
  src/deps/uws.zig
  src/http/websocket_http_client.zig
  src/http_client_async.zig
Labels: packages:bun

Handle missing 0\r\n chunk in HTTP client
  src/http_client_async.zig
Labels: packages:bun

[env loader] Improve nested value parsing performance
  src/env_loader.zig
Labels: packages:bun

Fix napi module registration
  src/bun.js/bindings/Process.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/napi.cpp
Labels: packages:bun

feat: env loader nested values with curly braces (#1246)
  src/env_loader.zig
Labels: packages:bun

extremely minor perf nit
  src/env_loader.zig
Labels: packages:bun

Add a way to disable timeout and keepalive
  src/bun.js/webcore/response.zig
  src/http_client_async.zig
Labels: packages:bun

Update http_client_async.zig
  src/http_client_async.zig
Labels: packages:bun

Fix broken sending http body
  src/http_client_async.zig
Labels: packages:bun

Update build-id
  build-id
Labels: none

Fix occasional crash with .json()
  src/bun.js/webcore/response.zig
Labels: packages:bun

Improve the perf of reading HTTP request body
  src/bun.js/api/server.zig
Labels: packages:bun

feat(bun-landing): add cloudflare worker to rewrite install url
  packages/bun-landing/README.md
  packages/bun-landing/install-worker/index.js
  packages/bun-landing/install-worker/wrangler.toml
Labels: packages:bun-landing

Fix larger bodies
  src/http_client_async.zig
Labels: packages:bun

[Web Streams] Add `body` to `Response` and `Request`
  src/bun.js/api/server.zig
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/napi.cpp
  src/bun.js/webcore/response.classes.ts
  src/bun.js/webcore/response.zig
  src/bun.js/webcore/streams.zig
  src/napi/napi.zig
  test/bun.js/streams.test.js
Labels: packages:bun, tests

Remove improper coercion of environment variables
  src/env_loader.zig
Labels: packages:bun

Fix broken destructors
  src/bun.js/api/bun.zig
Labels: packages:bun

Add more tags to be usable with typeof
  src/js_ast.zig
Labels: packages:bun

Implement `imports` in package.json (`#foo` imports)
  src/resolver/package_json.zig
  src/resolver/resolver.zig
  test/bun.js/resolve.test.js
  test/bun.js/serve.test.ts
Labels: packages:bun, tests

Handle nested files more correctly with "imports" in package.json
  src/resolver/resolver.zig
Labels: packages:bun

Pass through arguments unmodified after `bun run <script>` or `bun <script>`
  src/bun_js.zig
  src/cli.zig
  src/cli/run_command.zig
  src/deps/zig-clap/clap.zig
  src/deps/zig-clap/clap/args.zig
  src/deps/zig-clap/clap/comptime.zig
Labels: packages:bun

Update `process.argv` to more closely match node
  src/bun.js/node/types.zig
Labels: packages:bun

Fix incorrect `hostname` logic
  src/bun.js/api/server.zig
  src/bun.js/javascript.zig
Labels: packages:bun
