Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*

wip
  src/deps/picohttp.zig
  src/deps/picohttpparser.zig
  src/deps/uws.zig
  src/hive_array.zig
  src/http_client_async.zig
  src/network_thread.zig
Labels: packages:bun

It mostly works!
  Dockerfile
  build.zig
  misctools/fetch.zig
  src/bun.js/event_loop.zig
  src/bun.js/webcore/response.zig
  src/cli/create_command.zig
  src/cli/upgrade_command.zig
  src/deps/picohttp.zig
  src/deps/uws.zig
  src/hive_array.zig
  src/http/websocket_http_client.zig
  src/http/zlib.zig
  src/http_client_async.zig
  src/install/install.zig
  src/io/io_darwin.zig
  src/network_thread.zig
Labels: packages:bun

Support `bun install`
  src/install/install.zig
Labels: packages:bun

Support `bun create`
  src/cli/create_command.zig
Labels: packages:bun

Support chunked transfer encoding
  src/http_client_async.zig
Labels: packages:bun

Handle Keep Alive when redirecting to a different domain
  src/http_client_async.zig
Labels: packages:bun

New HTTP client (#1231)
  Dockerfile
  build.zig
  misctools/fetch.zig
  src/bun.js/event_loop.zig
  src/bun.js/webcore/response.zig
  src/cli/create_command.zig
  src/cli/upgrade_command.zig
  src/deps/picohttp.zig
  src/deps/picohttpparser.zig
  src/deps/uws.zig
  src/hive_array.zig
  src/http/websocket_http_client.zig
  src/http/zlib.zig
  src/http_client_async.zig
  src/install/install.zig
  src/io/io_darwin.zig
  src/network_thread.zig
Labels: packages:bun

typo
  Dockerfile
Labels: none

class decorators, working on properties
  src/js_parser.zig
  src/runtime.footer.bun.js
  src/runtime.footer.js
  src/runtime.footer.node.js
  src/runtime.footer.with-refresh.js
  src/runtime.js
  src/runtime.zig
  test/scripts/package.json
  test/scripts/snippets.json
  test/snippets/decorators.ts
Labels: packages:bun, tests

Hardcode localhost on macOS
  src/feature_flags.zig
  src/http_client_async.zig
Labels: packages:bun

Fix build issue on Linux?
  src/io/io_linux.zig
Labels: packages:bun

Resolve rope strings in dynamic import paths
  src/js_ast.zig
  src/js_parser.zig
Labels: packages:bun

working through decorator keys
  src/js_parser.zig
Labels: packages:bun

Fix bug with `Buffer.from([123], "utf8")`
  src/bun.js/builtins/cpp/JSBufferConstructorBuiltins.cpp
  src/bun.js/builtins/js/JSBufferConstructor.js
Labels: packages:bun

Add test
  test/bun.js/buffer.test.js
Labels: tests

Fix Linux 200ms http client delay
  src/http_client_async.zig
Labels: packages:bun

Make `crypto.getRandomValues()` faster + fix > 1 byte/element typed arrays
  bench/snippets/crypto.mjs
  src/bun.js/base.zig
  src/bun.js/bindings/ZigGeneratedCode.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun.js/javascript.zig
  src/bun.js/webcore.zig
  test/bun.js/web-globals.test.js
Labels: packages:bun, tests, benchmarks

Fixed range issue on slice buffer
  src/bun.js/builtins/cpp/JSBufferPrototypeBuiltins.cpp
  src/bun.js/builtins/js/JSBufferPrototype.js
Labels: packages:bun

Implement createWriteStream
  src/bun.js/fs.exports.js
Labels: packages:bun

5x faster crypto.randomValues()
  src/bun.js/rare_data.zig
  src/bun.js/uuid.zig
  src/bun.js/webcore.zig
  src/deps/boringssl.translated.zig
  src/global.zig
  src/http/websocket_http_client.zig
  test/bun.js/web-globals.test.js
Labels: packages:bun, tests

Update crypto benchmark
  bench/snippets/crypto.mjs
Labels: benchmarks

Add missing `getRandomValues` to crypto polyfill
  bench/snippets/crypto.mjs
  src/node-fallbacks/crypto.js
Labels: packages:bun, benchmarks

Update crypto.mjs
  bench/snippets/crypto.mjs
Labels: benchmarks

typo
  bench/snippets/crypto.mjs
Labels: benchmarks

woops that was wrong
  src/global.zig
Labels: packages:bun

Fix issue with websockets callback not registering in canary
  src/http/websocket_http_client.zig
Labels: packages:bun

Use entropy cache for websocket mask
  src/bun.js/rare_data.zig
  src/http/websocket_http_client.zig
Labels: packages:bun

docs(thread_pool): comment readability improvements
  src/thread_pool.zig
Labels: packages:bun

find first non-ascii using simd
  src/string_immutable.zig
Labels: packages:bun

libarchive
  src/string_immutable.zig
Labels: packages:bun

simplified code and added comments
  src/string_immutable.zig
Labels: packages:bun

small optimization
  src/string_immutable.zig
Labels: packages:bun

fixing search on left over
  src/string_immutable.zig
Labels: packages:bun

Make new HTTP client more stable
  .vscode/launch.json
  Makefile
  misctools/fetch.zig
  misctools/http_bench.zig
  src/analytics/analytics_thread.zig
  src/bun.js/api/bun.zig
  src/bun.js/api/server.zig
  src/bun.js/base.zig
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/event_loop.zig
  src/bun.js/javascript.zig
  src/bun.js/unbounded_queue.zig
  src/bun.js/webcore/response.zig
  src/bun.js/webcore/streams.zig
  src/bun_js.zig
  src/cli/create_command.zig
  src/cli/test_command.zig
  src/cli/upgrade_command.zig
  src/deps/uws.zig
  src/feature_flags.zig
  src/global.zig
  src/http/websocket_http_client.zig
  src/http_client_async.zig
  src/install/install.zig
  src/mimalloc_arena.zig
  src/napi/napi.zig
  src/pool.zig
  src/thread_pool.zig
  test/bun.js/buffer.test.js
  test/bun.js/fetch.test.js
  test/bun.js/serve.test.ts
  test/bun.js/transpiler.test.js
Labels: packages:bun, tests

Fix crash when parsing empty JSON file
  src/json_parser.zig
Labels: packages:bun

Fix process not exiting
  src/bun.js/event_loop.zig
  src/bun.js/javascript.zig
Labels: packages:bun

Fix `origin` missing `protocol` in `URL`
  src/bun.js/bindings/URLDecomposition.cpp
  test/bun.js/web-globals.test.js
Labels: packages:bun, tests

[bun install] Remove spinloop
  src/install/install.zig
Labels: packages:bun

Fix issue with server not starting before exiting
  src/bun.js/api/server.zig
  src/bun.js/event_loop.zig
  src/bun.js/javascript.zig
Labels: packages:bun

Fix issue with chunked transfer encoding
  src/http_client_async.zig
Labels: packages:bun
