Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

Simplify the code that reads HTTP client request bodies
  src/http/async_message.zig
  src/http_client_async.zig
Labels: packages:bun

Simplify code that turns a fetch() response into a JSResponse
  src/bun.js/webcore/response.zig
Labels: packages:bun

More careful code generator
  src/bun.js/scripts/generate-classes.ts
Labels: packages:bun

Disable some logging
  src/bun.js/bindings/shimmer.zig
  src/jsc.zig
Labels: packages:bun

Fail earlier when there are encoding errors
  src/string_immutable.zig
Labels: packages:bun

Fix WebSocket server sending invalid data at the end
  src/deps/libuwsockets.cpp
Labels: packages:bun

Make more sure we know what the types we are sending are
  src/deps/_libusockets.h
Labels: packages:bun

Changed api
  test/bun.js/websocket-server.test.ts
Labels: tests

Name the thread
  src/network_thread.zig
Labels: packages:bun

Make debug logs configurable
  src/output.zig
Labels: packages:bun

Add a comment
  src/bun.js/webcore/streams.zig
Labels: packages:bun

disable lto for UWS to workaround bug under load
  Makefile
Labels: none

Disable InlineBlob optimization
  src/bun.js/api/server.zig
  src/bun.js/webcore/response.zig
Labels: packages:bun

Revert "disable lto for UWS to workaround bug under load"
  Makefile
Labels: none

Fix #1335
  src/http/websocket_http_client.zig
Labels: packages:bun

yml
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
Labels: none

Prettier
  bench/ffi/deno.js
Labels: benchmarks

Redo
  README.md
Labels: none

Redo WebSocket api
  src/bun.js/api/server.classes.ts
  src/bun.js/api/server.zig
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/builtins/BunBuiltinNames.h
  src/bun.js/webcore/response.zig
  test/bun.js/websocket-server.test.ts
Labels: packages:bun, tests

Handle .zero better
  src/bun.js/base.zig
Labels: packages:bun

Implement `error` and `binaryType`
  src/bun.js/api/server.classes.ts
  src/bun.js/api/server.zig
  src/bun.js/bindings/bindings.cpp
  src/deps/uws.zig
Labels: packages:bun

More tests
  test/bun.js/websocket-server.test.ts
Labels: tests

Fix headers + add test
  src/bun.js/api/server.zig
  test/bun.js/websocket-server.test.ts
Labels: packages:bun, tests

Clean up some code
  src/bun.js/api/server.zig
  src/bun.js/bindings/generated_classes.zig
Labels: packages:bun

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Implement `sendText`, `sendBinary`, `publishText`, `publishBinary`
  src/bun.js/api/server.classes.ts
  src/bun.js/api/server.zig
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun.js/scripts/class-definitions.ts
  src/bun.js/scripts/generate-classes.ts
  test/bun.js/websocket-server.test.ts
Labels: packages:bun, tests

Handle assertion faillure
  src/http/websocket_http_client.zig
Labels: packages:bun

Update websocket-server.test.ts
  test/bun.js/websocket-server.test.ts
Labels: tests

Workaround crash
  src/bun.js/api/server.zig
Labels: packages:bun

revert sql changes
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  src/bun.js/bindings/sqlite/JSSQLStatement.h
Labels: packages:bun

fix indices flag, add tests
  src/bun.js/bindings/OnigurumaRegExp.cpp
  test/bun.js/oniguruma-regexp.test.ts
Labels: packages:bun, tests

Fix error handler
  bench/fetch/bun.js
  bench/fetch/deno.js
  bench/fetch/node.mjs
  src/bun.js/api/server.zig
  test/bun.js/websocket-server.test.ts
Labels: packages:bun, tests, benchmarks

revert settings
  .vscode/c_cpp_properties.json
Labels: none

working error messages
  src/bun.js/bindings/OnigurumaRegExp.cpp
Labels: packages:bun

more tests for lastIndex, fix logic for compile and lastIndex
  src/bun.js/bindings/OnigurumaRegExp.cpp
  test/bun.js/oniguruma-regexp.test.ts
Labels: packages:bun, tests

Load fewer copies of uWS
  src/bun.js/bindings/ScriptExecutionContext.cpp
  src/bun.js/bindings/webcore/WebSocket.cpp
  src/bun.js/bindings/webcore/WebSocket.h
Labels: packages:bun

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*
