Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*

Fix potential crash when resolving package.json "exports"
  src/resolver/resolver.zig
Labels: packages:bun

[Bun.plugin] Throw an error when the loader is invalid
  src/bun.js/bindings/ModuleLoader.cpp
Labels: packages:bun

[Bun.plugin] Fix validating `loader`
  src/bun.js/bindings/ModuleLoader.cpp
Labels: packages:bun

Added statusText support in response object
  src/bun.js/api/html_rewriter.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/builtins/BunBuiltinNames.h
  src/bun.js/webcore/response.zig
Labels: packages:bun

Added statusText tests
  test/bun.js/html-rewriter.test.js
  test/bun.js/inspect.test.js
  test/bun.js/serve.test.ts
Labels: tests

Add a helper for static strings
  src/bun.js/bindings/bindings.zig
  src/bun.js/node/node_os.zig
  src/bun.js/node/os/constants.zig
Labels: packages:bun

Move some things to the stack
  src/bun.js/test/jest.zig
Labels: packages:bun

workaround test failure
  src/bun.js/api/FFI.h
  src/bun.js/api/ffi.zig
  src/bun.js/bindings/JSFFIFunction.cpp
  src/bun.js/bindings/JSFFIFunction.h
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/bindings.zig
  src/bun.js/node/node_os.zig
  src/bun.js/webcore/streams.zig
  test/bun.js/ffi.test.js
Labels: packages:bun, tests

Fix missing file in SQL-raw test
  test/bun.js/northwind.testdb
  test/bun.js/sql-raw.test.js
Labels: tests

Fix issue with loading bundled entry points
  src/bun.js/javascript.zig
Labels: packages:bun

Mild perf improvement for bindings
  src/bun.js/node/types.zig
Labels: packages:bun

Fast path for `Bun.write` with short-ish strings & typed arrays
  src/bun.js/webcore/response.zig
Labels: packages:bun

Handle `default` better with ESM node
  src/runtime.js
Labels: packages:bun

Fix flaky tests
  test/bun.js/serve.test.ts
Labels: tests

More tests for Bun.write
  test/bun.js/response.file.test.js
Labels: tests

Bun.write - only truncate if its a path string
  src/bun.js/webcore/response.zig
Labels: packages:bun

[Bun.write] clean up some error handling
  src/bun.js/webcore/response.zig
Labels: packages:bun

Helper for seeing if a File Blob is seekable
  src/bun.js/webcore/response.zig
Labels: packages:bun

Add benchmark for small write() performance
  bench/snippets/write.bun.js
  bench/snippets/write.node.mjs
Labels: benchmarks

Fix crash with file descriptor
  src/bun.js/webcore/response.zig
Labels: packages:bun

Make some more globals modifiable
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  test/bun.js/globals.test.js
Labels: packages:bun, tests

Add native helper functions for Readable and convert ReadableState properties to getter/setter
  src/bun.js/bindings/JSReadableHelper.cpp
  src/bun.js/bindings/JSReadableHelper.h
  src/bun.js/bindings/JSReadableState.cpp
  src/bun.js/bindings/JSReadableState.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/streams.exports.js
Labels: packages:bun

Add native helper functions for Readable and convert ReadableState properties to getter/setter (#1218)
  src/bun.js/bindings/JSReadableHelper.cpp
  src/bun.js/bindings/JSReadableHelper.h
  src/bun.js/bindings/JSReadableState.cpp
  src/bun.js/bindings/JSReadableState.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/streams.exports.js
Labels: packages:bun

[bun:ffi] Implement `read.{u8,i8,i16,i32,u16,u32,ptr,intptr}`
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
  Dockerfile.devcontainer
  Makefile
  src/bun.js/base.zig
  src/bun.js/bindings/ZigGeneratedCode.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun.js/event_loop.zig
  src/bun.js/ffi.exports.js
  test/bun.js/ffi.test.js
Labels: packages:bun, tests

Last commit was missing some code
  src/bun.js/api/bun.zig
  test/bun.js/ffi.test.js
Labels: packages:bun, tests

[breaking][bun:ffi] Change the pointer representation to be a 52-bit integer
  src/bun.js/api/FFI.h
  src/bun.js/api/bun.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
Labels: packages:bun

Fix segfault due to GC and some more helper functions
  src/bun.js/bindings/JSReadableHelper.cpp
  src/bun.js/bindings/JSReadableHelper.h
  src/bun.js/bindings/JSReadableState.cpp
  src/bun.js/bindings/JSReadableState.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/streams.exports.js
Labels: packages:bun

fix upon reviews
  src/bun.js/bindings/JSReadableHelper.cpp
  src/bun.js/bindings/JSReadableState.cpp
  src/bun.js/bindings/JSReadableState.h
Labels: packages:bun

Implement createReadStream using bun apis
  src/bun.js/fs.exports.js
Labels: packages:bun

Update fs.exports.js
  src/bun.js/fs.exports.js
Labels: packages:bun

Fix failing tests after ptr change
  src/bun.js/api/FFI.h
  src/bun.js/api/ffi.zig
Labels: packages:bun

[bun:ffi] Add `f32`, `f64`, `i64`, u64` to `read`
  src/bun.js/api/bun.zig
  src/bun.js/base.zig
  src/bun.js/bindings/ZigGeneratedCode.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  test/bun.js/ffi.test.js
Labels: packages:bun, tests

Fix potential crash when returning an empty string
  src/bun.js/base.zig
  src/bun.js/node/types.zig
Labels: packages:bun

[node:fs] Fix readFileSync on non-regular files
  src/bun.js/node/node_fs.zig
  test/bun.js/fs.test.js
Labels: packages:bun, tests

Add `read` to README
  README.md
Labels: none

Fix import path issue in ffi bench
  bench/ffi/bun.js
Labels: benchmarks

Update README.md
  README.md
Labels: none

add visitChildren
  src/bun.js/bindings/JSBufferList.cpp
  src/bun.js/bindings/JSBufferList.h
  src/bun.js/bindings/JSReadableState.cpp
  src/bun.js/bindings/JSReadableState.h
Labels: packages:bun

Fix segfault due to GC and some more helper functions (#1221)
  src/bun.js/bindings/JSBufferList.cpp
  src/bun.js/bindings/JSBufferList.h
  src/bun.js/bindings/JSReadableHelper.cpp
  src/bun.js/bindings/JSReadableHelper.h
  src/bun.js/bindings/JSReadableState.cpp
  src/bun.js/bindings/JSReadableState.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/streams.exports.js
Labels: packages:bun

[env loader] Add support for nested value with curly braces
  src/env_loader.zig
Labels: packages:bun
