Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

[napi] Implement `napi_remove_wrap`
  src/bun.js/bindings/napi.cpp
  src/symbols.dyn
  src/symbols.txt
Labels: packages:bun

Fix `setTimeout(0)`, improve test coverage slightly, reduce memory usage of timers
  src/bun.js/api/bun.zig
  src/bun.js/base.zig
  src/bun.js/event_loop.zig
  src/bun.js/javascript.zig
  test/bun.js/setTimeout.test.js
Labels: packages:bun, tests

Fix unref'ing websocket
  src/bun.js/api/bun.zig
  src/http/websocket_http_client.zig
Labels: packages:bun

Fix test failures
  src/bun.js/api/bun.zig
  src/bun.js/api/html_rewriter.zig
  src/bun.js/api/server.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/webcore/HTTPHeaderMap.cpp
  src/bun.js/bindings/webcore/HTTPHeaderMap.h
  src/bun.js/webcore/response.zig
  src/bun.js/webcore/streams.zig
  src/bun_js.zig
  src/deps/uws.zig
  test/bun.js/fetch.test.js
  test/bun.js/inspect.test.js
  test/bun.js/util/util-promisify.test.js
Labels: packages:bun, tests

Reduce memory usage of HTTP requests by 8 KB
  src/http_client_async.zig
Labels: packages:bun

Fix test expectation counter
  src/bun.js/test/jest.zig
Labels: packages:bun

Remove extra green
  src/cli/test_command.zig
Labels: packages:bun

Fix undefined is not a function error in WritableStream
  src/bun.js/builtins/cpp/ReadableStreamInternalsBuiltins.cpp
  src/bun.js/builtins/cpp/StreamInternalsBuiltins.cpp
  src/bun.js/builtins/cpp/WritableStreamInternalsBuiltins.cpp
  src/bun.js/builtins/js/StreamInternals.js
  src/bun.js/builtins/js/WritableStreamInternals.js
Labels: packages:bun

`Bun.spawn` start to implement support for buffered input (ArrayBuffer, Response, Request body)
  src/bun.js/api/bun.classes.ts
  src/bun.js/api/bun.zig
  src/bun.js/base.zig
  src/bun.js/builtins/js/ReadableStreamInternals.js
  src/bun.js/event_loop.zig
  src/bun.js/webcore/response.zig
  src/bun.js/webcore/streams.zig
Labels: packages:bun

`node:fs` implement `rm` on macOS
  src/bun.js/fs.exports.js
  src/bun.js/node/node_fs.zig
  src/bun.js/node/node_fs_binding.zig
  src/bun.js/node/syscall.zig
  src/darwin_c.zig
Labels: packages:bun

Add readdir snippet
  bench/snippets/readdir.mjs
Labels: benchmarks

Make regular expressions use ascii
  src/js_printer.zig
Labels: packages:bun

Fix DotEnv Loader ignoring error log level
  src/bundler.zig
Labels: packages:bun

working through decorator keys
  src/js_parser.zig
Labels: packages:bun

class decorators, working on properties
  src/js_parser.zig
  src/runtime.footer.bun.js
  src/runtime.footer.js
  src/runtime.footer.node.js
  src/runtime.footer.with-refresh.js
  src/runtime.js
  src/runtime.zig
  test/scripts/package.json
  test/scripts/snippets.json
  test/snippets/decorators.ts
Labels: packages:bun, tests

fix: console.log handle circular correctly
  src/bun.js/bindings/exports.zig
  test/bun.js/console-log.js
Labels: packages:bun, tests

fix: console.log handle circular correctly (#1293)
  src/bun.js/bindings/exports.zig
  test/bun.js/console-log.js
Labels: packages:bun, tests

docs(thread_pool): comment readability improvements (#1241)
  src/thread_pool.zig
Labels: packages:bun

Temporary hack so `res.socket` in node:http doesn't throw
  src/bun.js/http.exports.js
Labels: packages:bun

Add abstraction for ticking async event loop
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun_js.zig
  src/cli/test_command.zig
Labels: packages:bun

Export `rm` in fs/promises
  src/bun.js/fs_promises.exports.js
Labels: packages:bun

Mark these strings as not needing to be GC'd
  src/bun.js/bindings/Process.cpp
Labels: packages:bun

Handle more edgecases in fs.rm on macOS
  src/bun.js/node/node_fs.zig
Labels: packages:bun

Improve stack traces in fs functions
  src/bun.js/fs.exports.js
Labels: packages:bun

Support buffered input in Bun.spawn
  src/bun.js/event_loop.zig
Labels: packages:bun

We need to explicitly flush now
  test/bun.js/react-dom-server.bun.js
Labels: tests

Expose private `@require` symbol
  src/bun.js/bindings/ZigGlobalObject.cpp
Labels: packages:bun

[breaking] `process.version` lies and reports Node 18
  src/bun.js/bindings/Process.cpp
Labels: packages:bun

Add a test for simultaneous requests
  test/bun.js/body-stream.test.ts
Labels: tests

Fix interopRequireDefault issue with `path` :(
  src/bun.js/path-posix.exports.js
  src/bun.js/path.exports.js
Labels: packages:bun

handle values from native in streams
  src/bun.js/webcore/streams.zig
Labels: packages:bun

Fix missing path/posix and path/win32
  src/bun.js/javascript.zig
Labels: packages:bun

move Bun.spawn into separate file
  src/bun.js/api/bun.zig
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
Labels: packages:bun

Fix bug with next dev showing raw html instead of the rendered page
  src/bun.js/webcore/response.zig
Labels: packages:bun

Implement `console.count` and `console.countReset`
  src/bun.js/bindings/exports.zig
Labels: packages:bun

Implement Server.reload()
  src/bun.js/api/server.zig
Labels: packages:bun

Add simple Hot Module Reloading to bun's runtime
  src/bun.js/api/server.zig
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun.js/event_loop.zig
  src/bun.js/javascript.zig
  src/bun_js.zig
  src/cli.zig
  src/http.zig
  src/resolver/resolver.zig
  src/watcher.zig
Labels: packages:bun

Add WebSocket bindings for uWS
  src/deps/uws.zig
Labels: packages:bun

Fix failing linux build
  src/bun.js/webcore/streams.zig
Labels: packages:bun

Fix Buffer.toJSON()
  src/bun.js/bindings/JSBuffer.cpp
  test/bun.js/buffer.test.js
Labels: packages:bun, tests

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*
