Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

Add rest api example
  examples/rest-crud-api/.gitignore
  examples/rest-crud-api/README.md
  examples/rest-crud-api/package.json
  examples/rest-crud-api/src/bun-database.ts
  examples/rest-crud-api/src/bun-service.ts
  examples/rest-crud-api/src/index.ts
  examples/rest-crud-api/tsconfig.json
Labels: templates

Bump WebKit
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
  Dockerfile.devcontainer
Labels: none

slightly improve streams perf
  packages/bun-error/bun.lockb
  src/bun.js/bindings/JSSink.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/webcore/JSAbortSignal.cpp
  src/bun.js/bindings/webcore/ReadableStream.cpp
  src/node-fallbacks/bun.lockb
  test/bun.js/streams.test.js
Labels: packages:bun, packages:bun-error, tests

Move around some things
  Makefile
  src/bun.js/bindings/JSSink.h
  src/bun.js/bindings/JSSinkLookupTable.h
  src/bun.js/scripts/class-definitions.ts
  src/bun.js/scripts/generate-classes.ts
  src/bun.js/scripts/generate-jssink.js
  src/bun.js/webcore/response.classes.ts
  src/bun.js/webcore/streams.zig
Labels: packages:bun

uncomment
  test/bun.js/streams.test.js
Labels: tests

Add native process module
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/exports.zig
  src/bun.js/javascript.zig
  src/bun.js/modules/ProcessModule.h
  src/bun.js/process.exports.js
Labels: packages:bun

Add native process module (#1095)
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/exports.zig
  src/bun.js/javascript.zig
  src/bun.js/modules/ProcessModule.h
  src/bun.js/process.exports.js
Labels: packages:bun

Move the crypto hashers to the new bindings
  src/bun.js/api/bun.zig
  src/bun.js/api/crypto.classes.ts
  src/bun.js/base.zig
  src/bun.js/bindings/ZigGeneratedClasses+DOMClientIsoSubspaces.h
  src/bun.js/bindings/ZigGeneratedClasses+DOMIsoSubspaces.h
  src/bun.js/bindings/ZigGeneratedClasses+lazyStructureHeader.h
  src/bun.js/bindings/ZigGeneratedClasses+lazyStructureImpl.h
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/ZigGeneratedCode.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/bindings/generated_classes_list.zig
  src/bun.js/node/types.zig
  src/bun.js/scripts/generate-classes.ts
Labels: packages:bun

Update ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
Labels: packages:bun

Update build-id
  build-id
Labels: none

Update build-id
  build-id
Labels: none

Missing parameter after merge
  src/bun.js/bindings/ZigGlobalObject.cpp
Labels: packages:bun

Handle builds with remote inspector disabled
  Makefile
  bench/ffi/bun.js
  src/bun.js/bindings/BunJSCModule.cpp
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  test/bun.js/reactdom-bun.js
Labels: packages:bun, tests, benchmarks

Update generate-classes.ts
  src/bun.js/scripts/generate-classes.ts
Labels: packages:bun

Fix missing `prototype` property on generated classes
  Makefile
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/scripts/generate-classes.ts
  src/bun.js/webcore/response.classes.ts
Labels: packages:bun

Fixes https://github.com/oven-sh/bun/issues/1069
  test/bun.js/fileUrl.test.js
Labels: tests

update README.md with ab load test example shell;
  README.md
Labels: none

Fix `bun:wrap` not loading
  src/bun.js/api/server.zig
  src/http.zig
  src/http/method.zig
Labels: packages:bun

Fix Next.js regression
  src/bun.js/webcore/response.zig
Labels: packages:bun

Faster TextDecoder
  src/bun.js/api/bun.zig
  src/bun.js/api/crypto.classes.ts
  src/bun.js/base.zig
  src/bun.js/bindings/JSSink.cpp
  src/bun.js/bindings/JSSink.h
  src/bun.js/bindings/ZigGeneratedClasses+DOMClientIsoSubspaces.h
  src/bun.js/bindings/ZigGeneratedClasses+DOMIsoSubspaces.h
  src/bun.js/bindings/ZigGeneratedClasses+lazyStructureHeader.h
  src/bun.js/bindings/ZigGeneratedClasses+lazyStructureImpl.h
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/ZigGeneratedCode.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/bindings/generated_classes_list.zig
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/shimmer.zig
  src/bun.js/javascript.zig
  src/bun.js/node/node_fs.zig
  src/bun.js/scripts/generate-classes.ts
  src/bun.js/typescript.zig
  src/bun.js/webcore/encoding.classes.ts
  src/bun.js/webcore/encoding.zig
Labels: packages:bun

Fix console.log printing `[native code]` for too many things
  src/bun.js/bindings/exports.zig
Labels: packages:bun

[node compat] Fix issue with `Buffer.compare` when called on the constructor
  src/bun.js/bindings/JSBuffer.cpp
Labels: packages:bun

Add string support to `Buffer.fill`
  src/bun.js/bindings/Buffer.h
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/builtins/js/JSBufferPrototype.js
  src/bun.js/node/buffer.zig
  src/napi/napi.zig
  test/bun.js/buffer.test.js
Labels: packages:bun, tests

un-delete some code
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/builtins/js/JSBufferPrototype.js
Labels: packages:bun

Update build-id
  build-id
Labels: none

Make `Request`, `Response` and `TextDecoder` not read-only
  src/bun.js/bindings/JSSink.cpp
  src/bun.js/bindings/JSSink.h
  src/bun.js/bindings/ZigGeneratedClasses+lazyStructureHeader.h
  src/bun.js/bindings/ZigGeneratedClasses+lazyStructureImpl.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/scripts/generate-classes.ts
  test/bun.js/globals.test.js
Labels: packages:bun, tests

Fix memory leak in `WebSocket`
  src/bun.js/bindings/webcore/WebSocket.cpp
Labels: packages:bun

Synchronously dispatch `close` event
  src/bun.js/bindings/webcore/WebSocket.cpp
Labels: packages:bun

Update bun init test
  test/apps/bun-init-check.sh
Labels: tests

2x faster `Bun.serve` with async function handlers
  src/bun.js/api/server.zig
Labels: packages:bun

Make React SSR up to 3x faster
  src/bun.js/api/server.zig
Labels: packages:bun

Update build-id
  build-id
Labels: none

Add profiler support
  Makefile
  src/bun.js/bindings/BunJSCModule.cpp
  src/bun.js/bun-jsc.exports.js
Labels: packages:bun

Add buffer.indexOf, includes and lastIndexOf
  src/bun.js/bindings/JSBuffer.cpp
  test/bun.js/buffer.test.js
Labels: packages:bun, tests

fix buffer.copy
  src/bun.js/bindings/JSBuffer.cpp
  test/bun.js/buffer.test.js
Labels: packages:bun, tests

fix buffer.copy (#1113)
  src/bun.js/bindings/JSBuffer.cpp
  test/bun.js/buffer.test.js
Labels: packages:bun, tests

fix buffer.slice(0, 0)
  src/bun.js/builtins/cpp/ByteLengthQueuingStrategyBuiltins.cpp
  src/bun.js/builtins/cpp/CountQueuingStrategyBuiltins.cpp
  src/bun.js/builtins/cpp/ImportMetaObjectBuiltins.cpp
  src/bun.js/builtins/cpp/JSBufferConstructorBuiltins.cpp
  src/bun.js/builtins/cpp/JSBufferPrototypeBuiltins.cpp
  src/bun.js/builtins/cpp/JSBufferPrototypeBuiltins.h
  src/bun.js/builtins/cpp/ReadableByteStreamControllerBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableByteStreamInternalsBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamBYOBReaderBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamBYOBRequestBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamDefaultControllerBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamDefaultReaderBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamInternalsBuiltins.cpp
  src/bun.js/builtins/cpp/StreamInternalsBuiltins.cpp
  src/bun.js/builtins/cpp/TransformStreamBuiltins.cpp
  src/bun.js/builtins/cpp/TransformStreamDefaultControllerBuiltins.cpp
  src/bun.js/builtins/cpp/TransformStreamInternalsBuiltins.cpp
  src/bun.js/builtins/cpp/WritableStreamDefaultControllerBuiltins.cpp
  src/bun.js/builtins/cpp/WritableStreamDefaultWriterBuiltins.cpp
  src/bun.js/builtins/cpp/WritableStreamInternalsBuiltins.cpp
  src/bun.js/builtins/js/JSBufferPrototype.js
  test/bun.js/buffer.test.js
Labels: packages:bun, tests

fix buffer.slice(0, 0) (#1114)
  src/bun.js/builtins/cpp/ByteLengthQueuingStrategyBuiltins.cpp
  src/bun.js/builtins/cpp/CountQueuingStrategyBuiltins.cpp
  src/bun.js/builtins/cpp/ImportMetaObjectBuiltins.cpp
  src/bun.js/builtins/cpp/JSBufferConstructorBuiltins.cpp
  src/bun.js/builtins/cpp/JSBufferPrototypeBuiltins.cpp
  src/bun.js/builtins/cpp/JSBufferPrototypeBuiltins.h
  src/bun.js/builtins/cpp/ReadableByteStreamControllerBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableByteStreamInternalsBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamBYOBReaderBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamBYOBRequestBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamDefaultControllerBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamDefaultReaderBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamInternalsBuiltins.cpp
  src/bun.js/builtins/cpp/StreamInternalsBuiltins.cpp
  src/bun.js/builtins/cpp/TransformStreamBuiltins.cpp
  src/bun.js/builtins/cpp/TransformStreamDefaultControllerBuiltins.cpp
  src/bun.js/builtins/cpp/TransformStreamInternalsBuiltins.cpp
  src/bun.js/builtins/cpp/WritableStreamDefaultControllerBuiltins.cpp
  src/bun.js/builtins/cpp/WritableStreamDefaultWriterBuiltins.cpp
  src/bun.js/builtins/cpp/WritableStreamInternalsBuiltins.cpp
  src/bun.js/builtins/js/JSBufferPrototype.js
  test/bun.js/buffer.test.js
Labels: packages:bun, tests

use memmem
  src/bun.js/bindings/JSBuffer.cpp
  test/bun.js/buffer.test.js
Labels: packages:bun, tests

use int64_t
  src/bun.js/bindings/JSBuffer.cpp
Labels: packages:bun

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*
