Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*

simplify functions
  src/bun.js/node/node_os.zig
  src/c.zig
  src/darwin_c.zig
  src/linux_c.zig
  test.zig
Labels: packages:bun

rename functions in bindings
  src/bun.js/bindings/node_os/cpuinfo.cpp
  src/bun.js/bindings/node_os/cpuinfo.h
  src/darwin_c.zig
  src/linux_c.zig
Labels: packages:bun

feat: implement loadavg for darwin
  src/darwin_c.zig
  src/linux_c.zig
  test.zig
Labels: packages:bun

Add pad back to base64
  src/base64/chromiumbase64.c
Labels: packages:bun

feat: implement system uptime
  src/darwin_c.zig
Labels: packages:bun

feat: implement get free memory for darwin
  src/bun.js/bindings/node_os/system_memory.cpp
  src/bun.js/bindings/node_os/system_memory.h
  src/darwin_c.zig
Labels: packages:bun

fix system memory bindings
  src/bun.js/bindings/node_os/system_memory.cpp
  src/bun.js/bindings/node_os/system_memory.h
Labels: packages:bun

feat: implement network interfaces for darwin
  src/bun.js/bindings/node_os/interface_addresses.cpp
Labels: packages:bun

Add pad back to base64 (#1140)
  src/base64/chromiumbase64.c
Labels: packages:bun

Fix clearTimeout and linux timeout (#1138)
  src/bun.js/api/bun.zig
  src/io/io_linux.zig
Labels: packages:bun

code cleanup
  src/darwin_c.zig
Labels: packages:bun

feat: support for macos version & release
  src/bun.js/node/node_os.zig
  src/c.zig
  src/darwin_c.zig
  src/linux_c.zig
Labels: packages:bun

some fixes
  src/darwin_c.zig
Labels: packages:bun

MacOS support for CpuInfo
  src/bun.js/bindings/node_os/cpuinfo.cpp
  src/bun.js/bindings/node_os/interface_addresses.h
Labels: packages:bun

Fixed minor mistake in getCpuInfo_B
  src/bun.js/bindings/node_os/cpuinfo.cpp
Labels: packages:bun

Delete test.zig
  test.zig
Labels: none

Update c_cpp_properties.json
  .vscode/c_cpp_properties.json
Labels: none

Update tasks.json
  .vscode/tasks.json
Labels: none

feat: implement scopeid
  src/bun.js/bindings/node_os/interface_addresses.cpp
  src/bun.js/bindings/node_os/interface_addresses.h
  src/bun.js/node/node_os.zig
Labels: packages:bun

feat: implement cidr 🚀
  src/bun.js/bindings/node_os/interface_addresses.cpp
  src/bun.js/bindings/node_os/interface_addresses.h
  src/bun.js/node/node_os.zig
Labels: packages:bun

remove unnecesarry changes
  packages/bun-error/package-lock.json
Labels: packages:bun-error

remove unnecesarry changes
  packages/bun-error/package-lock.json
Labels: packages:bun-error

chore: requested changes
  src/bun.js/node/node_os.zig
Labels: packages:bun

chore: requested changes
  src/bun.js/node/node_os.zig
Labels: packages:bun

chore: requested changes
  src/bun.js/node/node_os.zig
Labels: packages:bun

chore: requested changes
  src/bun.js/node/node_os.zig
Labels: packages:bun

chore: requested changes
  src/bun.js/node/node_os.zig
Labels: packages:bun

chore: requested changes
  src/bun.js/node/node_os.zig
Labels: packages:bun

chore: requested changes
  src/bun.js/node/node_os.zig
Labels: packages:bun

fix: import string
  src/bun.js/node/node_os.zig
Labels: packages:bun

fix: change IPV6 to IPv6
  src/bun.js/node/node_os.zig
Labels: packages:bun

fix some things
  src/bun.js/node/node_os.zig
Labels: packages:bun

chore: make requested changes
  .vscode/launch.json
  src/bun.js/bindings/node_os/cpuinfo.cpp
  src/bun.js/bindings/node_os/cpuinfo.h
  src/bun.js/bindings/node_os/interface_addresses.cpp
  src/bun.js/bindings/node_os/interface_addresses.h
  src/bun.js/node/node_os.zig
  src/c.zig
  src/darwin_c.zig
  src/linux_c.zig
Labels: packages:bun

revert: launch.json
  .vscode/launch.json
Labels: none

fix test
  bench/node_os/test.js
  src/bun.js/bindings/node_os/cpuinfo.cpp
Labels: packages:bun, benchmarks

add simple methods
  .gitmodules
  src/bun.js/bindings/JSBufferList.cpp
  src/bun.js/bindings/JSBufferList.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
Labels: packages:bun

Fixed few memory leaks
  src/bun.js/bindings/node_os/cpuinfo.cpp
Labels: packages:bun

testing
  src/bun.js/bindings/node_os/a.out
  src/bun.js/bindings/node_os/cpuinfo.cpp
  src/bun.js/bindings/node_os/cpuinfo.h
  src/bun.js/bindings/node_os/test.cpp
Labels: packages:bun

again
  src/bun.js/bindings/node_os/a.out
  src/bun.js/bindings/node_os/cpuinfo.cpp
  src/bun.js/bindings/node_os/test.cpp
Labels: packages:bun

added len
  src/bun.js/bindings/node_os/cpuinfo.cpp
  src/bun.js/bindings/node_os/cpuinfo.h
Labels: packages:bun
