Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*

Define `Request.prototype.body`
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/webcore/response.classes.ts
  test/bun.js/serve.test.ts
Labels: packages:bun, tests

it sort of runs
  Makefile
  build.zig
  src/bun.js/api/server.zig
  src/deps/picohttp.zig
  src/http_server.zig
  src/io/io_darwin.zig
  src/string_builder.zig
Labels: packages:bun

readme: remove recurse flag from xattr
  README.md
Labels: none

Add profiler support (#1110)
  Makefile
  src/bun.js/bindings/BunJSCModule.cpp
  src/bun.js/bun-jsc.exports.js
Labels: packages:bun

wip not good yet
  src/http_server.zig
  src/io/io_darwin.cpp
  src/io/io_darwin.zig
Labels: packages:bun

Fix typo in futex.zig
  src/futex.zig
Labels: packages:bun

using usockets
  Makefile
  src/deps/uws.zig
  src/http_server.zig
Labels: packages:bun

wip
  src/http_server.zig
Labels: packages:bun

wip
  src/http_server.zig
Labels: packages:bun

wip
  .vscode/launch.json
  src/http_server.zig
  src/io/io_linux.zig
Labels: packages:bun

Add native StringDecoder
  src/bun.js/bindings/JSBufferList.cpp
  src/bun.js/bindings/JSStringDecoder.cpp
  src/bun.js/bindings/JSStringDecoder.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/javascript.zig
  src/bun.js/modules/StringDecoderModule.h
  src/bun.js/webcore/encoding.zig
  test/bun.js/string-decoder.test.js
Labels: packages:bun, tests

readme: remove recurse flag from xattr (#1182)
  README.md
Labels: none

Fix typo in futex.zig (#1186)
  src/futex.zig
Labels: packages:bun

fix upon reviews
  src/bun.js/bindings/JSStringDecoder.cpp
  src/bun.js/bindings/JSStringDecoder.h
Labels: packages:bun

Update .gitignore
  .gitignore
Labels: none

Fixes https://github.com/oven-sh/bun/issues/1183
  src/bun.js/api/bun.zig
Labels: packages:bun

Fix crash in napi finalizer
  src/bun.js/bindings/napi.cpp
Labels: packages:bun

add Constructor and use LazyClassStructure
  src/bun.js/bindings/JSStringDecoder.cpp
  src/bun.js/bindings/JSStringDecoder.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/modules/StringDecoderModule.h
  test/bun.js/string-decoder.test.js
Labels: packages:bun, tests

Add native StringDecoder (#1188)
  src/bun.js/bindings/JSBufferList.cpp
  src/bun.js/bindings/JSStringDecoder.cpp
  src/bun.js/bindings/JSStringDecoder.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/javascript.zig
  src/bun.js/modules/StringDecoderModule.h
  src/bun.js/webcore/encoding.zig
  test/bun.js/string-decoder.test.js
Labels: packages:bun, tests

[bun run] Silence `.env` loaded log
  src/cli/run_command.zig
Labels: packages:bun

Add missing directories to `make devcontainer`
  Makefile
Labels: none

Clean up options
  build.zig
Labels: none

Delete some dead code
  .vscode/launch.json
  build.zig
  src/bun.js/api/bun.zig
  src/bun.js/api/router.zig
  src/bun.js/javascript.zig
  src/bun.js/typescript.zig
  src/cli/run_command.zig
  src/typegen.zig
Labels: packages:bun

Fix failing Buffer tests
  src/bun.js/webcore/encoding.zig
Labels: packages:bun

allow set proxy for github
  src/cli/install.sh
Labels: packages:bun

Fix failing Buffer tests (#1197)
  src/bun.js/webcore/encoding.zig
Labels: packages:bun

allow set proxy for github (#1198)
  src/cli/install.sh
Labels: packages:bun

chore: make requested changes
  src/cli/dot_command.zig
Labels: packages:bun

Plugin API
  bun.lockb
  package.json
  src/bun.js/bindings/BunJSCModule.cpp
  src/bun.js/bindings/BunPlugin.cpp
  src/bun.js/bindings/BunPlugin.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/builtins/BunBuiltinNames.h
  src/bun.js/javascript.zig
  src/bundler.zig
  src/import_record.zig
  src/js_printer.zig
  src/linker.zig
  test/bun.js/hello.svelte
  test/bun.js/plugins.test.ts
Labels: packages:bun, tests

chore: make requested changes
  src/cli/dot_command.zig
Labels: packages:bun

revert: make maybeOpenWithBunJS as private
  src/cli.zig
Labels: packages:bun

chore: remove some comments
  src/cli/dot_command.zig
Labels: packages:bun

chore: mark tryToRun as private
  src/cli/dot_command.zig
Labels: packages:bun

Update devcontainer scripts
  .devcontainer/scripts/common-debian.sh
  .devcontainer/scripts/github.sh
  Dockerfile.devcontainer
Labels: none

Fix the bugs
  src/bun.js/bindings/BunPlugin.cpp
  src/bun.js/bindings/BunPlugin.h
  src/bun.js/bindings/bindings.zig
  src/bun.js/javascript.zig
  src/bundler.zig
  src/js_printer.zig
  src/linker.zig
  test/bun.js/hello2.svelte
  test/bun.js/plugins.test.ts
Labels: packages:bun, tests

fixed is_export and added test cases
  src/js_parser.zig
  test/bun.js/transpiler.test.js
Labels: packages:bun, tests

fixed is_export and added test cases (#1203)
  src/js_parser.zig
  test/bun.js/transpiler.test.js
Labels: packages:bun, tests

Implement `"object"` loader
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/javascript.zig
  src/bun.js/modules/ObjectModule.h
  src/linker.zig
  test/bun.js/plugins.test.ts
Labels: packages:bun, tests

Fix GitHub CLI installation
  .devcontainer/scripts/github.sh
Labels: none

Plugin API (#1199)
  bun.lockb
  package.json
  src/bun.js/bindings/BunJSCModule.cpp
  src/bun.js/bindings/BunPlugin.cpp
  src/bun.js/bindings/BunPlugin.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/builtins/BunBuiltinNames.h
  src/bun.js/javascript.zig
  src/bun.js/modules/ObjectModule.h
  src/bundler.zig
  src/import_record.zig
  src/js_printer.zig
  src/linker.zig
  test/bun.js/hello.svelte
  test/bun.js/hello2.svelte
  test/bun.js/plugins.test.ts
Labels: packages:bun, tests
