Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*

feat: implement totalmem, freemem, uptime
  .vscode/settings.json
  src/bun.js/node/node_os.zig
  src/bun.js/os.exports.js
  src/linux_c.zig
Labels: packages:bun

[env loader] Don't panic when .env fails to load for unexpected reasons
  src/env_loader.zig
Labels: packages:bun

add listeners, listenerCount and eventNames
  src/bun.js/bindings/webcore/EventEmitter.cpp
  src/bun.js/bindings/webcore/EventEmitter.h
  src/bun.js/bindings/webcore/JSEventEmitter.cpp
Labels: packages:bun

feat: loadavg
  src/bun.js/node/node_os.zig
  src/bun.js/os.exports.js
  src/darwin_c.zig
  src/linux_c.zig
  test.c
Labels: packages:bun

feat: implement version
  src/bun.js/node/node_os.zig
  src/bun.js/os.exports.js
Labels: packages:bun

add global functions
  src/bun.js/bindings/webcore/JSEventEmitter.cpp
  src/bun.js/bindings/webcore/JSEventEmitter.h
  src/bun.js/modules/EventsModule.h
Labels: packages:bun

add Object to EventEmitter conversion
  src/bun.js/bindings/webcore/EventEmitter.cpp
  src/bun.js/bindings/webcore/EventEmitter.h
  src/bun.js/bindings/webcore/JSEventEmitter.cpp
  src/bun.js/bindings/webcore/JSEventEmitterCustom.cpp
  src/bun.js/bindings/webcore/JSEventEmitterCustom.h
Labels: packages:bun

fix upon review
  src/bun.js/bindings/webcore/JSEventEmitterCustom.cpp
Labels: packages:bun

Add native EventEmitter (#1123)
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMConstructors.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/bindings/webcore/EventEmitter.cpp
  src/bun.js/bindings/webcore/EventEmitter.h
  src/bun.js/bindings/webcore/EventListenerMap.cpp
  src/bun.js/bindings/webcore/EventListenerMap.h
  src/bun.js/bindings/webcore/JSEventEmitter.cpp
  src/bun.js/bindings/webcore/JSEventEmitter.h
  src/bun.js/bindings/webcore/JSEventEmitterCustom.cpp
  src/bun.js/bindings/webcore/JSEventEmitterCustom.h
  src/bun.js/javascript.zig
  src/bun.js/modules/EventsModule.h
Labels: packages:bun

feat: add userInfo
  src/bun.js/node/node_os.zig
  src/bun.js/os.exports.js
  src/darwin_c.zig
  src/linux_c.zig
  test.c
  test.zig
Labels: packages:bun

feat: implement totalmem for macos
  src/bun.js/node/node_os.zig
  src/darwin_c.zig
Labels: packages:bun

fix bun-tools location in macOSx zig instructions
  README.md
Labels: none

feat: add getPriority (not finished, waiting for dc response)
  a.out
  src/bun.js/node/node_os.zig
  src/bun.js/os.exports.js
  test.c
  test.zig
Labels: packages:bun

feat: finish userInfo implementation
  a.out
  src/bun.js/node/node_os.zig
  src/darwin_c.zig
  test.zig
Labels: packages:bun

feat: implement cpus, not done
  .vscode/tasks.json
  src/bun.js/node/node_os.zig
  src/bun.js/os.exports.js
  src/linux_c.zig
  test.zig
Labels: packages:bun

move developing bun section from README to COTRIBUTING.md
  CONTRIBUTING.md
  README.md
Labels: none

fix bun-tools location in macOSx zig instructions (#1124)
  README.md
Labels: none

feat: finish getPriority implementation & stats cpus()
  src/bun.js/node/node_os.zig
  src/c.zig
  src/darwin_c.zig
  src/linux_c.zig
Labels: packages:bun

Fix import path
  bench/snippets/react-dom-render.bun.js
Labels: benchmarks

[misc] Reload internal JS modules in development without compiling
  src/bun.js/javascript.zig
Labels: packages:bun

Add a snippet for benchmarking EventEmitter vs EventTarget
  bench/snippets/emitter.js
Labels: benchmarks

[node compat] Don't throw `TypeError` for DOM constructors
  src/bun.js/bindings/webcore/JSDOMConstructorBase.h
Labels: packages:bun

Use `jsCast` because it's slightly faster
  src/bun.js/bindings/webcore/JSEventEmitterCustom.cpp
Labels: packages:bun

Don't transpile `readable-stream`
  src/bun.js/streams.exports.js
Labels: packages:bun

38% faster `node:http`
  src/bun.js/http.exports.js
Labels: packages:bun

feat: implement setPriority
  src/bun.js/node/node_os.zig
  src/bun.js/os.exports.js
  src/c.zig
  src/darwin_c.zig
  src/linux_c.zig
  test.zig
Labels: packages:bun

reemove test.c
  test.c
Labels: none

feat: implement constants.dlope.xn, constants.priority.x, constants.UV_UDP_REUSEADDR
  src/bun.js/node/node_os.zig
  src/bun.js/os.exports.js
Labels: packages:bun

feat: implement signals, errno
  src/bun.js/node/node_os.zig
Labels: packages:bun

updated cpus function, stilldoesnt work
  src/bun.js/node/node_os.zig
  src/linux_c.zig
  test.c
  test.zig
  testaa.zig
Labels: packages:bun

increase object length
  src/bun.js/node/node_os.zig
Labels: packages:bun

feat: add t more ests
  test/bun.js/os.test.js
Labels: tests

Add some optimizations to FetchHeaders
  src/bun.js/bindings/webcore/FetchHeaders.cpp
  src/bun.js/bindings/webcore/HTTPHeaderNames.h
  src/bun.js/bindings/webcore/JSFetchHeaders.cpp
Labels: packages:bun

Support emit Symbol events in EventEmitter
  src/bun.js/bindings/webcore/EventEmitter.cpp
  src/bun.js/bindings/webcore/EventEmitter.h
  src/bun.js/bindings/webcore/EventListenerMap.cpp
  src/bun.js/bindings/webcore/EventListenerMap.h
  src/bun.js/bindings/webcore/IdentifierEventListenerMap.cpp
  src/bun.js/bindings/webcore/IdentifierEventListenerMap.h
  src/bun.js/bindings/webcore/JSEventEmitter.cpp
Labels: packages:bun

Fix `Buffer.isEncoding`
  src/bun.js/bindings/JSBuffer.cpp
Labels: packages:bun

faster way to read content-type
  src/bun.js/api/server.zig
Labels: packages:bun

Support emit Symbol events in EventEmitter (#1129)
  src/bun.js/bindings/webcore/EventEmitter.cpp
  src/bun.js/bindings/webcore/EventEmitter.h
  src/bun.js/bindings/webcore/EventListenerMap.cpp
  src/bun.js/bindings/webcore/EventListenerMap.h
  src/bun.js/bindings/webcore/IdentifierEventListenerMap.cpp
  src/bun.js/bindings/webcore/IdentifierEventListenerMap.h
  src/bun.js/bindings/webcore/JSEventEmitter.cpp
Labels: packages:bun

Update mime_type.zig
  src/http/mime_type.zig
Labels: packages:bun

Update server.zig
  src/bun.js/api/server.zig
Labels: packages:bun

Improve error message when port is already in use
  src/bun.js/api/server.zig
Labels: packages:bun
