Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

[bun:ffi] Implement `JSCallback` so C can call into JS
  README.md
  src/bun.js/api/FFI.h
  src/bun.js/api/bun.zig
  src/bun.js/api/ffi.zig
  src/bun.js/bindings/JSFFIFunction.cpp
  src/bun.js/ffi.exports.js
  test/bun.js/ffi.test.fixture.callback.c
  test/bun.js/ffi.test.fixture.receiver.c
  test/bun.js/ffi.test.js
Labels: packages:bun, tests

Flip the callback order
  README.md
  src/bun.js/ffi.exports.js
Labels: packages:bun

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update ffi.zig
  src/bun.js/api/ffi.zig
Labels: packages:bun

Update ffi.zig (#1449)
  src/bun.js/api/ffi.zig
Labels: packages:bun

[bun:ffi] Add `threadsafe` option to callbacks
  src/bun.js/api/ffi.zig
  src/bun.js/bindings/JSFFIFunction.cpp
  src/bun.js/ffi.exports.js
  test/bun.js/ffi.test.js
Labels: packages:bun, tests

Add way to know if JSCallback is threadsafe
  src/bun.js/ffi.exports.js
Labels: packages:bun

Update ffi.exports.js
  src/bun.js/ffi.exports.js
Labels: packages:bun

Fix memory leak
  src/bun.js/api/bun.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/webcore/response.zig
Labels: packages:bun

Fixup
  src/bun.js/bindings/bindings.zig
Labels: packages:bun

Fix $PATH on dev container (#1439)
  .devcontainer/devcontainer.json
  Dockerfile.devcontainer
Labels: none

avoid calling toSlice()
  src/bun.js/javascript.zig
  test/bun.js/prøve.test.ts
Labels: packages:bun, tests

Fix missing functions
  src/bun.js/bindings/ZigGlobalObject.h
Labels: packages:bun

Fixes #1448 #1450
  src/bun.js/bindings/ZigGlobalObject.cpp
Labels: packages:bun

Update ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
Labels: packages:bun

Fix 5/9 failing tests
  src/bun.js/bindings/webcrypto/CryptoAlgorithmRSA_OAEPOpenSSL.cpp
Labels: packages:bun

Fix 4/4 failing tests
  src/bun.js/bindings/webcrypto/CryptoAlgorithmRSA_PSSOpenSSL.cpp
Labels: packages:bun

Add missing headers
  src/bun.js/bindings/headers-handwritten.h
Labels: packages:bun

Update headers-handwritten.h
  src/bun.js/bindings/headers-handwritten.h
Labels: packages:bun

Add failing wildcard test
  .vscode/c_cpp_properties.json
  test/bun.js/resolve.test.js
Labels: tests

Add failing test
  test/bun.js/streams.test.js
Labels: tests

Add a misc snippet
  bench/snippets/array-arguments-slice.mjs
Labels: benchmarks

Introduce `import.meta.primordials` for builtin JS
  src/bun.js/bindings/ImportMetaObject.cpp
  src/bun.js/bindings/ImportMetaObject.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  test/bun.js/import-meta.test.js
Labels: packages:bun, tests

fix(child_process): remove invalid single arg array syntax (thanks Copilot)
  src/bun.js/child_process.exports.js
  test/bun.js/child_process.test.ts
Labels: packages:bun, tests

feat(child_process): beginning of child_process, add ChildProcess and spawn base case
  src/bun.js/child_process.exports.js
  test/bun.js/child_process.test.ts
Labels: packages:bun, tests

refactor(child_process): unhack Readable.on, move stuff into node:stream
  src/bun.js/child_process.exports.js
  src/bun.js/streams.exports.js
  test/bun.js/child_process.test.ts
Labels: packages:bun, tests

feat(child_process): add more params for spawn, refactor, add fromWeb() to Readable
  src/bun.js/child_process.exports.js
  src/bun.js/streams.exports.js
  test/bun.js/child_process.test.ts
Labels: packages:bun, tests

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*
