Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*

Update deno.js
  bench/gzip/deno.js
Labels: benchmarks

Update index.tsx
  bench/hot-module-reloading/css-stress-test/pages/index.tsx
Labels: benchmarks

Update deno.js
  bench/ffi/deno.js
Labels: benchmarks

Update deno.mjs
  bench/log/deno.mjs
Labels: benchmarks

Update deno.js
  bench/sqlite/deno.js
Labels: benchmarks

Update node.mjs
  packages/bun-wasm/test/node.mjs
Labels: packages:bun-wasm

Update entrypoint.ts
  test/bun.js/bundled/entrypoint.ts
Labels: tests

Update entrypoint.ts
  test/bun.js/bundled/entrypoint.ts
Labels: tests

Update entrypoint.ts
  test/bun.js/bundled/entrypoint.ts
Labels: tests

Update entrypoint.ts
  test/bun.js/bundled/entrypoint.ts
Labels: tests

Update entrypoint.ts
  test/bun.js/bundled/entrypoint.ts
Labels: tests

Update entrypoint.ts
  test/bun.js/bundled/entrypoint.ts
Labels: tests

Update entrypoint.ts
  test/bun.js/bundled/entrypoint.ts
Labels: tests

Commit snapshot
  test/bun.js/ffi.test.fixture.callback.c
  test/bun.js/ffi.test.fixture.receiver.c
Labels: tests

[TS] Fix bug with `import Foo = require("bar")`
  src/js_parser.zig
  test/bun.js/transpiler.test.js
Labels: packages:bun, tests

Update js_parser.zig
  src/js_parser.zig
Labels: packages:bun

Remove trailing newline in git sha
  build.zig
Labels: none

[bun upgrade] Add changelog URL
  src/cli/upgrade_command.zig
Labels: packages:bun

Fix spurious unhandled promise rejection error
  src/bun.js/builtins/cpp/ReadableStreamInternalsBuiltins.cpp
  src/bun.js/builtins/js/ReadableStreamInternals.js
Labels: packages:bun

improve reliability of `WebSocket`
  src/baby_list.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun.js/bindings/webcore/JSWebSocket.cpp
  src/bun.js/bindings/webcore/WebSocket.cpp
  src/bun.js/bindings/webcore/WebSocket.h
  src/http/websocket_http_client.zig
Labels: packages:bun

Fix MessageEvent formatting
  src/bun.js/bindings/exports.zig
Labels: packages:bun

Faster debug builds
  Makefile
Labels: none

Add `Event` JSType
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/exports.zig
Labels: packages:bun

Fix console.log with typed arrays
  src/bun.js/api/ffi.zig
  src/bun.js/base.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-handwritten.h
  src/comptime_string_map.zig
  src/string_immutable.zig
  test/bun.js/ffi.test.js
  test/bun.js/inspect.test.js
Labels: packages:bun, tests

Add shared property
  src/bun.js/bindings/bindings.cpp
Labels: packages:bun

Log uncaught exceptions
  src/bun.js/bindings/JSDOMExceptionHandling.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  test/bun.js/path.test.js
Labels: packages:bun, tests

Update ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
Labels: packages:bun

Update bun-mac-aarch64.yml
  .github/workflows/bun-mac-aarch64.yml
Labels: none

Include GIT_SHA in linux builds
  Dockerfile
Labels: none

fix MD5 length and compile error
  src/__global.zig
  src/sha.zig
Labels: packages:bun

[bun unlink] Partially implement
  src/install/bin.zig
  src/install/install.zig
Labels: packages:bun

Add `bun link` and `bun unlink` to completions
  completions/bun.bash
  completions/bun.fish
  completions/bun.zsh
  src/cli.zig
Labels: packages:bun

fix MD5 length and compile error (#1050)
  src/__global.zig
  src/sha.zig
Labels: packages:bun

fix appendFile permission
  src/bun.js/node/types.zig
Labels: packages:bun

fix appendFile permission (#1052)
  src/bun.js/node/types.zig
Labels: packages:bun

[Bun.serve] Fix crash on invalid certificate file path for SSL
  src/bun.js/api/server.zig
Labels: packages:bun

[bun.js] up to 60% faster TextEncoder.encodeInto and ~3% faster TextEncoder.encode
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/webcore/DOMJITCheckDOM.h
  src/bun.js/bindings/webcore/DOMJITHelpers.cpp
  src/bun.js/bindings/webcore/DOMJITHelpers.h
  src/bun.js/bindings/webcore/DOMJITIDLConvert.h
  src/bun.js/bindings/webcore/DOMJITIDLType.h
  src/bun.js/bindings/webcore/DOMJITIDLTypeFilter.h
  src/bun.js/bindings/webcore/JSEventDOMJIT.cpp
  src/bun.js/bindings/webcore/JSTextEncoder.cpp
  src/bun.js/builtins/BunBuiltinNames.h
  src/bun.js/webcore/encoding.zig
Labels: packages:bun

Update WebKit
  .github/workflows/bun-linux-build.yml
  .github/workflows/bun-mac-aarch64.yml
  .github/workflows/bun-mac-x64-baseline.yml
  .github/workflows/bun-mac-x64.yml
  Dockerfile.devcontainer
  Makefile
  src/bun.js/bindings/ZigGlobalObject.cpp
Labels: packages:bun

Faster performance.now()
  src/bun.js/bindings/ZigGlobalObject.h
Labels: packages:bun

invalidate column name caches when the schema of table may change
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  src/bun.js/bindings/sqlite/JSSQLStatement.h
Labels: packages:bun
