Repository oven-sh/bun, changes with the labels that .github/labeler.yml gives for each.
All labels: packages:bun, packages:bun-darwin-aarch64, packages:bun-error, packages:bun-framework-next, packages:bun-landing, packages:bun-linux-x64, packages:bun-macro-relay, packages:bun-types, packages:bun-wasm, tests, benchmarks, templates

header include
  src/bun.js/bindings/PCRE2RegExp.h
Labels: packages:bun

removed ternary
  src/bun.js/bindings/PCRE2RegExp.cpp
Labels: packages:bun

Use buffer type for Deno FFI binding to align with Bun usage
  bench/ffi/deno.js
Labels: benchmarks

templates now in root
  README.md
Labels: none

Fix namespace import
  src/js_printer.zig
  test/bun.js/transpiler.test.js
Labels: packages:bun, tests

Update README.md
  README.md
Labels: none

flag validation, getters, construct and compile mostly working
  src/bun.js/bindings/PCRE2RegExp.cpp
Labels: packages:bun

header include
  src/bun.js/bindings/PCRE2RegExp.h
Labels: packages:bun

add destructor to PCRE2RegExp
  src/bun.js/bindings/PCRE2RegExp.cpp
Labels: packages:bun

removed ternary
  src/bun.js/bindings/PCRE2RegExp.cpp
Labels: packages:bun

string escaping for source and toString(), exec, more tests
  .vscode/c_cpp_properties.json
  src/bun.js/bindings/PCRE2RegExp.cpp
  src/deps/pcre2.h
  test/bun.js/pcre2-regexp.test.ts
Labels: packages:bun, tests

added pcre2 submodule
  .gitmodules
Labels: none

tests for pcre2 regex
  test/bun.js/pcre2-regexp.test.ts
Labels: tests

switched to oniguruma for regex library
  .gitmodules
  Makefile
  src/bun.js/bindings/OnigurumaRegExp.cpp
  src/bun.js/bindings/OnigurumaRegExp.h
  src/bun.js/bindings/PCRE2RegExp.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/builtins/WebCoreJSBuiltins.cpp
  src/bun.js/builtins/cpp/OnigurumaRegExpPrototypeBuiltins.cpp
  src/bun.js/builtins/cpp/OnigurumaRegExpPrototypeBuiltins.h
  src/bun.js/builtins/cpp/PCRE2RegExpPrototypeBuiltins.h
  src/bun.js/builtins/cpp/WebCoreJSBuiltins.h
  src/bun.js/builtins/js/OnigurumaRegExpPrototype.js
  src/deps/pcre2.h
  src/js_ast.zig
  src/js_printer.zig
  test/bun.js/oniguruma-regexp.test.ts
  test/bun.js/pcre2-regexp.test.ts
Labels: packages:bun, tests

pcre2 regex boilerplate
  Makefile
  src/bun.js/bindings/PCRE2RegExp.cpp
  src/bun.js/bindings/PCRE2RegExp.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  src/bun.js/bindings/sqlite/JSSQLStatement.h
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
Labels: packages:bun

remove lib link
  Makefile
Labels: none

Add a way to update cached values from Zig
  src/bun.js/scripts/generate-classes.ts
Labels: packages:bun

WebSocket Server support
  build-id
  src/bun.js/api/server.classes.ts
  src/bun.js/api/server.zig
  src/bun.js/bindings/ZigGeneratedClasses+DOMClientIsoSubspaces.h
  src/bun.js/bindings/ZigGeneratedClasses+DOMIsoSubspaces.h
  src/bun.js/bindings/ZigGeneratedClasses+lazyStructureHeader.h
  src/bun.js/bindings/ZigGeneratedClasses+lazyStructureImpl.h
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/bindings/generated_classes_list.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/deps/_libusockets.h
  src/deps/libuwsockets.cpp
  src/deps/uws.zig
  src/jsc.zig
Labels: packages:bun

Update README.md
  README.md
Labels: none

Update c_cpp_properties.json
  .vscode/c_cpp_properties.json
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Be more careful with some of the string handling code
  src/bun.js/bindings/bindings.zig
Labels: packages:bun

Add some logging to WebSocket client
  src/http/websocket_http_client.zig
Labels: packages:bun

Fix bug where pong would put it in invalid state
  src/http/websocket_http_client.zig
Labels: packages:bun

Update README.md
  README.md
Labels: none

Fix crash in WebSocketServer close
  src/bun.js/api/server.zig
Labels: packages:bun

Remove unnecessary GC protect() call
  src/bun.js/api/server.zig
Labels: packages:bun

Fix memory leak in HTTP server
  src/bun.js/api/server.zig
Labels: packages:bun

Rename `pendingSockets` to `pendingWebSockets`
  src/bun.js/api/server.zig
Labels: packages:bun

More lenient for response_value data
  src/bun.js/api/server.zig
Labels: packages:bun

More forcefully clone strings
  src/bun.js/bindings/helpers.h
Labels: packages:bun

add more logging
  src/bun.js/api/ffi.zig
  src/bun.js/api/transpiler.zig
  src/bun.js/base.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/bindings/shimmer.zig
  src/bun.js/javascript.zig
  src/bun.js/node/node_os.zig
  src/bun.js/test/jest.zig
  src/bun.js/webcore/streams.zig
  src/http/websocket_http_client.zig
  src/jsc.zig
  src/napi/napi.zig
Labels: packages:bun

Add a simple test for websocket server
  test/bun.js/websocket-server.test.ts
Labels: tests

More logging
  src/bun.js/api/server.zig
Labels: packages:bun

Add a helper for InlineBlob from two arrays
  src/bun.js/api/server.zig
  src/bun.js/webcore/response.zig
Labels: packages:bun

Fix crash when BodyMixin functions throw
  src/bun.js/webcore/response.zig
Labels: packages:bun

Errors must return 0 instead of undefined
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/api/server.zig
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/event_loop.zig
Labels: packages:bun

Dumber code is better code
  src/bun.js/api/server.zig
Labels: packages:bun

Add test for body mixin error
  test/bun.js/body-mixin-errors.test.ts
Labels: tests

.github/labeler.yml:

chore:
  - any: ['*', '**/*']
    all: ['!packages/*', '!packages/**/*', '!src/*', '!src/**/*', '!types/*', '!types/**/*', '!test/*', '!test/**/*', '!bench/*', '!bench/**/*', '!examples/*', '!examples/**/*']

'packages:bun':
  - src/*
  - src/**/*

'packages:bun-darwin-aarch64':
  - packages/bun-darwin-aarch64/*
  - packages/bun-darwin-aarch64/**/*

'packages:bun-error':
  - packages/bun-error/*
  - packages/bun-error/**/*

'packages:bun-framework-next':
  - packages/bun-framework-next/*
  - packages/bun-framework-next/**/*

'packages:bun-landing':
  - packages/bun-landing/*
  - packages/bun-landing/**/*

'packages:bun-linux-x64':
  - packages/bun-linux-x64/*
  - packages/bun-linux-x64/**/*

'packages:bun-macro-relay':
  - packages/bun-macro-relay/*
  - packages/bun-macro-relay/**/*

'packages:bun-types':
  - packages/bun-types/*
  - packages/bun-types/**/*
  - types/bun/*

'packages:bun-wasm':
  - packages/bun-wasm/*
  - packages/bun-wasm/**/*

'tests':
  - test/*
  - test/**/*

'benchmarks':
  - bench/*
  - bench/**/*

'templates':
  - examples/*
  - examples/**/*
