Repository oven-sh/bun, pull requests merged in 2022-08, with the labels that each got.

#964 Fix u32 jsNumber cast
  src/bun.js/bindings/bindings.zig
Labels: packages:bun

#957 fix(makefile) fix devcontainer rule
  Makefile
Labels: chore

#972 refactor: create a high-level property iterator
  src/bun.js/api/ffi.zig
  src/bun.js/api/transpiler.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/exports.zig
  src/js_ast.zig
Labels: packages:bun

#974 fix: prop iterator cstring variant
  src/bun.js/bindings/bindings.zig
Labels: packages:bun

#973 fix import in http polyfill
  src/bun.js/http.exports.js
Labels: packages:bun

#975 fix(makefile): mkdir DEBUG_OBJ_DIR before compiling bindings
  Makefile
Labels: chore

#966 fix path.normalize on ...
  src/resolver/resolve_path.zig
Labels: packages:bun

#985 allow setting status code in Response.redirect
  src/bun.js/webcore/response.zig
Labels: packages:bun

#945 Convert landing page to zero-JS Next.js application.
  packages/bun-landing/.gitignore
  packages/bun-landing/README.md
  packages/bun-landing/build.tsx
  packages/bun-landing/bun.lockb
  packages/bun-landing/bunfig.toml
  packages/bun-landing/components/CodeBlock.tsx
  packages/bun-landing/components/Layout.tsx
  packages/bun-landing/next.config.js
  packages/bun-landing/package.json
  packages/bun-landing/pages/_app.tsx
  packages/bun-landing/pages/index.tsx
  packages/bun-landing/public/index.css
  packages/bun-landing/public/index.html
  packages/bun-landing/public/ssr.tsx
  packages/bun-landing/react-dom-server.bun.production.min.js
  packages/bun-landing/ssr.tsx
  packages/bun-landing/styles/global.css
  packages/bun-landing/tsconfig.json
Labels: packages:bun-landing

#991 Fix for bearer tokens missing from request headers on bun install step
  src/http/header_builder.zig
  test/bun.js/util.test.js
Labels: tests, packages:bun

#992 Fix of panic in threads while downloading scoped packages
  src/install/npm.zig
Labels: packages:bun

#989 benchmarks(sqlite): invalid northwind database url
  bench/sqlite/src/download.sh
Labels: benchmarks

#990 feat(util): support for util.TextDecoder
  src/node-fallbacks/util.js
  test/bun.js/text-decoder.test.js
  test/bun.js/text-encoder.test.js
  test/bun.js/util.test.js
Labels: tests, packages:bun

#982 Update README for development help
  README.md
Labels: chore

#1000 [wiptest] fix calling toBe in describe
  src/bun.js/test/jest.zig
Labels: packages:bun

#1014 Re-register setInterval to VM after completion
  src/bun.js/api/bun.zig
Labels: packages:bun

#1024 refactor(src/install): clap readability fixes
  src/install/install.zig
Labels: packages:bun

#1025 fix segfault for query().all() with more than 64 properties
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  test/bun.js/sqlite.test.js
Labels: tests, packages:bun

#1027 fix compiling error on linux
  src/install/install.zig
Labels: packages:bun

#1010 Raise error on unhandled rejected promises
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  src/bun.js/event_loop.zig
  src/bun.js/javascript.zig
Labels: packages:bun

#1033 Update example Next app to 12.2
  examples/next/package.json
  packages/bun-framework-next/server.development.tsx
Labels: templates, packages:bun-framework-next

#1034 Fix static require by setting the state machine manually
  src/bun.js/builtins/cpp/ImportMetaObjectBuiltins.cpp
  src/bun.js/builtins/js/ImportMetaObject.js
Labels: packages:bun

#1035 Improve fs.copyFile performance on Linux
  bench/copyfile/node.mitata.mjs
  src/bun.js/node/node_fs.zig
Labels: benchmarks, packages:bun

#1050 fix MD5 length and compile error
  src/__global.zig
  src/sha.zig
Labels: packages:bun

#1052 fix appendFile permission
  src/bun.js/node/types.zig
Labels: packages:bun

#1056 Invalidate column name caches when the schema of table may change
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  src/bun.js/bindings/sqlite/JSSQLStatement.h
Labels: packages:bun

#1046 refactor(src/tagged_pointer): `IntPrimtiive` -> `IntPrimitive`
  src/tagged_pointer.zig
Labels: packages:bun

#1057 Remove column name caches in js
  src/bun.js/bindings/sqlite/JSSQLStatement.cpp
  src/bun.js/bindings/sqlite/sqlite.exports.js
Labels: packages:bun

#995 [bun error] fix typo in markdown.ts
  packages/bun-error/markdown.ts
Labels: packages:bun-error

#1076 Add synthetic buffer module
  Makefile
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/javascript.zig
  src/bun.js/modules/BufferModule.h
Labels: packages:bun

#1081 Fix active_task count for timeout tasks
  src/bun.js/event_loop.zig
Labels: packages:bun

#1095 Add native process module
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/exports.zig
  src/bun.js/javascript.zig
  src/bun.js/modules/ProcessModule.h
  src/bun.js/process.exports.js
Labels: packages:bun

#1113 fix buffer.copy
  src/bun.js/bindings/JSBuffer.cpp
  test/bun.js/buffer.test.js
Labels: tests, packages:bun

#1114 fix buffer.slice(0, 0)
  src/bun.js/builtins/cpp/ByteLengthQueuingStrategyBuiltins.cpp
  src/bun.js/builtins/cpp/CountQueuingStrategyBuiltins.cpp
  src/bun.js/builtins/cpp/ImportMetaObjectBuiltins.cpp
  src/bun.js/builtins/cpp/JSBufferConstructorBuiltins.cpp
  src/bun.js/builtins/cpp/JSBufferPrototypeBuiltins.cpp
  src/bun.js/builtins/cpp/JSBufferPrototypeBuiltins.h
  src/bun.js/builtins/cpp/ReadableByteStreamControllerBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableByteStreamInternalsBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamBYOBReaderBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamBYOBRequestBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamDefaultControllerBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamDefaultReaderBuiltins.cpp
  src/bun.js/builtins/cpp/ReadableStreamInternalsBuiltins.cpp
  src/bun.js/builtins/cpp/StreamInternalsBuiltins.cpp
  src/bun.js/builtins/cpp/TransformStreamBuiltins.cpp
  src/bun.js/builtins/cpp/TransformStreamDefaultControllerBuiltins.cpp
  src/bun.js/builtins/cpp/TransformStreamInternalsBuiltins.cpp
  src/bun.js/builtins/cpp/WritableStreamDefaultControllerBuiltins.cpp
  src/bun.js/builtins/cpp/WritableStreamDefaultWriterBuiltins.cpp
  src/bun.js/builtins/cpp/WritableStreamInternalsBuiltins.cpp
  src/bun.js/builtins/js/JSBufferPrototype.js
  test/bun.js/buffer.test.js
Labels: tests, packages:bun

#1112 Add buffer.indexOf, includes and lastIndexOf
  src/bun.js/bindings/JSBuffer.cpp
  test/bun.js/buffer.test.js
Labels: tests, packages:bun

#1120 fix(ReferenceError): expected type in getCode
  src/bun.js/javascript.zig
Labels: packages:bun

#1123 Add native EventEmitter
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMConstructors.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/bindings/webcore/EventEmitter.cpp
  src/bun.js/bindings/webcore/EventEmitter.h
  src/bun.js/bindings/webcore/EventListenerMap.cpp
  src/bun.js/bindings/webcore/EventListenerMap.h
  src/bun.js/bindings/webcore/JSEventEmitter.cpp
  src/bun.js/bindings/webcore/JSEventEmitter.h
  src/bun.js/bindings/webcore/JSEventEmitterCustom.cpp
  src/bun.js/bindings/webcore/JSEventEmitterCustom.h
  src/bun.js/javascript.zig
  src/bun.js/modules/EventsModule.h
Labels: packages:bun

#1124 chore: fix bun-tools location in macOSx Zig instructions
  README.md
Labels: chore

#1129 Support emit Symbol events in EventEmitter
  src/bun.js/bindings/webcore/EventEmitter.cpp
  src/bun.js/bindings/webcore/EventEmitter.h
  src/bun.js/bindings/webcore/EventListenerMap.cpp
  src/bun.js/bindings/webcore/EventListenerMap.h
  src/bun.js/bindings/webcore/IdentifierEventListenerMap.cpp
  src/bun.js/bindings/webcore/IdentifierEventListenerMap.h
  src/bun.js/bindings/webcore/JSEventEmitter.cpp
Labels: packages:bun

#1133 add SlowBuffer
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/JSBuffer.h
  src/bun.js/modules/BufferModule.h
Labels: packages:bun

#1132 update minified url polyfill
  src/bun.js/url.exports.js
Labels: packages:bun

#1140 Add pad back to base64
  src/base64/chromiumbase64.c
Labels: packages:bun

#1138 Fix clearTimeout and linux timeout
  src/bun.js/api/bun.zig
  src/io/io_linux.zig
Labels: packages:bun

#1115 feat: implement native os module
  .vscode/launch.json
  .vscode/settings.json
  Makefile
  bench/modules/node_os/.env
  bench/modules/node_os/bun.js
  bench/modules/node_os/node.mjs
  bench/modules/node_os/package.json
  bench/package.json
  src/__global.zig
  src/bun.js/api/bun.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/node_os/cpuinfo.cpp
  src/bun.js/bindings/node_os/cpuinfo.h
  src/bun.js/bindings/node_os/interface_addresses.cpp
  src/bun.js/bindings/node_os/interface_addresses.h
  src/bun.js/bindings/node_os/system_memory.cpp
  src/bun.js/bindings/node_os/system_memory.h
  src/bun.js/javascript.zig
  src/bun.js/node/node_os.zig
  src/bun.js/node/os/constants.zig
  src/bun.js/os.exports.js
  src/c.zig
  src/darwin_c.zig
  src/jsc.zig
  src/linux_c.zig
  test/bun.js/os.test.js
Labels: benchmarks, tests, packages:bun

#1146 Add native BufferList
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/JSBuffer.h
  src/bun.js/bindings/JSBufferList.cpp
  src/bun.js/bindings/JSBufferList.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/streams.exports.js
Labels: packages:bun

#1151 fix mkdtemp
  src/bun.js/node/node_fs.zig
Labels: packages:bun

#1148 fix: broken README links
  README.md
Labels: chore

#1156 fix: added shell function to STRIP
  Makefile
Labels: chore

#1157 fix compile error
  src/bun.js/node/node_os.zig
  src/c.zig
  src/linux_c.zig
Labels: packages:bun

#1158 Fix ffi uint64_t parameter
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/headers.h
  src/bun.js/ffi.exports.js
  test/bun.js/ffi.test.js
Labels: tests, packages:bun

#1160 Support for NULL in ffi
  src/bun.js/api/FFI.h
  src/bun.js/ffi.exports.js
  test/bun.js/ffi-test.c
  test/bun.js/ffi.test.fixture.callback.c
  test/bun.js/ffi.test.fixture.receiver.c
  test/bun.js/ffi.test.js
Labels: tests, packages:bun

#1147 feat: hack in support for tsconfig `extends`
  src/resolver/resolver.zig
  src/resolver/tsconfig_json.zig
Labels: packages:bun

#1166 More reliable macOS event loop
  Makefile
  bench/snippets/set-timeout.mjs
  build.zig
  misctools/machbench.zig
  src/bun.js/event_loop.zig
  src/bun_js.zig
  src/http_client_async.zig
  src/io/io_darwin.cpp
  src/io/io_darwin.zig
  src/io/io_linux.zig
  src/network_thread.zig
  test/bun.js/ffi.test.fixture.callback.c
  test/bun.js/ffi.test.fixture.receiver.c
Labels: benchmarks, tests, packages:bun

#1174 chore: Clean buffer C API
  src/bun.js/bindings/Buffer.h
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/webcore/encoding.zig
Labels: packages:bun

#1175 Fixed JSBuffer write issues
  src/bun.js/bindings/JSBuffer.cpp
  src/string_immutable.zig
  test/bun.js/buffer.test.js
Labels: tests, packages:bun

#1110 Add profiler support
  Makefile
  src/bun.js/bindings/BunJSCModule.cpp
  src/bun.js/bun-jsc.exports.js
Labels: packages:bun
