Repository oven-sh/bun, pull requests merged in 2022-07, with the labels that each got.

#577 hono example with typescript
  examples/hono/package.json
  examples/hono/readme.md
  examples/hono/src/index.ts
  examples/hono/tsconfig.json
Labels: templates

#523 fix `blank` template
  examples/blank/package.json
Labels: templates

#736 fix(README): Remove unused troubleshooting link
  README.md
Labels: chore

#672 minor edit: Makefile
  Makefile
Labels: chore

#753 fix/clean-up-bun-error
  packages/bun-error/index.tsx
  packages/bun-error/markdown.ts
  packages/bun-error/runtime-error.ts
  packages/bun-error/tsconfig.json
Labels: packages:bun-error

#748 Fix documentation of `atob` and `btoa`
  types/bun/globals.d.ts
Labels: packages:bun-types

#699 Add a way to test wiptest
  Makefile
  test/wiptest/.gitignore
  test/wiptest/README.md
  test/wiptest/fixtures/toBe.match.test.js
  test/wiptest/fixtures/toBe.mismatch.test.js
  test/wiptest/fixtures/toHaveLength.match.test.js
  test/wiptest/fixtures/toHaveLength.mismatch.test.js
  test/wiptest/run.cpp
Labels: tests

#760 fix scoped packages name resolution
  src/install/install.zig
Labels: packages:bun

#758 fixed some licenses in README
  README.md
Labels: chore

#746 Bumped hono version number
  examples/hono/package.json
Labels: templates

#764 fix printing message for thrown non-error objects
  src/bun.js/javascript.zig
Labels: packages:bun

#772 url.js use util_isString
  src/node-fallbacks/url.js
Labels: packages:bun

#787 added mystery-box example macro
  examples/macros/mystery-box.ts
Labels: templates

#745 refactor(installer): renovate install script
  src/cli/install.sh
Labels: packages:bun

#793 fix(api): stop double free of prop array
  src/bun.js/api/transpiler.zig
  src/bun.js/bindings/exports.zig
Labels: packages:bun

#807 feat(node/fs): implement more stat methods
  src/bun.js/node/types.zig
  test/bun.js/fs-stream.link.js
  test/bun.js/fs.test.js
Labels: tests, packages:bun

#783 Improvement reactjs example readme file
  examples/react/README.md
Labels: templates

#825 fix: remove suffix arg for mktemp compatibility
  test/apps/bun-dev-index-html.sh
  test/apps/bun-dev.sh
  test/apps/bun-install-lockfile-status.sh
  test/apps/bun-install-utf8.sh
  test/apps/bun-install.sh
Labels: tests

#823 `bun install` use custom BUN_CONFIG_REGISTRY port
  src/install/install.zig
Labels: packages:bun

#804 doc: added an helper for the huge Makefile
  Makefile
Labels: chore

#800 fix install script colors for light background
  src/cli/install.sh
Labels: packages:bun

#827 Fix mistake in Next.js Example README.
  examples/next/README.md
Labels: templates

#847 feat: add .PHONY on makefile targets
  Makefile
Labels: chore

#845 feat: added info, info_bod and success method to wrap type of messages
  src/cli/install.sh
Labels: packages:bun

#844 [Bun.js] support for util.TextEncoder
  src/node-fallbacks/util.js
  test/bun.js/util.test.js
Labels: tests, packages:bun

#773 fix(examples/hono): refine Hono example
  examples/hono/package.json
  examples/hono/public/favicon.ico
  examples/hono/readme.md
  examples/hono/src/index.ts
Labels: templates

#766 Change bun-types to latest
  examples/kingworld/package.json
Labels: templates

#839 feat: clean/factorize ARGS in the Dockerfile
  Dockerfile
Labels: chore

#854 Increasing test coverage for node compatibility for util
  test/bun.js/util.test.js
Labels: tests

#582 chore(installer): use this repository instead release-for-updater
  src/cli/install.sh
Labels: packages:bun

#578 fix(types): add missing types for WebSocket
  types/bun/globals.d.ts
Labels: packages:bun-types

#623 Add 'scripts/nproc' helper script
  Makefile
Labels: chore

#403 Support for completion in Bash
  completions/bun.bash
  src/cli/install_completions_command.zig
Labels: packages:bun

#775 #609 Don't truncate ascii buffers to 7-bit
  src/bun.js/bindings/JSBuffer.cpp
  src/bun.js/webcore/encoding.zig
  test/bun.js/buffer.test.js
Labels: tests, packages:bun

#836 docs(macos): Improve MacOS Development Instructions
  README.md
Labels: chore

#906 landing/docs: make Bun naming consistent
  packages/bun-landing/page.tsx
Labels: packages:bun-landing

#914 docs: fix broken ffi benchmark link
  README.md
Labels: chore

#919 fix(ffi): double-free segfault with symbols object
  src/bun.js/api/ffi.zig
Labels: packages:bun

#920 Update bun-framework-next for Compatibility with Next 12.2+
  packages/bun-framework-next/client.development.tsx
  packages/bun-framework-next/package.json
  packages/bun-framework-next/renderDocument.tsx
Labels: packages:bun-framework-next

#933 fix(makefile): devcontainer install
  .gitignore
  Makefile
Labels: chore

#932 Fix/react accessibility
  examples/react/src/App.css
  examples/react/src/App.jsx
Labels: templates

#926 refactor(bunjs/bindings): code readability fix `functionLazyLoadStrea…
  src/bun.js/bindings/ZigGlobalObject.cpp
Labels: packages:bun

#944 Fix: move bun, Webkit and zig urls from Jarred-Sumner to oven-sh.
  Dockerfile.devcontainer
  README.md
  docs/upgrading-webkit.md
  packages/bun-landing/page.tsx
  packages/bun-landing/public/index.html
  src/bun.js/api/FFI.h
  test/apps/bun-install-utf8.sh
  test/apps/bun-run-check.sh
  test/bun.js/ffi.test.fixture.callback.c
  test/bun.js/ffi.test.fixture.receiver.c
  zig-build/Dockerfile
  zig-build/Dockerfile.musl
  zig-build/release.sh
Labels: tests, packages:bun, packages:bun-landing

#912 chore: migrate deprecated `@vscode/dev-container-cli`
  Makefile
  README.md
Labels: chore
