Repository oven-sh/bun, pull requests merged in 2022-09, with the labels that each got.

#1182 chore(doc): remove recurse flag from xattr
  README.md
Labels: chore

#1186 Fix typo in futex.zig
  src/futex.zig
Labels: packages:bun

#1188 Add native StringDecoder
  src/bun.js/bindings/JSBufferList.cpp
  src/bun.js/bindings/JSStringDecoder.cpp
  src/bun.js/bindings/JSStringDecoder.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/bindings/webcore/DOMClientIsoSubspaces.h
  src/bun.js/bindings/webcore/DOMIsoSubspaces.h
  src/bun.js/javascript.zig
  src/bun.js/modules/StringDecoderModule.h
  src/bun.js/webcore/encoding.zig
  test/bun.js/string-decoder.test.js
Labels: tests, packages:bun

#1197 Fix failing Buffer tests
  src/bun.js/webcore/encoding.zig
Labels: packages:bun

#1198 allow set proxy for github
  src/cli/install.sh
Labels: packages:bun

#1203 export syntax error fix for exported enums and namespaces
  src/js_parser.zig
  test/bun.js/transpiler.test.js
Labels: tests, packages:bun

#1199 Plugin API
  bun.lockb
  package.json
  src/bun.js/bindings/BunJSCModule.cpp
  src/bun.js/bindings/BunPlugin.cpp
  src/bun.js/bindings/BunPlugin.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/builtins/BunBuiltinNames.h
  src/bun.js/javascript.zig
  src/bun.js/modules/ObjectModule.h
  src/bundler.zig
  src/import_record.zig
  src/js_printer.zig
  src/linker.zig
  test/bun.js/hello.svelte
  test/bun.js/hello2.svelte
  test/bun.js/plugins.test.ts
Labels: tests, packages:bun

#1168 chore(install-script): automatically add bun to path - bash shell
  src/cli/install.sh
Labels: packages:bun

#1172 update example react-is to v18(#1155)
  examples/next/package.json
Labels: templates

#1218 Add native helper functions for Readable and convert ReadableState properties to getter/setter
  src/bun.js/bindings/JSReadableHelper.cpp
  src/bun.js/bindings/JSReadableHelper.h
  src/bun.js/bindings/JSReadableState.cpp
  src/bun.js/bindings/JSReadableState.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/streams.exports.js
Labels: packages:bun

#1221 Fix segfault due to GC and some more helper functions
  src/bun.js/bindings/JSBufferList.cpp
  src/bun.js/bindings/JSBufferList.h
  src/bun.js/bindings/JSReadableHelper.cpp
  src/bun.js/bindings/JSReadableHelper.h
  src/bun.js/bindings/JSReadableState.cpp
  src/bun.js/bindings/JSReadableState.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/streams.exports.js
Labels: packages:bun

#1231 New HTTP client
  Dockerfile
  build.zig
  misctools/fetch.zig
  src/bun.js/event_loop.zig
  src/bun.js/webcore/response.zig
  src/cli/create_command.zig
  src/cli/upgrade_command.zig
  src/deps/picohttp.zig
  src/deps/picohttpparser.zig
  src/deps/uws.zig
  src/hive_array.zig
  src/http/websocket_http_client.zig
  src/http/zlib.zig
  src/http_client_async.zig
  src/install/install.zig
  src/io/io_darwin.zig
  src/network_thread.zig
Labels: packages:bun

#1247 Update macOS contributing instructions
  .gitmodules
  Makefile
  README.md
Labels: chore

#1246 feat: env loader nested values with curly braces
  src/env_loader.zig
Labels: packages:bun

#1018 test: Promisify basic tests
  test/bun.js/util/util-promisify.test.js
  test/bun.js/util/util.test.js
Labels: tests

#1255 Add `body` to `Response` and `Request`
  src/bun.js/api/server.zig
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/exports.zig
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/napi.cpp
  src/bun.js/webcore/response.classes.ts
  src/bun.js/webcore/response.zig
  src/bun.js/webcore/streams.zig
  src/napi/napi.zig
  test/bun.js/streams.test.js
Labels: tests, packages:bun
