Repository oven-sh/bun, pull requests merged in 2022-11, with the labels that each got.

#1419 fix for repeated regex match calls and fix for '^' in character classes
  src/bun.js/bindings/OnigurumaRegExp.cpp
  src/bun.js/bindings/OnigurumaRegExp.h
  test/bun.js/oniguruma-regexp.test.ts
Labels: tests, packages:bun

#1432 Update React fizz server
  bun.lockb
  package.json
  test/bun.js/react-dom-server.bun.js
Labels: tests

#1433 fix createWriteStream
  src/bun.js/fs.exports.js
  test/bun.js/fs.test.js
Labels: tests, packages:bun

#1438 Update build docs and commands for dev containers
  .devcontainer/README.md
  .devcontainer/scripts/getting-started.sh
  Makefile
  README.md
Labels: chore

#1437 Fix missing .PHONY for vendor-without-check
  Makefile
Labels: chore

#1436 Fix check for ninja on Debian/Ubuntu
  Makefile
Labels: chore

#1445 typescript decorators round 2
  src/js_ast.zig
  src/js_parser.zig
  src/runtime.footer.bun.js
  src/runtime.footer.js
  src/runtime.footer.node.js
  src/runtime.footer.with-refresh.js
  src/runtime.js
  src/runtime.zig
  test/bun.js/decorators.test.ts
  test/scripts/snippets.json
  test/snippets/package.json
  test/snippets/simple-lit-example.ts
Labels: tests, packages:bun

#1439 Fix $PATH on dev container
  .devcontainer/devcontainer.json
  Dockerfile.devcontainer
Labels: chore

#1424 feat(child_process): add node:child_process polyfill
  src/bun.js/child_process.exports.js
  src/bun.js/streams.exports.js
  test/bun.js/child_process-node.test.js
  test/bun.js/child_process.test.ts
Labels: tests, packages:bun

#1256 Remove improper coercion of environment variables
  src/env_loader.zig
Labels: packages:bun

#1258 Add more tags to be usable with typeof
  src/js_ast.zig
Labels: packages:bun

#1484 Allow install script to specify debug-info variant with debug symbols
  src/cli/install.sh
Labels: enhancement
