Repository oven-sh/bun, pull requests merged in 2022-10, with the labels that each got.

#1241 docs(thread_pool): comment readability improvements
  src/thread_pool.zig
Labels: packages:bun

#1299 Fix nested modules bin executable issue
  src/install/bin.zig
  test/apps/bun-install.sh
Labels: tests, packages:bun

#1301 Fix install error when node_modules already in npm package
  src/install/install.zig
Labels: packages:bun

#1303 Fix fetch response redirected
  src/bun.js/bindings/JSSink.cpp
  src/bun.js/bindings/JSSink.h
  src/bun.js/bindings/JSSinkLookupTable.h
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/scripts/generate-classes.ts
  src/bun.js/webcore/response.classes.ts
  src/bun.js/webcore/response.zig
Labels: packages:bun

#1313 Fix import alias
  src/bun.js/api/transpiler.zig
  src/js_printer.zig
  test/bun.js/transpiler.test.js
Labels: tests, packages:bun

#1310 Fix typo in datetime.zig
  src/deps/zig-datetime/src/datetime.zig
Labels: packages:bun

#1346 get args fix
  src/bun.js/node/types.zig
  src/cli/test_command.zig
  test/bun.js/print-process-args.js
  test/bun.js/process-args.test.js
Labels: tests, packages:bun

#1321 Use buffer type for Deno FFI binding to align with Bun usage
  bench/ffi/deno.js
Labels: benchmarks

#1353 Improve issue templates
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/1-install-problem.yml
  .github/ISSUE_TEMPLATE/2-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/3-api-ref-docs-problem.yml
  .github/ISSUE_TEMPLATE/3-feature-request.yml
  .github/ISSUE_TEMPLATE/4-docs-problem.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: chore

#1351 Cache dir loader: Prefer `$BUN_INSTALL` and `$XDG_CACHE_HOME` to `$HOME`.
  src/install/install.zig
Labels: packages:bun

#1359 Fix Bun.serve error handler error param
  src/bun.js/api/server.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/bun.js/bindings/headers.zig
  test/bun.js/serve.test.ts
Labels: tests, packages:bun

#1364 chore: remove outdated `var` usages
  README.md
Labels: chore

#1371 Fix spawn exitcode
  src/bun.js/api/bun/subprocess.zig
  test/bun.js/spawn.test.ts
Labels: tests, packages:bun

#1383 fix(fetch): stop `new Response(null)` from segfaulting
  src/bun.js/webcore/response.zig
Labels: packages:bun

#1386 fix(web): stop segfault on invalid fd error
  src/bun.js/api/server.zig
  src/bun.js/node/types.zig
Labels: packages:bun

#1363 oniguruma regex lookbehind and multibyte hex fix
  src/bun.js/bindings/OnigurumaRegExp.cpp
  src/js_lexer.zig
  test/bun.js/oniguruma-regexp.test.ts
Labels: tests, packages:bun

#1374 TCP & TLS Socket API
  .vscode/settings.json
  README.md
  bench/snippets/string-decoder.mjs
  bench/snippets/tcp-echo.bun.ts
  bench/snippets/tcp-echo.node.mjs
  build-id
  bun.lockb
  examples/tcp.ts
  package.json
  src/bun.js/api/bun.zig
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/sockets.classes.ts
  src/bun.js/bindings/ZigGeneratedClasses+DOMClientIsoSubspaces.h
  src/bun.js/bindings/ZigGeneratedClasses+DOMIsoSubspaces.h
  src/bun.js/bindings/ZigGeneratedClasses+lazyStructureHeader.h
  src/bun.js/bindings/ZigGeneratedClasses+lazyStructureImpl.h
  src/bun.js/bindings/ZigGeneratedClasses.cpp
  src/bun.js/bindings/ZigGeneratedClasses.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/generated_classes.zig
  src/bun.js/bindings/generated_classes_list.zig
  src/bun.js/bindings/headers-cpp.h
  src/bun.js/bindings/headers.h
  src/deps/uws.zig
  src/http/websocket_http_client.zig
  src/http_client_async.zig
  src/jsc.zig
  test/bun.js/tcp-server.test.ts
Labels: templates, benchmarks, tests, packages:bun

#1387 Fix lexer expected token error
  src/bun.js/javascript.zig
Labels: packages:bun

#1395 Minor fixes to README.md
  README.md
Labels: chore

#1408 feat(core): optimize zig slice
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/transpiler.zig
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/exports.zig
  src/bun.js/node/types.zig
  src/bun.js/test/jest.zig
  src/bun.js/webcore/encoding.zig
  src/bun.js/webcore/response.zig
  src/nullable_allocator.zig
Labels: packages:bun

#1418 Update default tsconfig on `bun init`
  src/cli/tsconfig-for-init.json
Labels: packages:bun

#1423 Updating libuwebsockets C API
  src/bun.js/api/server.zig
  src/deps/_libusockets.h
  src/deps/libuwsockets.cpp
  src/deps/uws.zig
Labels: packages:bun
