Repository oven-sh/bun, pull requests merged in 2025-01, with the labels that each got.

#15917 feat(node/path): support `matchesGlob`
  src/js/node/path.ts
  test/js/bun/glob/match.test.ts
  test/js/node/path/matches-glob.test.ts
  test/js/node/test/parallel/test-path-glob.js
Labels: node:path

#15896 build(bindgen): check for corresponding .zig file
  src/codegen/bindgen-lib.ts
  src/codegen/bindgen.ts
Labels: build

#16221 feat: expose `globalThis.gc` when `--expose-gc` flag is passed
  src/bun.js/api/BunObject.zig
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/headers.h
  src/bun_js.zig
  src/cli.zig
  test/js/bun/globals.test.js
Labels: node.js

#15982 Add documentation for threadsafe option in FFI JSCallback
  docs/api/ffi.md
Labels: docs

#16276 Fixes #14553
  src/ini.zig
  test/cli/install/bun-install-registry.test.ts
Labels: bun install

#16299 ci: avoid hitting MAX_PATHLEN in win32 builds
  cmake/tools/SetupWebKit.cmake
  scripts/build.mjs
Labels: build

#16308 fix(test): toThrow() === toThrow('')
  src/bun.js/test/expect.zig
  test/cli/test/expectations.test.ts
Labels: bun:test

#16314 refactor(cli/bunx): move options definition to top of file
  src/cli/bunx_command.zig
Labels: bun install, bunx

#16273 minor guide fixes for consistency
  docs/api/file-io.md
  docs/cli/install.md
  docs/guides/ecosystem/discordjs.md
  docs/guides/ecosystem/hono.md
  docs/guides/ecosystem/mongoose.md
  docs/guides/ecosystem/nextjs.md
  docs/guides/ecosystem/render.md
  docs/guides/ecosystem/sentry.md
  docs/guides/http/hot.md
  docs/guides/install/add-peer.md
  docs/guides/install/add.md
  docs/guides/install/cicd.md
  docs/guides/install/git-diff-bun-lockfile.md
  docs/guides/install/trusted.md
  docs/guides/install/yarnlock.md
  docs/guides/process/argv.md
  docs/guides/runtime/define-constant.md
  docs/guides/write-file/unlink.md
  docs/install/cache.md
  docs/install/lockfile.md
  docs/runtime/env.md
Labels: docs

#16352 docs: remove worker from module resolution docs
  docs/runtime/modules.md
Labels: docs

#16348 docs: use tag `$BUN_LATEST_VERSION` for version instead of manual
  docs/api/fetch.md
  docs/api/spawn.md
  docs/cli/publish.md
  docs/guides/ecosystem/nuxt.md
  docs/guides/install/add-peer.md
  docs/guides/install/from-npm-install-to-bun-install.md
  docs/guides/test/run-tests.md
  docs/guides/test/snapshot.md
  docs/guides/test/update-snapshots.md
  docs/guides/util/version.md
  docs/installation.md
  docs/quickstart.md
  docs/runtime/debugger.md
  docs/test/dom.md
  packages/bun-types/package.json
Labels: docs

#16321 fix(cli/install): `--silent` disables summary
  src/install/install.zig
  test/cli/install/bun-install-registry.test.ts
Labels: bun install

#16315 feat(cli/bunx): support `--no-install` flag
  src/bun.zig
  src/cli/bunx_command.zig
  test/cli/install/bunx.test.ts
Labels: enhancement, bunx

#16421 fix: debug builds loading runtime.out.js from wrong path
  src/runtime.zig
Labels: build, quick fix

#16404 test(node/url): add more `node:test` parallel cases
  src/bun.js/bindings/BunObject.cpp
  src/bun.js/bindings/ErrorCode.cpp
  src/bun.js/bindings/ErrorCode.h
  src/bun.js/bindings/ErrorCode.ts
  src/bun.js/bindings/PathInlines.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/bindings.cpp
  src/bun.js/node/node_util_binding.zig
  src/codegen/generate-node-errors.ts
  src/js/builtins.d.ts
  src/js/internal/util.ts
  src/js/node/url.ts
  test/js/bun/plugin/plugins.test.ts
  test/js/bun/util/fileUrl.test.js
  test/js/node/harness.ts
  test/js/node/test/parallel/needs-test/test-url-fileurltopath.js
  test/js/node/test/parallel/needs-test/test-url-format-invalid-input.js
  test/js/node/test/parallel/test-url-is-url-internal.js
  test/js/node/test/parallel/test-url-parse-invalid-input.js
  test/js/node/test/parallel/test-url-parse-query.js
  test/js/node/test/parallel/test-url-relative.js
  test/js/node/url/url-parse-ipv6.test.ts
Labels: node:url

#16383 test(node): copy over passing parallel/child-process tests
  src/js/node/child_process.ts
  test/js/node/test/parallel/test-child-process-exit-code.js
  test/js/node/test/parallel/test-child-process-fork-stdio-string-variant.js
Labels: node:child_process

#16351 Switch bun `-p` from `--port` to `--print`
  src/cli.zig
Labels: breaking

#16540 Make `bun.lock` the default for new projects
  src/cli/package_manager_command.zig
  src/cli/pm_trusted_command.zig
  src/install/bin.zig
  src/install/bun.lock.zig
  src/install/install.zig
  src/install/lockfile.zig
  test/cli/install/__snapshots__/bun-install-registry.test.ts.snap
  test/cli/install/__snapshots__/bun-install.test.ts.snap
  test/cli/install/__snapshots__/bun-lock.test.ts.snap
  test/cli/install/__snapshots__/bun-workspaces.test.ts.snap
  test/cli/install/bun-install-lifecycle-scripts.test.ts
  test/cli/install/bun-install-registry.test.ts
  test/cli/install/bun-install.test.ts
  test/cli/install/bun-lock.test.ts
  test/cli/install/bun-lockb.test.ts
  test/cli/install/bun-workspaces.test.ts
  test/cli/install/bun.lockb.bin-linking
  test/cli/install/dummy.registry.ts
  test/cli/install/migration/contoso-test/bunfig.toml
  test/cli/install/overrides.test.ts
  test/harness.ts
Labels: breaking

#16686 fix(node/fs): `fs.close` and `fs.Dir.closeSync`
  src/bun.js/bindings/ErrorCode.cpp
  src/bun.js/bindings/ErrorCode.ts
  src/js/node/fs.ts
  test/harness.ts
  test/js/node/fs/dir.test.ts
Labels: node:fs

#16641 fix(node/url): respect `process.noDeprecation` in `url.parse()`
  src/js/node/url.ts
  test/js/node/test/parallel/test-url-parse-invalid-input.js
Labels: node:url

#16806 fix(node/fs): better validation in `fs.Dir`
  src/js/internal/validators.ts
  src/js/node/fs.ts
  test/js/node/fs/dir.test.ts
Labels: bug, node:fs

#16888 fix(node/http): re-export `WebSocket`, `CloseEvent`, and `MessageEvent`
  src/bun.js/webcore/response.zig
  src/js/node/http.ts
  test/js/node/test/parallel/test-http-import-websocket.js
Labels: node:http

#16676 feat(node/fs): add `fs.glob`, `fs.globSync`, and `fs.promises.glob`
  src/js/builtins.d.ts
  src/js/internal/fs/glob.ts
  src/js/internal/validators.ts
  src/js/node/fs.promises.ts
  src/js/node/fs.ts
  test/harness.ts
  test/js/node/fs/glob.test.ts
Labels: enhancement, node:fs
