Repository oven-sh/bun, pull requests merged in 2025-04, with the labels that each got.

#18722 tiny jsdoc change for docs
  packages/bun-types/bun.d.ts
  packages/bun-types/sqlite.d.ts
Labels: docs

#18927 test(http): port over some of express' test suite
  test/js/bun/spawn/spawn.test.ts
  test/js/third_party/express/README.md
  test/js/third_party/express/app.router.test.ts
  test/js/third_party/express/express.json.test.ts
  test/js/third_party/express/express.text.test.ts
  test/js/third_party/express/fixtures/% of dogs.txt
  test/js/third_party/express/fixtures/.name
  test/js/third_party/express/fixtures/blog/index.html
  test/js/third_party/express/fixtures/blog/post/index.tmpl
  test/js/third_party/express/fixtures/name.txt
  test/js/third_party/express/fixtures/nums.txt
  test/js/third_party/express/fixtures/user.html
  test/js/third_party/express/res.json.test.ts
  test/js/third_party/express/res.location.test.ts
  test/js/third_party/express/res.redirect.test.ts
  test/js/third_party/express/res.send.test.ts
  test/js/third_party/express/res.sendFile.test.ts
  test/js/third_party/express/support/after.ts
  test/js/third_party/express/support/utils.ts
Labels: node:http

#18930 fix(test): test.failing when tests use a done callback
  packages/bun-types/test.d.ts
  src/bun.js/test/jest.zig
  test/js/bun/test/fixtures/failing-test-done-test-fails.fixture.ts
  test/js/bun/test/fixtures/failing-test-done-test-succeeds.fixture.ts
  test/js/bun/test/test-failing.test.ts
Labels: bun:test

#18821 docs: add missing static methods of S3Client
  docs/api/s3.md
Labels: docs

#18762 Improve documentation for bun-inspector-protocol package
  packages/bun-inspector-protocol/.gitignore
  packages/bun-inspector-protocol/README.md
  packages/bun-inspector-protocol/index.ts
  packages/bun-inspector-protocol/package.json
Labels: docs

#18950 Declare properties of WebSocket interface, + generators in Bun.BodyInit
  packages/bun-types/fetch.d.ts
  packages/bun-types/globals.d.ts
  test/integration/bun-types/bun-types.test.ts
  test/integration/bun-types/fixture/http.ts
  test/integration/bun-types/fixture/websocket.ts
Labels: types

#18978 docs(redis): replace client.disconnect() with client.close()
  docs/api/redis.md
Labels: docs

#18955 @types/bun: declare ShellError and ShellPromise in the right place
  packages/bun-types/bun.d.ts
  packages/bun-types/globals.d.ts
  packages/bun-types/index.d.ts
  packages/bun-types/shell.d.ts
  test/integration/bun-types/fixture/index.ts
  test/js/bun/shell/bunshell.test.ts
Labels: types

#18819 bun-types: add static modifiers to static S3Client methods (#18818)
  packages/bun-types/s3.d.ts
Labels: types

#19005 docs(redis): replace client.disconnect() with client.close()
  docs/api/redis.md
Labels: docs

#18911 some updates to types
  packages/bun-types/bun.d.ts
  packages/bun-types/devserver.d.ts
  packages/bun-types/globals.d.ts
  packages/bun-types/sqlite.d.ts
  test/bundler/bun-build-api.test.ts
  test/integration/bun-types/fixture/index.ts
Labels: types

#19017 @types/bun: Reimplement `WebSocket` type in default environment
  bun.lock
  packages/bun-types/bun.d.ts
  packages/bun-types/globals.d.ts
  packages/bun-types/package.json
  test/integration/bun-types/bun-types.test.ts
  test/integration/bun-types/fixture/websocket.ts
  test/integration/bun-types/fixture/ws.ts
Labels: types, web:websocket

#19018 fix(bun/test): it.failing for tests using done callbacks
  packages/bun-types/test.d.ts
  src/bun.js/bindings/JSGlobalObject.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/test/jest.zig
  test/js/bun/test/fixtures/failing-test-done-test-fails.fixture.ts
  test/js/bun/test/fixtures/failing-test-done-test-succeeds.fixture.ts
  test/js/bun/test/fixtures/failing-test-timeout.fixture.ts
  test/js/bun/test/test-failing.test.ts
  test/js/third_party/express/express.text.test.ts
Labels: bun:test

#19024 @types/bun: More JSDoc improvements for docgen
  packages/bun-types/bun.d.ts
  packages/bun-types/globals.d.ts
  test/integration/bun-types/fixture/dns.ts
  test/integration/bun-types/fixture/toml.ts
Labels: types

#19094 `bun:test`: Make describe() accept all label kinds
  packages/bun-types/test.d.ts
Labels: types

#19098 @types/bun: more improvements that make reference better
  packages/bun-types/bun.d.ts
  packages/bun-types/fetch.d.ts
  packages/bun-types/globals.d.ts
  packages/bun-types/redis.d.ts
  packages/bun-types/s3.d.ts
  packages/bun-types/shell.d.ts
  packages/bun-types/test.d.ts
  src/init/react-app/bun-env.d.ts
  src/init/react-app/tsconfig.json
  src/init/react-shadcn/bun-env.d.ts
  src/init/react-shadcn/tsconfig.json
  src/init/react-tailwind/bun-env.d.ts
  src/init/react-tailwind/tsconfig.json
  test/integration/bun-types/bun-types.test.ts
Labels: types

#19235 readline: Fix readline-test-promises-csj.mjs
  src/js/node/readline.ts
  test/js/node/test/parallel/test-readline-promises-csi.mjs
Labels: node:readline

#19225 Fix test-{https,tls}-options-boolean-check
  src/js/internal/http.ts
  src/js/internal/tls.ts
  src/js/node/_http_client.ts
  src/js/node/_http_server.ts
  src/js/node/tls.ts
  test/js/node/test/parallel/test-https-options-boolean-check.js
  test/js/node/test/parallel/test-tls-options-boolean-check.js
Labels: node:http, node:tls

#19169 types: declare Shell as a type (allows for assignment)
  packages/bun-types/shell.d.ts
  test/integration/bun-types/fixture/index.ts
Labels: types

#19181 docs: update WebSockets example to use Bun.CookieMap
  docs/api/websockets.md
Labels: docs

#19162 Improve types and autocomplete for Bun.spawn (fixes #17274)
  packages/bun-types/bun.d.ts
  packages/bun-types/shell.d.ts
  test/integration/bun-types/bun-types.test.ts
  test/integration/bun-types/fixture/spawn.ts
Labels: types
