Repository oven-sh/bun, pull requests merged in 2025-07, with the labels that each got.

#20714 Documentation fix for --filter
  docs/cli/filter.md
Labels: docs

#20919 types: Bun.serve routes supportes Bun.file's
  packages/bun-types/bun.d.ts
  test/integration/bun-types/fixture/html.html
  test/integration/bun-types/fixture/serve-types.test.ts
Labels: types

#20953 fix(types): Non-empty TextDecoderStream and TextEncoderStream when outside DOM
  packages/bun-types/globals.d.ts
  test/integration/bun-types/fixture/streams.ts
Labels: types

#20737 Implement more `v8::Array::New` overloads, `v8::Object::{Get,Set}`, `v8::Value::StrictEquals`, `v8::Array::Iterate`
  src/bun.js/bindings/v8/V8Array.cpp
  src/bun.js/bindings/v8/V8Array.h
  src/bun.js/bindings/v8/V8EscapableHandleScope.h
  src/bun.js/bindings/v8/V8Local.h
  src/bun.js/bindings/v8/V8Maybe.h
  src/bun.js/bindings/v8/V8MaybeLocal.h
  src/bun.js/bindings/v8/V8Object.cpp
  src/bun.js/bindings/v8/V8Object.h
  src/bun.js/bindings/v8/V8Value.cpp
  src/bun.js/bindings/v8/V8Value.h
  src/napi/napi.zig
  src/symbols.def
  src/symbols.dyn
  src/symbols.txt
  test/v8/v8-module/binding.gyp
  test/v8/v8-module/bun.lock
  test/v8/v8-module/main.cpp
  test/v8/v8-module/module.js
  test/v8/v8.test.ts
Labels: cursor

#20645 Vscode test runner support
  .vscode/settings.json
  cmake/tools/SetupWebKit.cmake
  packages/bun-debug-adapter-protocol/src/debugger/adapter.ts
  packages/bun-inspector-protocol/src/protocol/jsc/index.d.ts
  packages/bun-inspector-protocol/src/protocol/jsc/protocol.json
  packages/bun-vscode/README.md
  packages/bun-vscode/bun.lock
  packages/bun-vscode/example/demo.test.ts
  packages/bun-vscode/package.json
  packages/bun-vscode/src/extension.ts
  packages/bun-vscode/src/features/tests/bun-test-controller.ts
  packages/bun-vscode/src/features/tests/index.ts
  packages/bun-vscode/src/features/tests/types.ts
  packages/bun-vscode/src/global-state.ts
  src/bun.js/Debugger.zig
  src/bun.js/bindings/InspectorTestReporterAgent.cpp
  src/bun.js/bindings/InspectorTestReporterAgent.h
  src/bun.js/bindings/bindings.cpp
  src/bun.js/test/jest.zig
  src/cli/test_command.zig
  test/cli/test/bun-test.test.ts
  test/internal/ban-words.test.ts
  test/js/junit-reporter/junit.test.js
Labels: vscode

#19884 Add remoteRoot/localRoot mapping for VSCode
  packages/bun-vscode/README.md
  packages/bun-vscode/package.json
  packages/bun-vscode/src/features/debug.ts
Labels: codex
