Repository oven-sh/bun, pull requests merged in 2025-03, with the labels that each got.

#17864 feat(test): add `test.failing`
  packages/bun-types/test.d.ts
  src/bun.js/test/jest.zig
  src/cli/test_command.zig
  test/js/bun/test/fixtures/failing-test-fails.fixture.ts
  test/js/bun/test/fixtures/failing-test-passes.fixture.ts
  test/js/bun/test/fixtures/failing-test-timeout.fixture.ts
  test/js/bun/test/test-failing.test.ts
Labels: enhancement, bun:test

#17735 feat: support Svelte in bundler and dev server
  .github/workflows/packages-ci.yml
  packages/bun-plugin-svelte/.gitignore
  packages/bun-plugin-svelte/README.md
  packages/bun-plugin-svelte/bun.lock
  packages/bun-plugin-svelte/package.json
  packages/bun-plugin-svelte/src/index.spec.ts
  packages/bun-plugin-svelte/src/index.ts
  packages/bun-plugin-svelte/src/modules.d.ts
  packages/bun-plugin-svelte/src/options.spec.ts
  packages/bun-plugin-svelte/src/options.ts
  packages/bun-plugin-svelte/test/__snapshots__/index.test.ts.snap
  packages/bun-plugin-svelte/test/fixtures/foo.svelte
  packages/bun-plugin-svelte/test/index.test.ts
  packages/bun-plugin-svelte/tsconfig.json
  packages/bun-types/bun.d.ts
  src/bun.js/api/JSBundler.zig
  src/bun.js/bindings/BunPlugin.h
  src/js/builtins/BundlerPlugin.ts
  test/bun.lock
  test/integration/svelte/__snapshots__/server-side.test.ts.snap
  test/integration/svelte/client-side.test.ts
  test/integration/svelte/fixtures/app/App.svelte
  test/integration/svelte/fixtures/app/bunfig.toml
  test/integration/svelte/fixtures/app/index.html
  test/integration/svelte/fixtures/app/index.ts
  test/integration/svelte/fixtures/client-code-on-server.ts
  test/integration/svelte/fixtures/server-imports.preload.ts
  test/integration/svelte/fixtures/server-imports.ts
  test/integration/svelte/fixtures/todo-list.svelte
  test/integration/svelte/server-side.test.ts
  test/package-json-lint.test.ts
  test/package.json
  test/regression/issue/ctrl-c.test.ts
Labels: bundler, bake:dev

#17761 improv: display String objects similar to node
  src/bun.js/ConsoleObject.zig
  test/js/web/console/console-log.expected.txt
  test/js/web/console/console-log.js
Labels: release-notes

#17954 dev server: rewrite HMRModule, support sync esm + hot.accept
  docs/bundler/hmr.md
  docs/nav.ts
  packages/bun-types/devserver.d.ts
  src/bake/DevServer.zig
  src/bake/bake.private.d.ts
  src/bake/client/websocket.ts
  src/bake/hmr-module.ts
  src/bake/hmr-runtime-client.ts
  src/bake/hmr-runtime-error.ts
  src/bake/hmr-runtime-server.ts
  src/bit_set.zig
  src/bundler/bundle_v2.zig
  src/codegen/bake-codegen.ts
  src/codegen/bundle-functions.ts
  src/codegen/bundle-modules.ts
  src/codegen/internal-module-registry-scanner.ts
  src/js/README.md
  src/js_ast.zig
  src/js_parser.zig
  src/js_printer.zig
  src/options.zig
  src/transpiler.zig
  test/bake/bake-harness.ts
  test/bake/client-fixture.mjs
  test/bake/dev-and-prod.test.ts
  test/bake/dev/bundle.test.ts
  test/bake/dev/css.test.ts
  test/bake/dev/esm.test.ts
  test/bake/dev/hot.test.ts
  test/bake/dev/react-spa.test.ts
  test/bake/dev/sourcemap.test.ts
  test/bake/exit-code-map.mjs
  test/bundler/bundler_minify.test.ts
  test/bundler/transpiler/transpiler.test.js
  test/tsconfig.json
Labels: release-notes

#18153 Fix type error for Uint8Array.fromBase64
  packages/bun-types/globals.d.ts
Labels: types

#18158 fix: removal of trailing slash in s3 presign
  src/s3/credentials.zig
Labels: s3

#18179 fix(ShadowRealm): give global objects a unique execution context id
  src/bun.js/bindings/ZigGlobalObject.cpp
  test/js/node/test/.gitignore
  test/js/node/test/parallel/test-shadow-realm.js
Labels: bug

#17898 fix(shell): remove unecessary allocations when printing errors
  src/shell/interpreter.zig
  src/shell/shell.zig
Labels: performance, shell

#18296 fix(node): fix several whatwg tests
  src/bun.js/bindings/ZigGlobalObject.lut.txt
  src/bun.js/bindings/webcore/JSDOMAttribute.h
  src/bun.js/bindings/webcore/JSTextEncoder.cpp
  src/js/builtins/ReadableStream.ts
  src/js/builtins/StreamInternals.ts
  test/js/node/test/parallel/test-whatwg-readablebytestreambyob.js
  test/js/node/test/parallel/test-whatwg-url-canparse.js
  test/js/node/test/parallel/test-whatwg-url-custom-global.js
  test/js/node/test/parallel/test-whatwg-url-custom-properties.js
  test/js/node/test/parallel/test-whatwg-url-custom-searchparams-append.js
  test/js/node/test/parallel/test-whatwg-url-custom-searchparams-delete.js
  test/js/node/test/parallel/test-whatwg-url-custom-searchparams-entries.js
  test/js/node/test/parallel/test-whatwg-url-custom-searchparams-foreach.js
  test/js/node/test/parallel/test-whatwg-url-custom-searchparams-get.js
  test/js/node/test/parallel/test-whatwg-url-custom-searchparams-getall.js
  test/js/node/test/parallel/test-whatwg-url-custom-searchparams-has.js
  test/js/node/test/parallel/test-whatwg-url-custom-searchparams-keys.js
  test/js/node/test/parallel/test-whatwg-url-custom-searchparams-set.js
  test/js/node/test/parallel/test-whatwg-url-custom-searchparams-stringifier.js
  test/js/node/test/parallel/test-whatwg-url-custom-searchparams-values.js
  test/js/node/test/parallel/test-whatwg-url-invalidthis.js
Labels: node.js

#18457 types(ffi): fix cc example jsdoc
  packages/bun-types/ffi.d.ts
Labels: types

#18459 docs: update `node:crypto` compatibility
  docs/runtime/nodejs-apis.md
Labels: docs

#18024 types: Rewrite to avoid conflicts and allow for doc generation
  bench/express/tsconfig.json
  bench/postgres/tsconfig.json
  bun.lock
  docs/guides/runtime/typescript.md
  docs/typescript.md
  packages/bun-types/README.md
  packages/bun-types/authoring.md
  packages/bun-types/bun.d.ts
  packages/bun-types/bun.ns.d.ts
  packages/bun-types/deprecated.d.ts
  packages/bun-types/devserver.d.ts
  packages/bun-types/extensions.d.ts
  packages/bun-types/fetch.d.ts
  packages/bun-types/ffi.d.ts
  packages/bun-types/globals.d.ts
  packages/bun-types/index.d.ts
  packages/bun-types/overrides.d.ts
  packages/bun-types/package.json
  packages/bun-types/s3.d.ts
  packages/bun-types/test.d.ts
  packages/bun-types/tsconfig.json
  packages/bun-types/wasm.d.ts
  src/cli/init/tsconfig.default.json
  src/js/builtins/shell.ts
  test/integration/bun-types/bun-types.test.ts
  test/integration/bun-types/fixture/.gitignore
  test/integration/bun-types/fixture/bun.lock
  test/integration/bun-types/fixture/index.ts
  test/integration/bun-types/fixture/package.json
  tsconfig.json
Labels: types

#18530 Fix AbortSignal static methods when DOM is missing
  packages/bun-types/globals.d.ts
  test/integration/bun-types/fixture/index.ts
  test/integration/bun-types/fixture/package.json
Labels: types

#18509 fix(cli/pack): excluded entries nested within included dirs
  src/cli/pack_command.zig
  src/glob/match.zig
  src/ptr/CowSlice.zig
  test/cli/install/bun-pack.test.ts
Labels: bun install

#18642 FIx some smaller issues in bun-types
  packages/bun-types/bun.d.ts
  packages/bun-types/globals.d.ts
  packages/bun-types/s3.d.ts
  test/integration/bun-types/fixture/bun-types-serve.test.ts
  test/integration/bun-types/fixture/s3.ts
  test/integration/bun-types/fixture/serve.ts
  test/integration/bun-types/fixture/streams.ts
  test/integration/bun-types/fixture/utilities.ts
Labels: types
