Repository oven-sh/bun, pull requests merged in 2025-09, with the labels that each got.

#22291 Implement Bun.{stdin,stderr,stdout} as LazyProperties to prevent multiple instances
  src/bun.js/api/BunObject.zig
  src/bun.js/bindings/BunObject+exports.h
  src/bun.js/bindings/BunObject.cpp
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
Labels: claude

#22298 Implement jsxSideEffects option for JSX dead code elimination control
  docs/bundler/vs-esbuild.md
  docs/runtime/jsx.md
  src/api/schema.zig
  src/ast/visitExpr.zig
  src/cli/Arguments.zig
  src/options.zig
  src/resolver/tsconfig_json.zig
  test/bundler/bundler_jsx.test.ts
  test/bundler/expectBundled.ts
Labels: claude

#22326 Fix HTMLRewriter error handling (issue #19219)
  src/bun.js/api/html_rewriter.zig
  test/regression/issue/19219.test.ts
Labels: claude

#22325 Fix WebSocket to emit error event before close on handshake failure
  src/bun.js/bindings/webcore/WebSocket.cpp
  test/js/bun/http/bun-server.test.ts
  test/js/web/websocket/websocket.test.js
  test/regression/issue/14338.test.ts
Labels: claude

#22323 Implement RFC 6455 compliant WebSocket subprotocol handling
  cmake/sources/ZigSources.txt
  src/bun.js/ConsoleObject.zig
  src/bun.js/bindings/webcore/WebSocket.cpp
  src/bun.js/bindings/webcore/WebSocket.h
  src/bun.zig
  src/http.zig
  src/http/HeaderValueIterator.zig
  src/http/websocket_client/CppWebSocket.zig
  src/http/websocket_client/WebSocketUpgradeClient.zig
  test/js/bun/util/inspect.test.js
  test/js/web/websocket/websocket-subprotocol-strict.test.ts
Labels: claude

#22336 Fix shell crash when piping assignments into commands
  src/shell/states/Pipeline.zig
  test/js/bun/shell/assignments-in-pipeline.test.ts
Labels: claude

#22303 Fix panic when installing global packages with --trust and existing trusted dependencies
  src/install/PackageManager/PackageJSONEditor.zig
Labels: claude

#22331 Fix crypto.verify() with null/undefined algorithm for RSA keys
  src/bun.js/bindings/node/crypto/CryptoSignJob.cpp
  test/regression/issue/11029-crypto-verify-null-algorithm.test.ts
Labels: claude

#22354 Fix PostgreSQL TIME and TIMETZ binary format handling
  src/bun.js/bindings/SQLClient.cpp
  src/sql/postgres/AnyPostgresError.zig
  src/sql/postgres/DataCell.zig
  test/js/bun/sql/postgres-time.test.ts
Labels: claude

#22360 fix: handle empty chunked gzip responses correctly
  src/brotli.zig
  src/bun.js/api/BunObject.zig
  src/cli/create_command.zig
  src/compile_target.zig
  src/deps/zstd.zig
  src/http/Decompressor.zig
  src/http/zlib.zig
  src/install/extract_tarball.zig
  src/zlib.zig
  test/js/web/fetch/fetch.stream.test.ts
  test/regression/issue/18413-all-compressions.test.ts
  test/regression/issue/18413-deflate-semantics.test.ts
  test/regression/issue/18413-truncation.test.ts
  test/regression/issue/18413.test.ts
Labels: claude

#22389 Remove 'Original Filename' metadata from Windows executables
  src/bun.js/bindings/windows/rescle-binding.cpp
  test/bundler/compile-windows-metadata.test.ts
Labels: claude

#22365 Fix Windows compilation issues with embedded resources and relative paths
  src/StandaloneModuleGraph.zig
  src/bundler/bundle_v2.zig
  src/sys.zig
  test/bundler/bun-build-compile-wasm.test.ts
  test/bundler/bun-build-compile.test.ts
  test/regression/issue/compile-outfile-subdirs.test.ts
Labels: claude

#22322 Fix child_process stdio properties not enumerable for Object.assign() compatibility
  src/js/node/child_process.ts
  test/regression/issue/246-child_process_object_assign_compatibility.test.ts
Labels: claude

#22459 Fix N-API compatibility issues: strict_equals, call_function, and array_with_length
  src/bun.js/bindings/JSValue.zig
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/napi.cpp
  src/napi/napi.zig
  test/napi/napi-app/standalone_tests.cpp
  test/napi/napi.test.ts
Labels: claude

#22460 Fix TypeScript syntax not working with 'ts' loader in BunPlugin
  src/bun.js/ModuleLoader.zig
  src/bun.js/bindings/BunPlugin.cpp
  src/bun.js/bindings/headers-handwritten.h
  test/regression/issue/12548.test.ts
Labels: claude

#18511 `bun:test`: Introduce optional type parameter to make bun:test matchers type-safe by default
  docs/test/writing.md
  packages/bun-types/test.d.ts
  test/integration/bun-types/bun-types.test.ts
  test/integration/bun-types/fixture/file.json
  test/integration/bun-types/fixture/index.ts
  test/integration/bun-types/fixture/test.ts
Labels: types

#22492 Remove unused function/class names when minifying
  docs/bundler/index.md
  packages/bun-types/bun.d.ts
  src/ast/visitExpr.zig
  src/bun.js/api/JSBundler.zig
  src/bundler/ParseTask.zig
  src/bundler/bundle_v2.zig
  src/cli.zig
  src/cli/Arguments.zig
  src/cli/build_command.zig
  src/options.zig
  src/runtime.zig
  test/bundler/bundler_minify.test.ts
  test/bundler/esbuild/default.test.ts
  test/bundler/esbuild/extra.test.ts
  test/bundler/expectBundled.ts
Labels: claude

#21853 Update nextjs.md for create next-app
  docs/guides/ecosystem/nextjs.md
Labels: docs

#22562 feat: Update BoringSSL to latest upstream (Sept 2025) - Post-quantum crypto, Rust support, and major performance improvements
  CMakeLists.txt
  cmake/targets/BuildBoringSSL.cmake
  src/bun.js/bindings/node/crypto/CryptoSignJob.cpp
  src/bun.js/bindings/node/crypto/JSSign.cpp
  src/bun.js/bindings/node/crypto/JSVerify.cpp
  src/deps/boringssl.translated.zig
Labels: claude

#21939 fix(patch): add bounds checking to prevent segfault during patch application
  src/install/PackageManager/runTasks.zig
  src/patch.zig
  test/cli/install/bun-install-patch.test.ts
  test/regression/issue/patch-bounds-check.test.ts
Labels: claude

#22641 Fix banner positioning with --format=cjs --target=bun
  src/bundler/linker_context/postProcessJSChunk.zig
  test/bundler/bundler_banner.test.ts
  test/bundler/bundler_naming.test.ts
  test/bundler/bundler_plugin.test.ts
  test/bundler/expectBundled.ts
  test/bundler/html-import-manifest.test.ts
Labels: claude

#22675 docs: Add TypeScript support documentation for YAML imports
  docs/api/yaml.md
  docs/guides/runtime/import-yaml.md
Labels: claude

#22680 Fix zstd decompression truncation for multi-frame responses
  src/deps/zstd.zig
  test/regression/issue/20053.test.ts
Labels: claude

#22739 Fix DevServer HMR sourcemap offset issues
  src/bake/DevServer/ErrorReportRequest.zig
  src/bake/DevServer/SourceMapStore.zig
  src/bake/client/overlay.ts
  src/bun.js/SavedSourceMap.zig
  src/bun.js/VirtualMachine.zig
  src/bun.zig
  src/sourcemap/CodeCoverage.zig
  src/sourcemap/JSSourceMap.zig
  src/sourcemap/sourcemap.zig
  test/bake/dev/sourcemap.test.ts
Labels: claude

#22850 feat: add --cpu and --os flags to bun install for filtering optional dependencies
  src/install/PackageManager/CommandLineArguments.zig
  src/install/PackageManager/PackageManagerLifecycle.zig
  src/install/PackageManager/PackageManagerOptions.zig
  src/install/lockfile.zig
  src/install/lockfile/Package.zig
  src/install/lockfile/Package/Meta.zig
  src/install/lockfile/Tree.zig
  src/install/lockfile/printer/tree_printer.zig
  src/install/npm.zig
  test/cli/install/bun-install-cpu-os.test.ts
  test/cli/install/dep-arm64-1.0.0.tgz
  test/cli/install/dep-arm64-2.0.0.tgz
  test/cli/install/dep-arm64-darwin-1.0.0.tgz
  test/cli/install/dep-arm64-linux-1.0.0.tgz
  test/cli/install/dep-arm64-linux-4.0.0.tgz
  test/cli/install/dep-both-1.0.0.tgz
  test/cli/install/dep-darwin-1.0.0.tgz
  test/cli/install/dep-darwin-2.0.0.tgz
  test/cli/install/dep-darwin-arm64-1.0.0.tgz
  test/cli/install/dep-darwin-arm64-2.0.0.tgz
  test/cli/install/dep-darwin-only-1.0.0.tgz
  test/cli/install/dep-linux-1.0.0.tgz
  test/cli/install/dep-linux-2.0.0.tgz
  test/cli/install/dep-linux-only-1.0.0.tgz
  test/cli/install/dep-linux-only-2.0.0.tgz
  test/cli/install/dep-linux-x64-1.0.0.tgz
  test/cli/install/dep-linux-x64-2.0.0.tgz
  test/cli/install/dep-multi-cpu-1.0.0.tgz
  test/cli/install/dep-multi-cpu-2.0.0.tgz
  test/cli/install/dep-not-arm64-1.0.0.tgz
  test/cli/install/dep-not-arm64-2.0.0.tgz
  test/cli/install/dep-not-linux-1.0.0.tgz
  test/cli/install/dep-not-linux-2.0.0.tgz
  test/cli/install/dep-ppc64-1.0.0.tgz
  test/cli/install/dep-ppc64-3.0.0.tgz
  test/cli/install/dep-universal-1.0.0.tgz
  test/cli/install/dep-universal-2.0.0.tgz
  test/cli/install/dep-universal-3.0.0.tgz
  test/cli/install/dep-win32-1.0.0.tgz
  test/cli/install/dep-win32-3.0.0.tgz
  test/cli/install/dep-x64-1.0.0.tgz
  test/cli/install/dep-x64-2.0.0.tgz
  test/cli/install/dep-x64-darwin-1.0.0.tgz
  test/cli/install/dep-x64-darwin-3.0.0.tgz
  test/cli/install/dep-x64-linux-1.0.0.tgz
  test/cli/install/dep-x64-only-1.0.0.tgz
  test/cli/install/dep-x64-only-2.0.0.tgz
Labels: claude

#22899 feat: add test.serial() API for forcing serial test execution
  packages/bun-types/test.d.ts
  src/bun.js/test/ScopeFunctions.zig
  src/bun.js/test/bun_test.zig
  src/bun.js/test/jest.classes.ts
  test/js/bun/test/test-serial.test.ts
Labels: claude

#22951 Fix double slash in error stack traces when root_path has trailing slash
  src/bun.js/bindings/ZigStackFrame.zig
Labels: claude

#22985 Fix bun_dependency_versions.h regenerating on every CMake run
  cmake/tools/GenerateDependencyVersions.cmake
Labels: claude

#22960 feat(windows): implement authenticode stripping for --compile
  src/StandaloneModuleGraph.zig
  src/pe.zig
Labels: claude

#22701 Fix server stability issue with oversized requests
  src/bun.js/api/server.zig
  test/regression/issue/22353.test.ts
Labels: claude

#23083 docs: add v1.2.22 features to documentation
  docs/api/redis.md
  docs/api/websockets.md
  docs/cli/run.md
  docs/install/workspaces.md
Labels: claude

#23096 docs: add missing v1.2.13 features to documentation
  docs/api/redis.md
  docs/api/workers.md
  docs/cli/run.md
Labels: claude

#23119 fix(test): update error message assertion for git clone failure
  test/cli/install/bun-install.test.ts
Labels: claude

#23087 docs: add missing v1.2.19 features to documentation
  docs/api/glob.md
  docs/install/npmrc.md
Labels: claude

#23095 docs: add zstd compression documentation for v1.2.14
  docs/api/fetch.md
  docs/api/utils.md
Labels: claude

#23127 fix(lint): resolve no-unused-expressions errors
  oxlint.json
  src/js/bun/sqlite.ts
  src/js/internal/util/inspect.js
  src/js/node/_http_incoming.ts
  src/js/node/_http_server.ts
  src/js/node/child_process.ts
  src/js/node/fs.ts
  src/js/node/tls.ts
  src/js/node/url.ts
  src/js/thirdparty/node-fetch.ts
  src/js/thirdparty/ws.js
Labels: claude
