Repository oven-sh/bun, pull requests merged in 2025-05, with the labels that each got.

#19488 @types/bun: Improvements to Bun.SQL
  packages/bun-types/bun.d.ts
  packages/bun-types/globals.d.ts
  test/integration/bun-types/fixture/spawn.ts
  test/integration/bun-types/fixture/sql.ts
  test/integration/bun-types/fixture/utilities.ts
Labels: types, sql

#19655 Use `"module": "Preserve"`
  .gitattributes
  bench/express/tsconfig.json
  bench/postgres/tsconfig.json
  docs/guides/runtime/typescript.md
  docs/quickstart.md
  docs/typescript.md
  src/cli/init/tsconfig.default.json
  src/init/react-app/tsconfig.json
  src/init/react-shadcn/tsconfig.json
  src/init/react-tailwind/tsconfig.json
Labels: types

#19740 Fix aarch64 linux build
  src/bun.js/jsc.zig
Labels: codex

#19764 Fix FileHandle kFd sharing
  src/js/internal/fs/FileHandle.ts
Labels: codex

#19777 Fix RuntimeError.from return value
  packages/bun-error/runtime-error.ts
  test/js/bun/runtime-error.test.ts
Labels: codex

#19827 Replace string runtime flags with enum
  src/bake/DevServer.zig
  src/bun.js/ModuleLoader.zig
  src/bun.js/VirtualMachine.zig
  src/bun.js/api/bun/dns_resolver.zig
  src/bun.js/api/bun/subprocess.zig
  src/bun.js/webcore/blob/copy_file.zig
  src/bun.zig
  src/bun_js.zig
  src/bundler/bundle_v2.zig
  src/cli.zig
  src/cli/test_command.zig
  src/feature_flags.zig
  src/install/extract_tarball.zig
  src/install/install.zig
  src/linux.zig
  src/macho.zig
  src/perf.zig
  src/shell/Builtin.zig
  src/transpiler.zig
  src/valkey/js_valkey.zig
Labels: codex

#19766 Add BUN_OPTIONS env var
  src/bun.zig
  test/cli/env/bun-options.test.ts
Labels: codex

#19966 Fix net.listen backlog arg & add Node test
  src/js/node/net.ts
  test/js/node/test/sequential/test-net-server-bind.js
Labels: codex

#19972 Add node server close test
  src/js/node/net.ts
  test/js/node/test/parallel/test-net-server-close.js
Labels: codex

#19987 Fix pauseOnConnect semantics for node:net server
  src/js/node/net.ts
  test/js/node/test/parallel/test-net-server-pause-on-connect.js
Labels: codex

#19975 Fix net close event and add reconnect test
  src/js/node/net.ts
  test/js/node/test/parallel/test-net-reconnect.js
Labels: codex

#20031 Fix http socket encoding check
  src/js/node/_http_server.ts
  test/js/node/parallel/test-http-socket-encoding-error.js
Labels: codex

#20039 Fix setSourceMapsEnabled node test
  src/bun.js/bindings/BunProcess.cpp
  src/bun.js/bindings/BunProcess.h
  test/js/node/test/parallel/test-process-setsourcemapsenabled.js
Labels: codex

#19255 feat: additional jest types in bun test
  packages/bun-types/test.d.ts
Labels: types

#19410 More comments in the socket type definition
  packages/bun-types/bun.d.ts
  packages/bun-types/test.d.ts
  test/integration/bun-types/fixture/test.ts
Labels: types

#20094 fix: missing "default" export in module "data.yml"
  docs/runtime/plugins.md
Labels: docs
