Repository oven-sh/bun, pull requests merged in 2025-02, with the labels that each got.

#16895 fix(node/assert): port more test cases from node
  .vscode/launch.json
  src/bun.js/bindings/BunObject.cpp
  src/bun.js/bindings/bindings.cpp
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/headers-handwritten.h
  src/bun.js/test/expect.zig
  src/js/internal/assert/assertion_error.ts
  src/js/internal/primordials.js
  src/js/node/assert.ts
  test/harness.ts
  test/js/bun/bun-object/deep-equals.spec.ts
  test/js/bun/test/expect.test.js
  test/js/bun/test/jest.d.ts
  test/js/node/assert/assert.spec.ts
  test/js/node/assert/assert.test.ts
  test/js/node/harness.ts
  test/js/node/test/parallel/needs-test/test-assert-calltracker-getCalls.js
  test/js/node/test/parallel/needs-test/test-assert-checktag.js
  test/js/node/test/parallel/needs-test/test-assert-deep-with-error.js
  test/js/node/test/parallel/needs-test/test-assert-esm-cjs-message-verify.js
  test/js/node/test/parallel/needs-test/test-assert-fail.js
  test/js/node/test/parallel/needs-test/test-assert-if-error.js
  test/js/node/test/parallel/test-assert-calltracker-calls.js
  test/js/node/test/parallel/test-assert-calltracker-report.js
  test/js/node/test/parallel/test-assert-calltracker-verify.js
Labels: node:assert

#17475 chore(net): add TCP/TLS to feature indicators
  src/analytics/analytics_thread.zig
  src/bun.js/api/bun/socket.zig
Labels: bun:tcp

#17478 Fix EINVAL when setting IPv6 multicast membership
  packages/bun-usockets/src/bsd.c
  src/bun.js/api/bun/udp_socket.zig
  test/js/node/dgram/node-dgram.test.js
Labels: node:dgram

#17154 feat(node/net): add `SocketAddress`
  src/bun.js/api/bun/socket.zig
  src/bun.js/api/bun/socket/SocketAddress.zig
  src/bun.js/api/bun/udp_socket.zig
  src/bun.js/api/server.zig
  src/bun.js/api/sockets.classes.ts
  src/bun.js/bindings/BunCommonStrings.h
  src/bun.js/bindings/BunString.cpp
  src/bun.js/bindings/JSSocketAddress.zig
  src/bun.js/bindings/JSSocketAddressDTO.cpp
  src/bun.js/bindings/JSSocketAddressDTO.h
  src/bun.js/bindings/ZigGlobalObject.cpp
  src/bun.js/bindings/ZigGlobalObject.h
  src/bun.js/bindings/bindings.zig
  src/bun.js/bindings/generated_classes_list.zig
  src/bun.js/node/node_net_binding.zig
  src/bun.js/node/nodejs_error_code.zig
  src/codegen/class-definitions.ts
  src/deps/c_ares.zig
  src/deps/uws.zig
  src/js/internal/net.ts
  src/js/node/net.ts
  src/jsc.zig
  src/string.zig
  src/string/WTFStringImpl.zig
  test/js/bun/http/serve.test.ts
  test/js/bun/udp/udp_socket.test.ts
  test/js/node/net/socketaddress.spec.ts
  test/js/node/test/parallel/needs-test/test-socketaddress.js
Labels: enhancement, node:net

#17638 fix(node/net): better `net.Server` compatibility
  src/js/internal/streams/state.ts
  src/js/node/net.ts
  test/js/node/net/server.spec.ts
Labels: node:net

#17683 feat(build): `PluginBuilder` supports method chaining
  packages/bun-types/bun.d.ts
  src/bun.js/bindings/BunPlugin.cpp
  src/bun.js/bindings/JSBundlerPlugin.cpp
  src/js/builtins/BundlerPlugin.ts
  test/bundler/native-plugin.test.ts
  test/js/bun/plugin/plugins.test.ts
Labels: bake:prod

#17685 fix(bundler): bundling invalid html / export star as / react refresh fixes
  src/HTMLScanner.zig
  src/bake/DevServer.zig
  src/bake/client/overlay.css
  src/bake/hmr-module.ts
  src/bundler/bundle_v2.zig
  src/js_parser.zig
  src/js_printer.zig
  test/bake/bake-harness.ts
  test/bake/dev-and-prod.test.ts
  test/bake/dev/bundle.test.ts
  test/bake/dev/esm.test.ts
  test/bake/dev/react-spa.test.ts
Labels: bundler

#15248 Document workspace version publishing behavior
  docs/install/workspaces.md
Labels: docs, bun install

#17753 fix(ipc): check for empty IPC messages
  src/bun.js/ipc.zig
Labels: node:child_process
